﻿<template>
    <div class="anketa-group-input-cart-count">
        <a @click="decrement">
            <i class="glyphicon glyphicon-minus" aria-hidden="true"></i>
        </a>
        <input type="number" :min="minimum" :max="maximum" class="form-control" style="margin: 0;" v-model="currentValue" />
        <a @click="increment">
            <i class="glyphicon glyphicon-plus" aria-hidden="true"></i>
        </a>
    </div>
</template>

<script>
    export default {
        props: {
            value: Number,
        },
        data: function () {
            return {
                currentValue: 1,
                minimum: 1,
                maximum: 99
            };               
        },
        methods: {
            decrement() {
                if (this.value > this.minimum) this.currentValue--;
            },
            increment() {
                if (this.currentValue < this.maximum) this.currentValue++;
            },        
        },
        watch: {
            currentValue: function(v) {
                this.$emit('input', v);
                this.$emit('change', v);
            }
        },
        created() {
            this.currentValue = this.value;
        }

    };
</script>