﻿<template>
    <div v-if="countryList.length > 0">
        <div class="row">
            <div class="col-md-8">
               <v-select :options="countryList" :clearable="false" label="country" v-model="currentCountry">
                   <template v-slot:option="option">
                       <i :class="getCountryIcon(option.IsoCode)"></i> {{ option.Country }}
                   </template>
                   <template v-slot:selected-option="option">
                       <i :class="getCountryIcon(option.IsoCode)"></i>&nbsp;&nbsp;{{ option.Country }}
                   </template>
               </v-select>
            </div>
        </div>
    </div>
</template>

<script>
    import vSelect from 'vue-select'
    import 'vue-select/dist/vue-select.css'

    export default {
        components: {
            vSelect,
        },
        props: {
            value: [String, Object]
        },
        data: function () {
            return {
                countryList: [],
                currentCountry: null,
            }
        },
        methods: {
            getCountryIcon(isoCode) {
                if (isoCode.toLowerCase() === 'all') {
                    return [
                        'glyphicon',
                        'glyphicon-globe',
                    ];
                }

                return [
                    'flag-icon',
                    'flag-icon-' + isoCode.toLowerCase(),
                ];
            }
        },
        watch: {
            currentCountry: function (v) {
                this.$emit('input', v !== null ? v.IsoCode : null);
            },
        },
        created() {
            if (typeof window.appData !== 'undefined' && typeof window.appData.countryList !== 'undefined') {
                this.countryList = [];
                Object.assign(this.countryList, window.appData.countryList);
                this.countryList.push({
                    Active: false,
                    Code: '',
                    Country: 'Другая страна',
                    IsoCode: 'ALL',
                    Mask: '',
                });
            }

            let country = this.value;
            if (country === null) country = 'RU';

            let selectedCountry = this.countryList.find((e) => {
                return e.IsoCode === country;
            });

            if (typeof selectedCountry !== 'undefined') {
                this.currentCountry = selectedCountry;
            }
        }
    }
</script>