﻿<template>
    <div>
        <button v-if="!checkRequired" class="btn btn-primary btn-sm" @click="checkEmail">Подтвердить</button>
        <div class="row" v-if="checkRequired">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <input type="text" class="form-control" maxlength="5" placeholder="Код из письма" v-model="code" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="visible-xs" style="margin-top: 5px;"></div>
                <button class="btn btn-primary btn-sm" @click="checkCode">Подтвердить</button>
                <button class="btn btn-default btn-sm" @click="resendCode">Переотправить</button>
            </div>
        </div>
    </div>
</template>

<script>
    import fetch from 'isomorphic-fetch'
    import ClientVerificationTokens from './mixins/clientVerificationTokens'

    export default {
        mixins: [
            ClientVerificationTokens
        ],
        props: {
            email: String,
        },
        data: function () {
            return {
                code: '',
                sendedTo: [],
            };
        },
        computed: {
            normalizedEmail() {
                const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
                let email = this.email !== null ? this.email.toLowerCase().trim() : '';
                if (email.length > 0 && re.test(email)) return email;
                return null;
            },
            checkRequired() {
                return this.sendedTo.indexOf(this.normalizedEmail) > -1;
            },
        },
        methods: {
            resendCode(e) {
                this.checkEmail(e);
            },
            checkEmail(e) {
                e.preventDefault();

                let email = this.normalizedEmail;
                if (email === null) {
                    alert('Электронная почта введена неправильно.');
                } else {
                    this.sendedTo.push(email);

                    fetch('/Account/RequestConfirmationCode', {
                        method: 'post',
                        body: JSON.stringify({
                            email: email,
                        }),
                        headers: this.getRequestHeaders(),
                    }).then(response => response.json()).then(response => {
                        if (!response.success) {
                            this.deleteFromSended(email);
                            alert(response.message);
                        }
                    });
                }            
            },
            checkCode(e) {
                e.preventDefault();
                if (this.code.length === 5) {
                    fetch('/Account/CheckConfirmationCode', {
                        method: 'post',
                        headers: this.getRequestHeaders(),
                        body: JSON.stringify({
                            email: this.email,
                            verificationCode: this.code,
                        }),
                    }).then(response => response.json()).then(response => {
                        if (!response.success) alert(response.message);
                        else this.$emit('confirmed', this.email);
                    });                    
                }
            },
            deleteFromSended(email) {
                let index = this.sendedTo.indexOf(email);
                if (index > -1) this.sendedTo.splice(index, 1);
            },
        }
    };
</script>