﻿<template>
    <div :class="loaderClass">
        <div :class="className">
            <div class="icon"></div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            size: [String],
            fullscreen: {
                type: Boolean,
                default: false,
            }
        },
        computed: {
            isFullScreen: function () {
                return this.fullscreen;
            },
            className: function () {
                if (typeof this.size !== 'undefined') return 'anketa-loding-' + this.size;
                return 'anketa-loding-sm';
            },
            loaderClass: function () {
                if (this.isFullScreen) {
                    return 'fullscreen';
                }
                return null;
            },
        }
    };
</script>

<style>
    .fullscreen {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99999999;

        div {
                position: absolute;
                left: 50%;
                top: 45%;
            }
    }
</style>