﻿<template>
    <div class="modal fade anketa-modal-dialog" tabindex="-1" role="dialog" data-backdrop="static" ref="modal">
        <div class="modal-dialog" :class="modalClass" role="document" :style="xStyle">
            <div class="modal-content">
                <div class="modal-header">
                    <button @click="close" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">
                        <slot name="title"></slot>
                    </h4>
                </div>
                <div class="modal-body main">
                    <template v-if="showModal">
                        <slot></slot>
                    </template>
                </div>
                <div class="modal-footer" v-if="hasFooter">
                    <slot name="footer"></slot>
                </div>
                <div class="clearfix"></div>
            </div>            
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            small: {
                type: Boolean,
                default: false,
            },
            xStyle: {
                type: String,
                default: '',
            }
        },
        data: function() {
            return {
                showModal: false,
            };
        },
        computed: {
            modalClass: function () {
                return !this.small ? 'modal-lg' : 'modal-sm';
            },
            hasFooter() {
                return 'footer' in this.$slots;
            },
        },
        methods: {
            openDialog() {
                this.showModal = true;
                jQuery(this.$refs.modal).modal();
            },
            closeDialog() {
                this.showModal = false;
                jQuery(this.$refs.modal).modal('hide');
                this.$emit('closed');
            },
            close(e) {
                e.preventDefault();
                this.closeDialog();
            },
        },
        mounted() {
            jQuery(this.$refs.modal).on('shown.bs.modal', () => {
                this.$emit('shown');
            });

            jQuery(this.$refs.modal).on('hide.bs.modal', () => {
                this.$emit('hide');
            });
        },
    };
</script>

<style>
    .anketa-modal-dialog {
        padding-right: unset !important;
    }
</style>