﻿<template>
    <div>
        <button v-if="!checkRequired" class="btn btn-primary btn-sm" @click="checkPhone">Подтвердить</button>
        <div class="row" v-if="checkRequired">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                <input type="text" class="form-control" maxlength="5" placeholder="Введите код из СМС" v-model="code" />
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <div class="visible-xs" style="margin-top: 5px;"></div>
                <button class="btn btn-primary btn-sm" @click="checkCode">Подтвердить</button>
                <button class="btn btn-default btn-sm" @click="resendCode">Переотправить</button>
            </div>
        </div>
    </div>   
</template>

<script>
    import fetch from 'isomorphic-fetch'
    import ClientVerificationTokens from './mixins/clientVerificationTokens'

    export default {
        mixins: [
            ClientVerificationTokens,
        ],
        props: {
            phone: String,
        },
        data: function () {
            return {
                code: '',
                sendedTo: [],
            };
        },
        computed: {
            mobilePhone: function () {
                let phone = '+' + this.normalizedPhone.replace(/[^\d]/g, '');
                return phone;
            },
            checkRequired: function () {
                return this.sendedTo.indexOf(this.mobilePhone) > -1;
            },
            normalizedPhone() {
                return this.phone !== null ? this.phone : '';
            },
        },
        methods: {
            resendCode(e) {
                this.checkPhone(e);
            },
            checkPhone(e) {
                e.preventDefault();

                let phone = this.mobilePhone;
                if (phone.match(/\+79\d{9}/)) {
                    this.sendedTo.push(phone);
                    fetch('/Account/RequestConfirmationCode/', {
                        method: 'post',
                        body: JSON.stringify({
                            phone: phone,
                        }),
                        headers: this.getRequestHeaders(),
                    }).then(response => response.json()).then(response => {
                        if (!response.success) {
                            this.deleteFromSended(phone);
                            alert(response.message);
                        } else {
                            this.$emit('code-sended', true);
                        }
                    });
                } else {
                    this.deleteFromSended(phone);
                    alert('Подтвердить можно только мобильные номера Российской Федерации,<br />записанные в международном формате +7-9XX-XXX-XX-XX.<br />Если Вы нерезидент РФ, то Вы можете подтвердить электронную почту.');
                }
            },
            checkCode(e) {
                e.preventDefault();
                if (this.code.length === 5) {
                    let phone = this.mobilePhone;

                    fetch('/Account/CheckConfirmationCode', {
                        method: 'post',
                        headers: this.getRequestHeaders(),
                        body: JSON.stringify({
                            phone: phone,
                            verificationCode: this.code,
                        }),
                    })
                        .then(response => response.json())
                        .then(response => {
                            if (!response.success) {
                                alert(response.message);
                            }
                            else {
                                this.$emit('confirmed', phone);
                            }
                        });
                }
            },
            deleteFromSended(phone) {
                let index = this.sendedTo.indexOf(phone);
                if (index > -1) this.sendedTo.splice(index, 1);
            }
        }
    };
</script>