﻿<divc style="font-size:18px;padding:10px;">
    Если у Вас возникли сложности с регистрацией, то срочно свяжитесь с нами! Наши менеджеры помогут решить все вопросы!<br />
    Связаться можно здесь: <a href="https://batutmaster.ru/kontakty" target="_blank">контакты</a>
</divc>



