﻿<template>
    <div style="position:relative;"
         @mouseover="hovered = true;"
         @mouseleave="hovered = false;">
        <input :disabled="isReadOnly" :readonly="isReadOnly" @focus="focused = true" @blur="focused = false" type="text" class="form-control" :placeholder="placeholder" ref="suggest" @input="addressChanged($event.target.value)" />
        <template v-if="isVisibleHistory && !isReadOnly">
            <div class="address-input-history">
                <ul>
                    <li v-for="item in requestHistoryAddress" v-on:click="addressChangedHistory(item);">
                        {{ item }}
                    </li>
                </ul>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        props: {
            placeholder: {
                type: String,
                default: ""
            },
            value: String,
            requestHistory: {
                type: Array,
                default: []
            },
            isReadOnly: {
                type: Boolean,
                default: false
            }
        },
        data: function () {
            return {
                currentAddress: this.value,
                focused: false,
                hovered: false,
                isStopSuggest: true,
                requestHistoryAddress: []
            };
        },
        watch: {
            requestHistory() {
                this.requestHistoryAddress = this.getRequestHistory();
            },
            value() {
                if (this.isReadOnly) {
                    this.isStopSuggest = false;
                    this.$refs.suggest.value = this.value;
                    setTimeout(() => { this.isStopSuggest = true; }, 500)
                }
            }

        },
        computed: {
            isVisibleHistory() {
                return this.requestHistory.length > 0 && (this.focused || this.hovered) && (this.currentAddress === null || this.currentAddress.length === 0);
            }
        },
        methods: {
            addressChanged: function (v) {
                this.$emit('input', v);
                this.currentAddress = v;
            },
            addressChangedHistory(v) {
                this.isStopSuggest = false;
                this.$emit('input', v);
                this.currentAddress = v;
                this.$refs.suggest.value = this.currentAddress;
                setTimeout(() => { this.isStopSuggest = true; }, 2000)

            },
            getRequestHistory() {
                let list = this.requestHistory;
                let listHistory = localStorage.getItem("addressRequestHistory");
                if (listHistory !== undefined && listHistory !== null)
                    listHistory = JSON.parse(listHistory);
                else
                    listHistory = [];

                let unique = (arr) => {
                    let result = [];

                    for (let str of arr) {
                        if (!result.includes(str)) {
                            result.push(str);
                        }
                    }

                    return result;
                }

                list.concat(listHistory);
                list = unique(list);
                list = list.slice(0, 5);

                return list;
            },
            addRequestHistory(item) {
                let list = this.getRequestHistory();

                if (list.indexOf(item.trim()) !== -1) return;

                list.unshift(item.trim());
                localStorage.setItem("addressRequestHistory", JSON.stringify(list.slice(0, 5)));
                this.requestHistoryAddress = list.slice(0, 5);
            }
        },
        mounted: function () {
            this.$refs.suggest.value = this.currentAddress;
        },
        created: function () {
            if (window.appData.disableYandexSuggestions !== true) {
                if (typeof window.ymaps === 'undefined') {
                    window.ymaps = { init: true };

                    let api = document.createElement('script');
                    api.src = "https://api-maps.yandex.ru/2.1/?lang=ru_RU&apikey=8420b7f7-1a1e-46bc-b0a4-940c0ae1073c";
                    document.body.appendChild(api);
                }

                let applySuggestions = () => {
                    if (typeof window.ymaps.init !== 'undefined') {
                        setTimeout(applySuggestions, 200);
                        return;
                    }

                    let myProvider = {
                        suggest: (request, options) => {
                            if (!this.isStopSuggest) request = "";
                            return ymaps.suggest(request);
                        }
                    };

                    ymaps.ready(() => {

                        let suggestView = new ymaps.SuggestView(this.$refs.suggest, { provider: myProvider });
                        suggestView.events.add('select', (e) => {
                            this.addressChanged(e.get('item').value);
                            this.addRequestHistory(e.get('item').value)
                        });
                    });

                };

                applySuggestions();
            }
            this.requestHistoryAddress = this.getRequestHistory();
        },
    };
</script>

<style lang="scss">
    .address-input-history {
        position: absolute;
        z-index: 99;
        left: 0;
        right: 0;
        top: calc(100% - 2px);
        width: 100%;
        background: white;
        font: 13px/28px Arial,sans-serif;
        box-sizing: border-box;
        border: 1px solid #e5e5e5;
        padding: 0;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        touch-action: none;
        box-shadow: 0 10px 20px -5px rgba(0,0,0,.2) !important;
        ul

    {
        margin-left: 0;
        padding-left: 0;
        li

    {
        cursor: pointer;
        list-style-type: none;
        padding: 4px 5px;
        &:hover

    {
        background: #ffeba0;
    }

    }
    }
    }
</style>