﻿<template>
    <div>
        <input type="checkbox" :id="id" v-model="currentValue" />
        <label :for="id"><slot></slot></label>
    </div>
</template>

<script>
    export default {
        props: {
            value: {},
            id: String,
        },
        computed: {
            currentValue: {
                get: function() {
                    return this.value;
                },
                set: function(v) {
                    this.$emit('input', v);
                },
            },
        }
    };
</script>
