﻿<template>
    <div>
        <input type="text" class="form-control" v-bind:value="value" @input="$emit('input', $event.target.value)" />
    </div>
</template>

<script>
    export default {
        props: {
            value: String,
        },        
    };
</script>