﻿<template>
    <div>
        <input type="radio" :name="name" :id="elementId" v-model="currentValue" :value="val" />
        &nbsp;<label :for="elementId"><slot></slot></label>
    </div>
</template>

<script>
    export default {
        props: {
            id: {},
            name: String,
            value: {},
            val: {},
        },
        data: function () {
            return {
                elementId: this.id,
            }
        },
        computed: {
            currentValue: {
                get: function () {
                    return this.value;
                },
                set: function (v) {
                    this.$emit('input', v);
                },
            },
        },
        created() {
            if (typeof this.elementId === 'undefined') {
                let rand = Math.floor(Math.random() * (100000 - 10000)) + 100000;
                this.elementId = rand;
            }        
        },
    };
</script>