﻿<template> 
    <div class="a-text-input">
        <input type="text" v-bind="$attrs" :class="inputClass" ref="inputElement" v-model="content" @input="$emit('input', $event.target.value)" />
        <a class="input-clear" href="javascript:void(0);" v-if="clearable" v-show="!contentIsEmpty" @click="clearInput">&times;</a>
    </div>    
</template>

<script>
    export default {
        inheritAttrs: false,
        props: {
            clearable: {
                type: Boolean,
                default: true,
            },
            xClass: {
                type: String,
                default: null,
            },
            value: {}
        },
        data: function () {
            return {
                content: null,
            };
        },
        computed: {
            inputClass() {
                // Переносим переданные классы
                let classes = this.xClass.split(/\s+/g);
                let classList = {};
                for (let cls of classes) classList[cls] = true;

                // Добавляем свои классы
                if (this.clearable) classList['input-clear'] = true;

                return classList;
            },
            contentIsEmpty() {
                return this.value === null || this.value.length === 0;
            },
        },
        watch: {
            value: function(v) {
                this.content = v;
            },            
        },
        methods: {
            clearInput() {
                this.$emit('input', null);
                this.$refs.inputElement.focus();
            },
        },
        created() {
            this.content = this.value;
        },
    };
</script>

<style>
    .a-text-input {
        width: 100%;

        input.input-clear {
            padding-right: 25px;
        }

        a.input-clear {
            color: #f00;
            text-decoration: none !important;
            position: absolute;
            right: 25px;
            top: calc(100% / 2 - 12px);
            font-size: 1.25em;
        }
    }
</style>