﻿<template>
    <div class="list-group">

        <template v-for="item in items">
            <template v-if="item.Name_TK === 'InYourCity'">
                <div class="bm-deliver-result delivery-other">
                    <div class="delivery-result-items delivery-result-items-header delivery-other" >
                        <span class="delivery-result-items-name">
                            <strong>Компания</strong>
                        </span>
                        <span class="delivery-result-items-city">
                            <strong>Город доставки</strong>
                        </span>
                        <span class="delivery-result-items-time">
                            <strong>Срок от, дней</strong>
                        </span>
                        <span class="delivery-result-items-price">
                            <strong>Стоимость, руб.</strong>
                        </span>
                        <span v-if="isOrder" class="delivery-result-items-btn">
                        </span>
                    </div>
                    <div class="delivery-result-items delivery-other">
                        <span class="delivery-result-items-name">
                            <template v-if="TargetedDelivery">
                                Доставка по городу
                            </template>
                            <template v-else>
                                Самовывоз со склада
                            </template>
                        </span>
                        <span class="delivery-result-items-city">
                            <strong class="delivery-result-items-label">Город доставки: </strong>
                            Груз в вашем городе
                        </span>
                        <span class="delivery-result-items-time">
                            <strong class="delivery-result-items-label">Срок от, дней: </strong>
                            {{ timeDilivery }}
                        </span>
                        <span class="delivery-result-items-price">
                            <strong class="delivery-result-items-label">Стоимость, руб.: </strong>
                            {{ (+priceDilivery).format() }}
                        </span>
                        <span v-if="isOrder" class="delivery-result-items-btn">
                            <a href="javaScript:void(0)" v-on:click="chooseDelivery(item)" class="btn btn-success btn-xs w-100 clearfix">Выбрать</a>
                        </span>
                    </div>
                </div>
            </template>
            <template v-else-if="item.Name_TK === 'finish'">
                <div class="alert alert-success text-center" role="alert" style="margin-top: 5px !important;">
                    <h4><strong>Доставка под ключ</strong></h4>
                    Если Вы не нашли подходящего для Вас варианта доставки, свяжитесь с нами, перейдя по этой <a :href="urlContact" target="_blank">ссылке</a>.
                </div>
            </template>
        </template>
    </div>

</template>

<script>
    export default {
        name: "delivery-result-other",
        props: ["items", "TargetedDelivery", "products", "isOrder", "ShippingAddress"],
        computed: {
            priceDilivery: function () {
                let isTargeteDelivery = (this.TargetedDelivery === true ? true : false);
             

                if (!isTargeteDelivery) return 0;
                let price = 200;
                let weight = 0;

                for (let item of this.products) {
                    weight += item.Weight * parseInt(item.Count);
                }

                if (weight > 60)
                    price = 600;

                return price;
            },
            timeDilivery: function () {
                let isTargeteDelivery = (this.TargetedDelivery === true ? true : false);
                if (!isTargeteDelivery) return 1;

                return 3;
            },
            urlContact() {
                return document.sites[0].url.replace(/\/$/g, '') + '/kontakty#contacts'
            }
        },
        methods: {
            chooseDelivery(item) {
                item.Country = "Россия";
                item.City = this.ShippingAddress;
                item.price = this.priceDilivery;
                item.time = this.timeDilivery;
                this.$emit('input', item);

            }
        }
    }
</script>

<style>

    .delivery-result-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .delivery-result-items-label

    {
        display: none;

        @media all and (max-width: 770px) {
            display:initial;
        }
    }


    &.delivery-result-items-header {
        @media all and (max-width: 770px) {
            display:none;
        }
    }

    .delivery-result-items-name {
        width: 25%;
    }

    .delivery-result-items-city {
        width: 25%;
    }

    .delivery-result-items-time {
        width: 15%;
    }

    .delivery-result-items-price {
        width: 15%;
    }

    .delivery-result-items-btn {
        width: 15%;

        @media all and (max-width: 770px) {
            text-align: center !important;
        }
    }

    span {
        text-align: center;

        @media all and (max-width: 770px) {
            width: 100% !important;
            text-align: left;
        }
    }

    @media all and (max-width: 770px) {
        flex-direction: column;
        justify-content: space-between;
    }

    }
    .delivery-other {
        margin-top: 5px;
        padding: 5px 10px;
        border: 1px solid #004085;
    }

        .delivery-other h4 {
            color: #004085;
        }

    .delivery-item-btn {
        float: none;
        display: flex;
        min-height: 70px;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .delivery-indirect {
        margin-top: 5px;
        padding: 5px 10px;
        border: 1px solid #004085;
    }

        .delivery-indirect h4 {
            color: #004085;
        }

    .delivery-other {
        margin-top: 5px;
        padding: 5px 10px;
        border: 1px solid rgba(154, 35, 160, 1);
    }

        .delivery-other h4 {
            color: rgba(154, 35, 160, 1) !important;
        }

    .delivery-alt {
        margin-top: 5px;
        padding: 5px 10px;
        border: 1px solid #155724;
    }

        .delivery-alt h4 {
            color: #155724;
        }

    .bm-deliver-result {
        .table

    {
        border: 1px solid;
        tr

    {
        th

    {
        padding: 3px;
        text-align: center;
    }

    td {
        padding: 3px;
        border-top: 1px solid;
        text-align: center;
    }

    }
    }
    }



    .delivery-other {
        border-color: rgba(154, 35, 160, 1) !important;
        tr

    {
        td

    {
        padding: 3px;
        border-top: 1px solid rgba(154, 35, 160, 1) !important;
        text-align: center;
    }

    }
    }
</style>