﻿<template>
    <div class="delivery-pages">
        <template v-if="delivery.Product !== null && delivery.Product.length > 0">
            <div class="form-group row" v-if="isVisible">
                <label class="col-md-2 control-label2 required">Откуда:</label>
                <div class="col-md-10">
                    <div class="bm-radio-button-selection">
                        <div class="price-delivery-options">
                            <span>
                                <input id="ShippingAddress_chita" type="radio" value="Чита" v-model="delivery.ShippingAddress">
                                <label for="ShippingAddress_chita">
                                    г. Чита
                                </label>
                            </span>
                            <span>
                                <input id="ShippingAddress_moskov" type="radio" value="Москва" v-model="delivery.ShippingAddress">
                                <label for="ShippingAddress_moskov">
                                    г. Москва
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group  row" v-if="isVisible">
                <label class="col-md-2 control-label2 required">Адрес доставки:</label>
                <div class="col-md-10">
                    <address-input v-model="delivery.DeliveryAddress" placeholder="Адрес доставки" :request-history="requestHistory"></address-input>
                </div>
            </div>
            <div class="form-group row" v-if="isVisible">
                <label class="col-md-2 control-label2 required">Куда доставить?</label>
                <div class="col-md-10">
                    <div class="bm-radio-button-selection">
                        <div class="price-delivery-options">
                            <span>
                                <input id="TargetedDelivery" type="radio" value=false v-model="delivery.TargetedDelivery">
                                <label for="TargetedDelivery">
                                    Доставить до терминала
                                </label>
                            </span>
                            <span>
                                <input id="TargetedDeliveryAddress" type="radio" value=true v-model="delivery.TargetedDelivery">
                                <label for="TargetedDeliveryAddress">
                                    Доставить до дома
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <template v-if="products.length > 0">
                <div class="form-group row">
                    <div class="col-md-12">
                        <delivery-product :products="delivery.Product" :is-order="isOrder"></delivery-product>
                    </div>
                </div>
            </template>
            <template v-else>
                <loader></loader>
            </template>
            <div class="form-group row" v-if="isUpdate">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        Данные изменены нажмите "Рассчитать"
                    </div>
                </div>
            </div>
            <div class="form-group  row text-right" v-if="!isOrder && products.length > 0">
                <div class="col-md-3 col-lg-offset-6" style="padding: 3px;">
                    <a v-if="!isSite" href="/Cart" class=" btn btn-success btn-block">Перейти в корзину</a>
                </div>
                <div class="col-md-3" style="padding: 3px;">
                    <a v-if="!isSite" href="javaScript:void(0)" class="btn btn-primary btn-block" @click="getSessionId">
                        Рассчитать
                    </a>
                    <a v-else href="javaScript:void(0)" class="bm-button button-success gm-rasschitatdostavka" @click="getSessionId">
                        Рассчитать
                    </a>
                </div>
            </div>
            <div class="form-group row" v-if="errorListIsVisible && errorList.length > 0">
                <div class="col-md-12">
                    <div class="alert alert-danger">
                        <ul class="delivery-error">
                            <li v-for="item in errorList">{{ item }}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </template>
        <template v-else="delivery.Product !== null && delivery.Product.length === 0">
            <div class="alert alert-warning" role="alert">
                Рассчитать доставку нельзя, т.к. вес или объём не указаны. Свяжитесь с нами, мы это исправим!
            </div>
        </template>
        <template v-if="loading">
            <div class="alert alert-success" role="alert">
                <div class="delivery-loding text-center">
                    <loader></loader>
                    <div>
                        Пожалуйста, подождите. Расчёт может занимать до минуты
                    </div>
                </div>
            </div>

        </template>
        <div ref="deliveryAnchor"></div>
        <template v-if="result !== null">

            <template v-if="'direct' in result && result.direct.length > 0">
                <delivery-result-item :items="result.direct" block-class="delivery-direct" :is-order="isOrder" v-model="deliveryModel">
                    <template v-slot:title>
                        Прямые доставки из {{ delivery.ShippingAddress }}
                    </template>
                    <template v-slot:description>
                        Прямая доставка - это доставка сразу до конечного города.
                    </template>
                </delivery-result-item>
            </template>

            <template v-if="'indirect' in result && result.indirect.length > 0 && !delivery.TargetedDelivery">
                <delivery-result-item :items="result.indirect" block-class="delivery-indirect" :is-order="isOrder" v-model="deliveryModel">
                    <template v-slot:title>
                        Доставка в ближайшие города из {{ delivery.ShippingAddress }}
                    </template>
                    <template v-slot:description>
                        Доставка в ближайшие города - это доставка в города, которые находятся рядом с конечным пунктом, и располагают терминалом выдачи заказов. Иногда бывает выгоднее забрать в ближайших городах..
                    </template>
                </delivery-result-item>
            </template>

            <template v-if="'alt' in result && result.alt.length > 0 && !delivery.TargetedDelivery">
                <delivery-result-item :items="result.alt" block-class="delivery-direct" :is-order="isOrder" v-model="deliveryModel">
                    <template v-slot:title>
                        Альтернативные доставки из {{ delivery.ShippingAddress }}
                    </template>
                    <template v-slot:description>
                        Альтернативные доставки - это доставки в города России, которые находятся на границе со страной доставки.
                    </template>
                </delivery-result-item>
            </template>

            <template v-if="'other' in result && result.other.length > 0">
                <delivery-result-other :items="result.other" :shipping-address="ShippingAddress" :targeted-delivery="delivery.TargetedDelivery" :products="products" :is-order="isOrder" v-model="deliveryModel"></delivery-result-other>
            </template>

        </template>
    </div>
</template>

<script>

    import Loader from "../loader.vue"
    import AddressInput from '../elements/address-input.vue'
    import RadioButton from '../elements/radio-button.vue'
    import DeliveryProduct from "./delivery-product.vue"
    import DeliveryResultItem from "./delivery-result-item.vue"
    import DeliveryResultOther from "./delivery-result-other.vue"
    import AddressCheck from '../mixins/address-check'

    export default {
        name: "delivery",
        components: { Loader, RadioButton, AddressInput, DeliveryProduct, DeliveryResultItem, DeliveryResultOther },
        mixins: [AddressCheck],
        props: {
            deliveryConfig: {
                default: null
            },
            isOrder: {
                default: false,
            },
            order: {
                default: null
            }
        },
        data: () => ({
            delivery: {
                ShippingAddress: "Чита",
                DeliveryAddress: null,
                Product: null,
                TargetedDelivery: false
            },
            lastDelivery: "",
            products: [],
            errorList: [],
            errorListIsVisible: false,
            sessionId: null,
            result: null,
            count: 0,
            limit: 30,
            loading: false,
            end: false,
            requestHistory: [],
            deliveryModel: null,
            url: "/Delivery",
            isSite: false,
            isUpdate: false,
            oldProduct: null
        }),
        watch: {
            "delivery": function () {
                this.errorListIsVisible = false;
                if (this.delivery.Product !== null && this.delivery.Product.length > 0) {
                    this.result = null;
                    this.getSessionId();
                }
                //Формирования нового URL
                // TODO: дописать


            },
            'delivery.ShippingAddress': function () {
                this.result = null;
                this.sessionId = null;
                if (!this.isSite) this.getSessionId();
            },
            'delivery.DeliveryAddress': function () {
                this.result = null;
                this.sessionId = null;
                if (!this.isSite) this.getSessionId();
            },
            'delivery.TargetedDelivery': function () {
                this.result = null;
                this.sessionId = null;
                if (!this.isSite) this.getSessionId();
            },
            'delivery.Product': {
                handler: function () {
                    let isUpdate = false;
                    let val = this.delivery.Product;

                    if (this.oldProduct !== null) {
                        let oldVal = JSON.parse(this.oldProduct);
                        if (val.length === oldVal.length) {
                            for (let i of val) {
                                let oI = oldVal.find(item => (item.guid === i.guid));
                                if (oI !== undefined && oI !== null && i.count !== oI.count)
                                    isUpdate = true;
                            }
                        } else {
                            isUpdate = true;
                        }
                    }
             

                    this.oldProduct = JSON.stringify(val);
                    if (isUpdate) {
                        this.result = null;
                        this.sessionId = null;
                        if (!this.isSite) this.getSessionId();
                    }
   
                },
                deep: true
            },
            sessionId: function (nVal, oVal) {
                if (nVal === oVal || nVal === null) return;
                this.count = 0;
                this.loading = true;
                this.end = false;
                this.getResult();
            },
            deliveryModel: function () {
                if (!this.isOrder) return
                this.deliveryModel.IsAddress = this.order?.TargetedDelivery;
                this.deliveryModel.Address = this.address;
                this.deliveryModel.inYourCity = this.inYourCity;
                this.deliveryModel.totalWeight = 0;
                this.deliveryModel.totalVolume = 0;
                this.deliveryModel.shippingAddress = this.delivery.ShippingAddress;

                for (let item of this.products) {
                    this.deliveryModel.totalWeight += item.weight * item.count;
                    this.deliveryModel.totalVolume += item.volume * item.count;
                }

                this.$emit("updateDeliveryOrder", this.deliveryModel);
            },
            
        },
        computed: {
            isVisible() {
                if (this.isOrder) return false;
                if (this.isSite) return false;
                return true;
            },
            isValidForm() {
                this.errorList = [];
                let empty = (f => f === null || f.length === 0);
                if (empty(this.delivery?.ShippingAddress)) this.errorList.push("Выберите место отправки товара");
                if (empty(this.delivery?.DeliveryAddress)) this.errorList.push("Не введен адрес доставки");
                if (empty(this.delivery?.Product)) this.errorList.push("Список товаров не должен быть пустым");

                return this.errorList.length === 0;
            },
            inYourCity() {
                let f = (a, c) => {
                    return a.map((v, i) => {
                        return v[c]
                    })
                };

                let list = f(this.result["other"], "Name_TK");

                return list.indexOf("InYourCity") !== -1;
            }
        },
        methods: {
            loadingProduct() {
                fetch(this.url + "/GetProduct", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(this.delivery.Product),
                }).then((response) => {
                    return response.json();
                }).then((r) => {
                    this.delivery.Product = r;
                    this.products = r;

                });
            },
            getSessionId() {
                if (!this.isValidForm) {
                    this.errorListIsVisible = true;
                    if (this.products.length === 0) {
                        this.loadingProduct();
                    }
                    return;
                }

                if (this.lastDelivery === JSON.stringify(this.delivery))
                    return;



                this.getAddress(this.delivery.DeliveryAddress)
                    .then(result => {
                        if (result !== false) {

                            this.result = null;
                            let country = result?.Country?.CountryName;
                            let administrative = result?.Country?.AdministrativeArea?.AdministrativeAreaName;
                            let city = null;
                            if (typeof result?.Country?.AdministrativeArea?.SubAdministrativeArea?.Locality?.LocalityName !== "undefined")
                                city = result.Country.AdministrativeArea.SubAdministrativeArea.Locality.LocalityName;

                            if (typeof result?.Country?.AdministrativeArea?.Locality?.LocalityName !== "undefined")
                                city = result.Country.AdministrativeArea.Locality.LocalityName;


                            let address = country + ", " + administrative + ", " + city;

                            let data = {
                                IsAddress: this.delivery.TargetedDelivery,
                                DeliveryAddress: address,
                                ShippingAddress: this.delivery.ShippingAddress,
                                ProductsDelivery: this.delivery.Product
                            };

                            fetch(this.url + "/GetSessionId", {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json',
                                },
                                body: JSON.stringify(data),
                            }).then((response) => {
                                return response.json();
                            }).then((r) => {
                                if (r.success) {
                                    this.delivery.Product = r.data.products;
                                    this.products = r.data.products;
                                    this.sessionId = r.data.id;
                                    this.lastDelivery = JSON.stringify(this.delivery);
                                    setTimeout(() => {
                                        this.$refs.deliveryAnchor.scrollIntoView({
                                            behavior: 'smooth',
                                            block: 'start'
                                        });
                                    }, 500);

                                } else {
                                    this.errorListIsVisible = true;
                                    this.errorList = [];
                                    this.errorList.push(r.message);
                                }


                            });

                        } else {
                            this.errorList = [];
                            this.errorList.push("Проверьте правильность введенного адреса!");
                            return;

                        }
                    });



            },
            getResult() {

                if (this.delivery.Product !== null && this.delivery.Product.length === 0) {
                    this.loading = false;
                    this.end = true;
                    return;
                }
                if (this.sessionId === null) {
                    this.result === null;
                    this.loading = false;
                    this.end = true;
                    return;
                }

                fetch(this.url + "/GetResult?id=" + this.sessionId, {
                    method: 'GET',
                }).then((response) => {
                    return response.json();
                }).then((r) => {
                    if (this.sessionId === null) {
                        this.result === null;
                        this.loading = false;
                        this.end = true;
                    } else {
                        if (r.success) {
                            let data = r.data;
                            this.count++;
                            if (('other' in data && data.other.length > 0) || this.count >= this.limit) {
                                this.loading = false;
                                this.end = true;
                            } else {
                                setTimeout(() => { this.getResult(); }, 500)
                            }

                            this.updateResult(data);
                        }
                    }
                });
            },
            updateResult(d) {
                let r = {
                    direct: [],
                    indirect: [],
                    alt: [],
                    other: [],
                };
                this.countResult = 0;
                for (let key in r) {
                    for (let item of d[key]) {
                        this.countResult += item['result'].length;
                        r[key] = r[key].concat(item['result']);
                        r[key] = r[key].sort((a, b) => {
                            let p1 = parseFloat(a.price);
                            let p2 = parseFloat(b.price);
                            if (p1 > p2) return 1;
                            if (p1 < p2) return -1;
                            return 0;
                        });
                    }
                }

                if (typeof document.application !== 'undefined') {
                    document.application.doEvent('updateDeliveryResultBlock', r);
                }

                this.result = r;
            },
        },
        created() {


            if (window?.appData?.delivery !== undefined)
                this.delivery = window.appData.delivery;
            else if (this.deliveryConfig !== undefined && this.deliveryConfig !== null) {
                this.delivery = this.deliveryConfig;
            }

            //  this.getSessionId();

            if (window?.appData?.urlDelivery !== undefined && window?.appData?.urlDelivery !== null) {

                this.url = window.appData.urlDelivery.replace(/\/$/g, '');
            }


            if (window?.appData?.isSite !== undefined && window?.appData?.isSite !== null) {

                this.isSite = window.appData.isSite;
            }

            if (typeof document.application !== 'undefined') {
                document.application.getService('vue-event-handler').then(handler => {
                    handler.$on('updateDeliveryCity', city => {
                        this.delivery.DeliveryAddress = city?.Label;
                        this.result = null;
                        this.getSessionId();
                    });

                    handler.$on('updateDeliveryAnketa', () => {
                        this.products = [];
                        let delivery = null
                        if (window?.appData?.delivery !== undefined)
                            delivery = window.appData.delivery;
                        else if (this.deliveryConfig !== undefined && this.deliveryConfig !== null) {
                            delivery = this.deliveryConfig;
                        }

                        if (delivery !== null) {

                            if ('ShippingAddress' in delivery) this.delivery.ShippingAddress = delivery.ShippingAddress;
                            if ('DeliveryAddress' in delivery) this.delivery.DeliveryAddress = delivery.DeliveryAddress;
                            if ('TargetedDelivery' in delivery) this.delivery.TargetedDelivery = delivery.TargetedDelivery;

                            if ('Product' in delivery) {
                                for (let index in this.delivery.Product) {
                                    let newItem = delivery.Product.find(i => (i.Guid === this.delivery.Product[index].guid));

                                    if (newItem === undefined
                                        || newItem === null)
                                        this.delivery.Product.splice(index, 1);

                                }

                                this.products = this.delivery.Product;
                            }
                        }
                        //Очишаем рузультат
                        this.result = null;

                    });



                });
            }

        }
    }

</script>

<style lang="scss">
    .delivery {
        .form-group

    {
    }

    ul {
        &delivery-error

    {
        li

    {
        list-style-type: none;
    }

    }
    }
    }
</style>
