﻿<template>
    <div class="bm-deliver-result" v-bind:class="[blockClass]">
        <h4><slot name="title"></slot></h4>
        <div class="alert alert-info">
            <slot name="description"></slot>
        </div>
        <div class="list-group">
            <div class="delivery-result-items delivery-result-items-header" v-bind:class="[blockClass]">
                <span class="delivery-result-items-name">
                    <strong>Компания</strong>
                </span>
                <span class="delivery-result-items-city">
                    <strong>Город доставки</strong>
                </span>
                <span class="delivery-result-items-time">
                    <strong>Срок от, дней</strong>
                </span>
                <span class="delivery-result-items-price">
                    <strong>Стоимость, руб.</strong>
                </span>
                <span v-if="isOrder" class="delivery-result-items-btn">
                </span>
            </div>
            <div class="delivery-result-items" v-bind:class="[blockClass]" v-for="item in items">
                <span class="delivery-result-items-name">
                    <template v-if="item.Name_TK !== 'self-picking'">
                        <strong class="delivery-result-items-label">Компания: </strong>
                        {{ item.Name_TK }}
                    </template>
                    <template v-else>
                        <strong class="delivery-result-items-label">Компания: </strong>
                        <span>Самовывоз со склада</span>
                    </template>
                </span>
                <span class="delivery-result-items-city">
                    <strong class="delivery-result-items-label">Город доставки: </strong>
                    <a :href="uriMaps(item)" target="_blank">
                        <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>
                        {{ item.country }}, {{ item.city }}
                    </a>
                </span>
                <span class="delivery-result-items-time">
                    <strong class="delivery-result-items-label">Срок от, дней: </strong>
                    {{ item.time }}
                </span>
                <span class="delivery-result-items-price">
                    <strong class="delivery-result-items-label">Стоимость, руб.: </strong>
                    {{ (+item.price).format() }}
                </span>
                <span v-if="isOrder" class="delivery-result-items-btn">
                    <a href="javaScript:void(0)" v-on:click="chooseDelivery(item)" class="btn btn-success btn-xs w-100 clearfix">Выбрать</a>
                </span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "delivery-result-items",
        props: ["items", "blockClass", "isOrder"],
        methods: {
            uriMaps(item) {
                var uri = "http://maps.yandex.ru/?ll=" + item.log + "," + item.lat + "&amp;pt=" + item.log + "," + item.lat + "&amp;spn=0.067205,0.018782&amp;z=10";
                return uri;
            },
            chooseDelivery(item) {
                this.$emit('input', item);
            }
        }
    }
</script>

<style>

    .delivery-result-items {
        display: flex;
        justify-content: space-between;
        width: 100%;
        .delivery-result-items-label

    {
        display: none;

        @media all and (max-width: 770px) {
            display:initial;
        }
    }


    &.delivery-result-items-header {
        @media all and (max-width: 770px) {
            display:none;
        }
    }

    .delivery-result-items-name {
        width: 25%;
    }

    .delivery-result-items-city {
        width: 25%;
    }

    .delivery-result-items-time {
        width: 15%;
    }

    .delivery-result-items-price {
        width: 15%;
    }

    .delivery-result-items-btn {
        width: 15%;

        @media all and (max-width: 770px) {
            text-align: center !important;
        }
    }

    span {
        text-align: center;

        @media all and (max-width: 770px) {
            width: 100% !important;
            text-align: left;
        }
    }

    @media all and (max-width: 770px) {
        flex-direction: column;
        justify-content: space-between;
    }

    }

    .delivery-item-btn {
        float: none;
        display: flex;
        min-height: 70px;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    .delivery-direct {
        margin-top: 5px;
        padding: 5px 10px;
        border: 1px solid #004085;
        h4

    {
        color: #004085;
    }

    }

    .delivery-indirect {
        margin-top: 5px;
        padding: 5px 10px;
        border: 1px solid #004085;
    }

        .delivery-indirect h4 {
            color: #004085;
        }

    .delivery-other {
        margin-top: 5px;
        padding: 5px 10px;
        border: 1px solid #004085;
    }

        .delivery-other h4 {
            color: #004085;
        }

    .delivery-alt {
        margin-top: 5px;
        padding: 5px 10px;
        border: 1px solid #155724;
    }

        .delivery-alt h4 {
            color: #155724;
        }

    .bm-deliver-result {
        .table

    {
        border: 1px solid;
        tr

    {
        th

    {
        padding: 3px;
        text-align: center;
    }

    td {
        padding: 3px;
        border-top: 1px solid;
        text-align: center;
    }

    }
    }
    }

    .delivery-direct {
        border-color: #ff8017 !important;
        tr

    {
        td

    {
        border-color: #ff8017 !important;
    }

    }
    }

    .delivery-indirect {
        border-color: #004085 !important;
        tr

    {
        td

    {
        border-color: #004085 !important;
    }

    }
    }

    .delivery-alt {
        border-color: #155724 !important;
        tr

    {
        td

    {
        border-color: #155724 !important;
    }

    }
    }
</style>