﻿<template>
    <div class="anketa-count-input-container">
        <a v-on:click="updateCounter(-1)">
            <span class="glyphicon glyphicon-minus"></span>
        </a>
        <input type="number" max="countMax" min="countMin" class="form-control" v-model="countInput" size="2">
        <a v-on:click="updateCounter(1)">
            <span class="glyphicon glyphicon-plus"></span>
        </a>
    </div>
</template>

<script>
    export default {
        name: "delivery-count",
        props: {
            minCount: {
                type: Number,
                default: 1,
            },
            maxCount: {
                type: Number,
                default: 99,
            },
            value: {
                type: Number,
            }
        },
        data: function () {
            return {
                countInput: this.value,
            }
        },
        methods: {
            updateCounter(delta) {
                let counter = this.countInput + delta;
                if (counter >= this.minCount && counter <= this.maxCount) this.countInput = counter;
            },
        },
        watch: {
            countInput() {
                this.$emit('input', this.countInput);
            }
        }
    }
</script>

<style lang="scss">
    .anketa-count-input-container {
        display: flex;
        flex-wrap: wrap;
        align-content: space-between;
        align-items: center;
        input

    {
        width: auto;
        margin: 0 2px;
        text-align: center;
        transition: border-color .15s ease-in-out, color .15s ease-in-out;
        outline: 0;
        max-width: 50px;
        min-width: 40px;
        height: 28px;
        font-size: 18px;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #b0b5b9;
        border-radius: 0;
        padding: 3px;
        box-sizing: content-box;
        background-color: transparent;
        color: #333;
        -moz-appearance: textfield;
        &:focus:not([readonly])

    {
        border-bottom: 1px solid #ff8017;
        color: #ff8017;
        background-color: transparent;
        box-shadow: none;
    }

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    }

    a {
        cursor: pointer;
        background-color: transparent;
        color: #6f7071;
        border: 1px solid;
        border-color: #b0b5b9;
        padding: 10px;
        margin: 0;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        display: flex;
        width: 28px;
        height: 28px;
        border-radius: 100%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .25);
        transition: box-shadow .15s ease-in-out, border-color .15s ease-in-out, color .15s ease-in-out;
        &:last-of-type span

    {
        left: 1px;
    }

    span {
        top: 0;
    }

    &:hover {
        border: 1px solid #09c;
        color: #09c;
        text-decoration: none;
    }

    }
    }
</style>