﻿<template>
    <div v-if="products !== null" class="bm-delivery-block-product">

        <div class="table-body row" style="min-height: 10px; padding: 1px;">
            <div class="col-lg-12">
                <h5 v-if="products.length === 1">Товар:</h5>
                <h5 v-else>Товары:</h5>
            </div>
        </div>
        <template v-for="product in products">
            <div class="table-body row">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center vcenter">
                    <div class="anketa-product-image">
                        <img :src="getImg(product)" @error="setPlaceholder">
                    </div>
                </div> <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12 vcenter product-title">
                    <a :href="getLink(product)">{{ product.name}}</a><br>
                    Артикул: {{ product.sku }}
                    <div class="row">
                        <div class="col-lg-6">
                            <h5>Параметры товара:</h5>
                            <div>
                                Объем: {{ (product.volume * product.count).toFixed(2) }} м<span class="note-volume"></span>.
                                Вес: {{ (product.weight * product.count).toFixed(2) }} кг.
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <h5>В количестве: <span v-if="isOrder">{{ product.count }}</span></h5>
                            <delivery-count  v-if="!isOrder" :value="product.count" v-model="product.count"></delivery-count>
                          
                        </div>
                    </div>
                </div>
            </div>
        </template>
        <div class="table-body-total row">
            <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-6 col-md-6 col-sm-6 col-xs-12 text-right">
                Объем: {{ (sizeTotal.volume).toFixed(2) }} м<span class="note-volume"></span>.
                Вес: {{ (sizeTotal.weight).toFixed(2) }} кг.
            </div>
        </div>
    </div>
</template>

<script>

    import Loader from "../loader.vue"
    import DeliveryCount from "./delivery-count.vue"

    export default {
        name: "delivery-product",
        props: ["products", "isOrder"],
        components: { DeliveryCount },
        computed: {
            sizeTotal() {
                let volume = 0,
                    weight = 0;
                for (let item of this.products) {
                    volume += item.volume * item.count;
                    weight += item.weight * item.count;
                }

                return {
                    volume: volume,
                    weight: weight
                }
            }
        },
        methods: {
            getImg(product) {
                let site = document.sites.find(item => (item.prefix === product.prefix));
                return site.url + '/wp-admin/admin-ajax.php?action=get-image&guid=' + product.guid;
            },
            getLink(product) {
                let site = document.sites.find(item => (item.prefix === product.prefix));
                return site.url + '/?mgproduct=' + product.guid;
            },
            setPlaceholder(e) {
                e.target.src = document.sites[0].url + '/wp-content/plugins/woocommerce/assets/images/placeholder.png';
            }
        }

    }

</script>

<style lang="scss">
    span.note-volume {
        &:before

    {
        counter-increment: notecounter;
        content: "3";
        position: relative;
        top: -0.4em;
    }

    }

    .table-body-total {
        border-bottom: 1px solid #dee2e6;
        background-color: #dee2e62b;
        font-weight: bold;
    }

    .table-body {
        position: relative;
        min-height: 80px;
        border-bottom: 1px solid #dee2e6;
        padding: 8px 8px 20px 8px;
        span

    {
        margin: 10px;
    }

    img {
        width: 100%;
        margin: 5px;
    }

    .delivery-count {
        display: flex;
        justify-content: space-between;
    }
    }
</style>