﻿// Предоставляет кнопки для возврата на сайты магазинов

<template>
    <div>
        <template v-if="sites.length === 1">
            <a :href="sites[0].url" target="_blank" class="btn btn-default btn-block">Вернуться в магазин</a>
        </template>
        <template v-else-if="sites.length > 1">
            <div class="btn-group" style="width: 100%;">
                <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle" style="width: 100%;">Вернуться в магазин <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li v-for="(site, index) in sites" v-bind:key="index">
                        <a :href="site.url" target="_blank">{{ site.name }}</a>
                    </li>
                </ul>
            </div>
        </template>
    </div>
</template>

<script>
    export default {
        computed: {
            sites: function () {
                return document.sites;
            },
        }
    };
</script>