﻿<template>
    <div>
        <template v-if="!dataLoaded">
            <loader></loader>
        </template>
        <template v-else-if="dataLoaded && items.length === 0">
            <div class="alert alert-warning">
                Не добавлено ни одного товара.
            </div>
        </template>
        <template v-else>
            <checkbox v-model="selectAll" id="selectAll">Выбрать все</checkbox>
            <div class="table-head row hidden-xs">
                <div class="col-lg-5 col-md-5 col-sm-5 text-center">
                    Товар
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                    Цена
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                    Количество
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                    Итого
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1"></div>
            </div>
            <!-- Товары -->
            <div class="table-body row" v-for="(item, index) in items" v-bind:key="index">
                <div class="product-select-box">
                    <checkbox :id="index.id" v-model="item._selected"></checkbox>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-center vcenter">
                    <product-image-slider :product="item"></product-image-slider>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 vcenter product-title">
                    <a :href="item.ProductUrl">{{ item.Name }}</a><br />
                    Артикул: {{ item.Sku }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center vcenter">
                    <span class="visible-xs">Стоимость: </span><span class="price">{{ (+item.Price).format() }} руб.</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center vcenter">
                    <counter v-model="item.BaseData.productCount" @input="productCountChanged(item)"></counter>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 price text-center vcenter">
                    {{ (+item.Price * item.BaseData.productCount).format() }} руб.
                </div>
                <delete-button :item="item" @confirm="deleteItem"></delete-button>
            </div>
            <!-- Итого -->
            <div class="table-body-total row">
                <div class="col-lg-offset-1 col-md-offset-1 col-sm-offset-1 col-lg-6 col-md-6 col-sm-6 col-xs-12 text-center-total-center">Итого:</div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center text-center-count">
                    {{ totalCount }}
                    <span class="visible-xs visible-sm"> товар (-ов)</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center price">
                    <div class="visible-xs visible-sm">на сумму:</div>
                    {{ totalSum.format() }} руб.
                </div>
            </div>
        </template>
        <div class="row text-right" style="margin-top: 20px;">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" v-bind:class="{ 'col-lg-offset-5 col-md-offset-5 col-sm-offset-5': items.length > 0, 'col-lg-offset-9 col-md-offset-9 col-sm-offset-9': items.length === 0 }">
                <back-to-shop></back-to-shop>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" v-show="items.length > 0">
                <span class="visible-xs" style="margin-top: 5px;"></span>
                <a class="btn btn-warning" style="width: 100%;" :href="deliveryLink">Рассчет Доставки</a>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12" v-show="items.length > 0">
                <span class="visible-xs" style="margin-top: 5px;"></span>
                <button class="btn btn-primary" style="width: 100%;" @click="checkCart" ref="checkCartButton">Оформить заказ</button>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>
    import Loader from '../loader.vue'
    import Counter from '../counter.vue'
    import Checkbox from '../elements/checkbox.vue'
    import DeleteButton from './deletebutton.vue'
    import BackToShop from './back-to-shop.vue'
    import ProductImageSlider from './product-image-slider.vue'

    import PopoverMixin from '../mixins/popover'

    export default {
        mixins: [PopoverMixin],
        components: {
            Loader,
            Counter,
            Checkbox,
            DeleteButton,
            BackToShop,
            ProductImageSlider
        },
        data: function () {
            return {
                dataLoaded: false,
                items: [],
            };
        },
        computed: {
            deliveryLink() {
                let product = [];
                for (let i of this.items) {
                    product.push({
                        GuId: i.Guid,
                        Count: i.BaseData.productCount
                    })
                };

                return "/Delivery?product=" + window.btoa(JSON.stringify(product));
            },
            selectAll: {
                get: function () {
                    let selected = true;
                    for (let i of this.items) selected &= i._selected;
                    return selected;
                },
                set: function (v) {
                    for (let i of this.items) i._selected = v;
                }
            },
            totalCount: function () {
                let count = 0;
                for (let i of this.items) count += i.BaseData.productCount;
                return count;
            },
            totalSum: function () {
                let sum = 0;
                for (let i of this.items) sum += (+i.BaseData.productCount * +i.Price);
                return sum;
            },
        },
        methods: {
            getContainerType() {
                return 'cart';
            },
            fetchData(data) {
                this.items = [];
                if (data.length === 0) {
                    this.dataLoaded = true;
                    return;
                }

                let copyCartItem = e => {
                    return {
                        id: e.id,
                        guid: e.guid,
                        byOrder: e.byOrder,
                        containsInOthers: e.containsInOthers,
                        stockId: e.stockId,
                        serialNumber: e.serialNumber,
                        priceTypeId: e.priceTypeId,
                        priceTypeName: e.priceTypeName,
                        price: e.price,
                        productCount: e.count,
                        allowBuyByIndividualFace: e.allowBuyByIndividualFace,
                        categoryID: e.categoryID,
                        name: e.name,
                        type: e.type,
                        prefix: e.prefix,
                    };
                };

                // Загружаем проекты
                let projects = data.filter(e => e.type === 1);
                if (projects.length > 0) {
                    for (let project of projects) {
                        let projectItem = {
                            Id: project.id,
                            Guid: project.guid,
                            Name: project.name,
                            Sku: 'Н/Д',
                            Length: null,
                            Width: null,
                            Height: null,
                            Description: '',
                            ProductStatus: 1,
                            PriceMin: project.price,
                            PriceMax: project.price,
                            Price: project.price,
                            ProductUrl: '#',
                            ProductImgUrl: '/images/no-image.png',
                            Base64PriceData: null,
                            DeliveryOption: '',
                            ProductAttributes: false,
                            ProductThumbnail: false,
                            CategoryID: 0,
                            AllowBuyByIndividualFace: 1,
                            Prefix: project.prefix,
                            Weight: null,
                            BaseData: {},
                            _selected: true,
                        };

                        Object.assign(projectItem.BaseData, project);
                        projectItem.BaseData.price = +projectItem.Price;
                        projectItem.BaseData.productCount = projectItem.BaseData.count;

                        this.items.push(projectItem);
                    }

                    this.dataLoaded = true;
                }

                // Загружаем информацию о товарах с сайтов
                for (let site of document.sites) {
                    let products = data.filter(e => e.prefix === site.prefix).map(copyCartItem);

                    if (products.length === 0) continue;

                    let requestBody = {
                        module: 'product',
                        action: 'anketa_product_data',
                        products: products,
                    };

                    let url = site.url.replace(/\/$/g, '') + '/wp-content/plugins/anketa/ajax.php';

                    fetch(url, {
                        method: 'post',
                        body: JSON.stringify(requestBody),
                    }).then(response => response.json()).then(response => {
                        if (response.success) {
                            for (let p of response.data) {
                                p._selected = true;
                                p.BaseData.price = +p.Price;
                                this.items.push(p);
                            }
                        }
                        this.dataLoaded = true;
                    }).catch(e => {
                        console.log(e.message);
                    });

                }
            },
            deleteItem(item) {
                let url = '/Cart/Delete';

                fetch(url, {
                    method: 'post',
                    body: JSON.stringify(item.BaseData),
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => response.json()).then(response => {
                    if (response.success) {
                        document.generateCustomEvent('cartwishlist-updated', {
                            type: this.getContainerType(),
                            item: item.BaseData,
                            list: response.data,
                        });

                        this.items = this.items.filter(e => e != item);
                    }
                });
            },
            productCountChanged: function (item) {
                let requestBody = {};
                Object.assign(requestBody, item.BaseData);
                requestBody.count = requestBody.productCount;

                fetch('/Cart/Update', {
                    method: 'post',
                    body: JSON.stringify(requestBody),
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => response.json()).then(response => {
                    if (!response.success) {
                        // TODO: сообщить об ошибке
                    }
                });

                let list = this.items.map(e => {
                    return {
                        count: e.BaseData.productCount,
                    };
                });

                document.generateCustomEvent('cartwishlist-updated', {
                    type: this.getContainerType(),
                    item: null,
                    list: list,
                });
            },
            checkCart() {
                // Проверяем, что есть выбранные товары
                let products = this.items.filter(e => e._selected).map(e => {
                    let p = e.BaseData;
                    p.count = p.productCount;
                    return p;
                });

                if (products.length === 0) {
                    this.showPopover(this.$refs.checkCartButton, "Выберите товар, который Вы хотите приобрести.");
                    return;
                }

                // Начинаем процедуру оформления заказа
                localStorage.removeItem('temporaryOrder');

                // Создаем форму, заполняем её и отправляем данные на сервер
                let form = document.createElement('form');
                form.style.display = 'none';
                form.action = '/Orders/Create';
                form.method = 'post';

                let productsData = document.createElement('textarea');
                productsData.name = 'productsData';
                productsData.innerText = JSON.stringify(products);
                form.appendChild(productsData);

                document.body.appendChild(form);
                form.submit();
            },
        },
        created() {
            this.fetchData(window.model);
        },
    };
</script>

<style lang="scss">
    .table-head {
        border-bottom: 1px solid #dee2e6;
        padding: 5px;
        div

    {
        font-weight: bold;
    }

    }

    .table-body {
        position: relative;
        min-height: 80px;
        border-bottom: 1px solid #dee2e6;
        padding: 8px 8px 20px 8px;


        @media(max-width: 768px) {
            .product-title {
                padding-top: 5px;
                text-align: center;
            }
        }

        input [type="checkbox"]

    {
        width: 18px;
        height: 18px;
    }

    @media(min-width: 768px) {
        div:nth-child(2) {
            margin-left: 18px;
        }
    }

    }

    .table-body-total {
        border-bottom: 1px solid #dee2e6;
        background-color: #dee2e62b;
        font-weight: bold;
        .text-center-count

    {
        .visible-xs

    {
        @media (max-width: 767px) {
            display: contents !important;
        }
    }

    }
    }

    .text-center-total-center {
        @media (max-width: 767px) {
            float: none;
            display: inline-block;
            vertical-align: middle;
            text-align: center;
        }
    }

        .vcenter {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }

    .price {
        color: #77a464;
    }

    .product-select-box {
        display: block;
        position: absolute;
        width: 18px;
        height: 18px;
        z-index: 11;
    }
</style>