﻿<template>
    <div class="anketa-cartwishlist-item-update">
        <div class="btn-item-update delete anceta-cart-body-table-row-delete" :anketa-cart-items-id="item.Id" :guid="item.Guid" @click="popoverOpened = true">
            <i aria-hidden="true" onclick="event.preventDefault()" class="glyphicon glyphicon-trash"></i>
            <div class="popover-vue" v-if="popoverOpened" @click.stop>
                <div class="del-btn-popover">
                    <div class="btn-group-popover">
                        <a class="cartwishlist-table-item-delete btn btn-danger btn-xs yes" @click="confirmDelete">Да</a>
                        <a class="cartwishlist-table-item-delete btn btn-success btn-xs no" @click="popoverOpened = false">Нет</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            item: Object,
        },
        data: function () {
            return {
                popoverOpened: false,
            };
        },
        methods: {
            confirmDelete() {
                this.$emit('confirm', this.item);
                this.popoverOpened = false;
            },
        },
    };
</script>

<style>

</style>