﻿<template>
    <div class="bm-radio-button-selection">
        <div v-if="prices.prices.length === 0">
            Цена для товара еще не рассчитана. Чтобы рассчитать цену, перейдите на сайт и нажмите кнопку Узнать цену".<br />

        </div>
        <template v-else>
            <div class="price-delivery-options" v-if="hasAllDeliveryOptions">
                <span class="price-title">Вариант поставки:</span>
                <price-prop-button v-for="(option, v) in DeliveryOptions" v-bind:key="v" :id="'delivery-option-' + v"
                                   v-model="currentDeliveryOption" :value="+v" @change="deliveryOptionSelected">
                    {{ option }}
                </price-prop-button>
            </div>
            <div class="price-shipping-options">
                <span class="price-title">{{ shippingOptionsTitle }}</span>
                <price-prop-button v-for="option in shippingOptions" v-bind:key="option.id"
                                   :id="'shipping-option-' + option.id" v-model="currentShippingOption"
                                   :value="option.id" @change="shippingOptionSelected">
                    {{ option.title }}
                </price-prop-button>
            </div>
            <p v-if="currentPrice !== null && !this.prices.hide_description_if_single_price"
               style="text-indent: 0; margin: 0 0 5px;">
                {{ currentPrice.tooltip }}
            </p>
            <p v-if="currentPrice === null || currentPriceValue > 0" class="bm-product-price">
                <span class="woocommerce-Price-amount amount">{{ formattedPrice }}</span>
                <span class="woocommerce-Price-currencySymbol">{{ this.prices.defcurrency }}</span>
                <template v-if="currentPriceValueByCash === null">
                    <br />
                    <span v-html="formattedPriceOtherCurrencies"></span>
                </template>
                <template v-else>
                    (
                    <span v-html="formattedPriceOtherCurrencies"></span>)
                    <br />
                    <div style="display: flex; padding: 0 5px;">
                        <span>
                            {{ currentPriceValueByCash }} {{ this.prices.defcurrency }}
                        </span>
                        <span style="margin-left: 5px; font-size: 0.7em; color: #000;">
                            при оплате наличными
                        </span>
                    </div>
                </template>
            </p>
            <div v-else-if="currentPriceValue === 0">
                Цена для товара еще не рассчитана. Чтобы рассчитать цену, перейдите на сайт и нажмите кнопку "Узнать цену"
            </div>
        </template>
    </div>
</template>

<script>

    const DeliveryOptions = {
        1: 'Из наличия',
        2: 'На заказ',
    }

    import PricePropButton from "./price-prop-button.vue";

    export default {
        name: "price-selector",
        components: { PricePropButton },
        props: {
            value: {},
            prices: {},
            productId: {
                type: Number,
                default: 0,
            },
            saveVariantToUrl: {
                type: Boolean,
                default: true,
            }
        },
        data: () => ({
            currentDeliveryOption: 0,
            currentShippingOption: 0,
            DeliveryOptions,
        }),
        computed: {
            // Заголовок к опциям доставки
            shippingOptionsTitle() {
                if (this.currentDeliveryOption !== 0) {
                    return this.prices.labels[this.currentDeliveryOption];
                }
                return '';
            },
            // Опции отгрузки для выбранного варианта поставки
            shippingOptions() {
                if (this.currentDeliveryOption) {
                    return this.prices.prices.filter(e => +e.delivery_option === +this.currentDeliveryOption);
                }
                return [];
            },
            // Показывает, есть ли все виды вариантов поставки
            hasAllDeliveryOptions() {
                let has = true;
                for (let deliveryOption in this.DeliveryOptions) {
                    has = has && this.prices.prices.find(e => +e.delivery_option === +deliveryOption) !== undefined;
                    if (!has) break;
                }
                return has;
            },
            currentPrice() {
                if (this.currentDeliveryOption > 0 && this.currentShippingOption > 0) {
                    return this.prices.prices.find(e => +e.id === +this.currentShippingOption);
                }
                return null;
            },
            currentPriceValue() {
                if (this.currentPrice !== null) return +this.currentPrice.price;
                return null;
            },
            currentPriceValueByCash() {
                if (this.currentPriceValue !== null) return document.formatNumber(Math.floor(+this.currentPriceValue * 0.96));
                return null;
            },
            // Получает доступные цены
            availablePriceRange() {
                let price = { min: null, max: null };
                let prices = [];
                if (this.currentDeliveryOption === 0) {
                    // Вариант поставки не выбран, выбираем из всех цен
                    prices = this.prices.prices;
                } else {
                    // Вариант поставки выбран, выбираем из вариантов отгрузки
                    if (this.currentShippingOption === 0) prices = this.shippingOptions;
                    else prices = [this.currentPrice];
                }

                for (let p of prices) {
                    let pr = +p.price;
                    if (pr > 0) {
                        if (price.min === null || price.min > pr) price.min = pr;
                        if (price.max === null || price.max < pr) price.max = pr;
                    }
                }

                return price;
            },
            formattedPrice() {
                let prices = this.availablePriceRange;
                if (prices.min !== prices.max) return document.formatNumber(prices.min) + ' - ' + document.formatNumber(prices.max);
                else return document.formatNumber(prices.min);
            },
            formattedPriceOtherCurrencies() {
                let prices = [];
                for (let currency of this.prices.currencies) {
                    let min = Math.floor(this.availablePriceRange.min / currency.value);
                    let max = Math.floor(this.availablePriceRange.max / currency.value);
                    let price = '';

                    if (min !== max) price = min + ' - ' + max;
                    else price = min;

                    price += ' ' + currency.currency;
                    prices.push(price);
                }
                return prices.join(' / ');
            },
        },
        methods: {
            deliveryOptionSelected() { // При выборе варианта поставки
                this.currentShippingOption = 0;
                if (!this.selectAvailablePrice()) {
                    // Не удалось выбрать опцию отгрузки, предоставляем право выбора пользователю
                    this.priceChanged();
                }
            },
            shippingOptionSelected() { // При выборе опции отгрузки
                this.priceChanged();
            },
            priceChanged() {
                this.$emit('input', this.currentPrice);
                this.updateUrl();
            },
            // Загружает цены товаров
            loadPrices() {
                // Выбираем доступную цену, если возможно
                this.selectAvailablePrice();
            },
            // Выбирает доступную цену
            selectAvailablePrice(byHash) {
                byHash = byHash ?? false;

                if (this.prices.prices.length > 0) {
                    if (byHash && this.applyUrl()) return true;

                    // Вариант поставки не выбран, выбираем, если возможно
                    if (this.currentDeliveryOption === 0) {
                        if (!this.hasAllDeliveryOptions) {
                            this.currentDeliveryOption = +this.prices.prices[0].delivery_option;
                            this.deliveryOptionSelected();
                            return true;
                        }
                    } else {
                        // Опция отгрузки не выбрана, пытаемся выбрать
                        if (this.currentShippingOption === 0 && this.shippingOptions.length === 1) {
                            this.currentShippingOption = +this.shippingOptions[0].id;
                            this.shippingOptionSelected();
                            return true;
                        }
                    }
                }

                return false;
            },
            updateUrl() { // Обновляет URL, добавляет в него данные о выбранной цене
                if (!this.saveVariantToUrl) return;
                let v = this.currentDeliveryOption;
                let p = this.currentShippingOption;
                if (v === 0 && p === 0) {
                    // Вид цены не выбран, очищаем данные
                    if (document.location.hash.match(/#v\d+(p\d+)?/g)) document.location.hash = '';
                } else {
                    let hash = 'v' + v.toString();
                    if (p !== 0) hash += 'p' + p.toString();
                    document.location.hash = hash;
                }
            },
            applyUrl() {
                if (!this.saveVariantToUrl) return false;
                let hash = document.location.hash;
                let m = hash.match(/#v(\d+)(?:p(\d+))?/);
                if (m) {
                    let v = m[1];
                    let p = m[2];
                    // Ищем вариант поставки
                    let variantExists = this.prices.prices.find(e => +e.delivery_option === +v) !== undefined;
                    if (variantExists) {
                        this.currentDeliveryOption = +v;
                        if (p !== undefined) {
                            let periodExists = this.prices.prices.find(e => +e.delivery_option === +v && +e.id === +p) !== undefined;
                            if (periodExists) {
                                this.currentShippingOption = +p;
                                return true;
                            }
                        } else {
                            return true;
                        }
                    }
                }
                return false;
            },
        },
        created() {
            if (this.productId !== 0) {
                this.loadPrices();
            } else {
                this.selectAvailablePrice(true);
            }
        }
    }
</script>

<style lang="scss" scoped>
    .price-delivery-options, .price-shipping-options {
        & > span.price-title

    {
        display: block;
        color: #f00;
    }
    }
</style>