<template>
    <span>
        <input :id="elementId" type="radio" :value="value" @change="updateInput" :checked="selected" />
        <label :for="elementId"><slot></slot></label>
    </span>
</template>

<script>
    export default {
        name: "price-prop-button",
        model: {
            prop: 'modelValue',
            event: 'change',
        },
        props: {
            value: {
                type: Number,
            },
            modelValue: {
                default: '',
            },
            id: {
                type: String,
            }
        },
        data: () => ({
            elementId: null,
        }),
        computed: {
            selected() {
                return +this.modelValue === +this.value;
            },
        },
        methods: {
            updateInput() {
                this.$emit('change', this.value);
            }
        },
        created() {
            this.elementId = this.id + '-' + Date.now();
        }
    }
</script>

<style scoped>

</style>