﻿<template>
    <div class="anketa-product-image"
         @mouseover="hovered = true"      
         @mouseleave="hovered = false;if (isCoarse){active = null}"
         @touchmove="touchMove()"
         @touchstart="touchStart"
         @touchend="touchEnd">

        <template v-if="imagesList.length === 0">
            <img :src="product.ProductImgUrl" style="max-width: 100%;" onerror="document.noImage(this)" />
        </template>
        <template v-else>
            <img :src="mainImages.src" style="max-width: 100%;" onerror="document.noImage(this)" />
            <div class="anketa-product-image-zoom-container" v-show="showZoom">
                <div class="anketa-product-image-zoom">
                    <img :src="(active === null) ? mainImages.src: active.src" onerror="document.noImage(this)">
                    <template v-if="active !== null && active.info !== null">
                        <div class="anketa-product-image-zoom-info">
                            <span v-html="active.info"></span>
                        </div>
                    </template>
                    <ul v-if="!isCoarse">
                        <li v-for="item of slides" v-bind:style="styleObject" @mouseover="updateActive(item)">

                        </li>
                    </ul>
                </div>
                <div class="anketa-product-image-indicator" v-if="slides.length > 1">
                    <ul>
                        <li v-for="item in slides" v-bind:class="{'active':(active === item || (active === null && item.isMain === true))}">
                        </li>
                    </ul>
                </div>
            </div>

        </template>
    </div>
</template>

<script>

    export default {
        name: "product-image-slider",
        props: ["product"],
        data: function () {
            return {
                imagesList: [],
                active: null,
                hovered: false,
                styleObject: {},
                isCoarse: false,
                startCoords: null,
                endCoords: null,
                activeIndex: 0
            }
        },
        watch: {
            'product.Id'() {
                this.imagesList = [];
                this.getImages();
            }
        },
        methods: {
            getImages() {
                let requestBody = [this.product.Id];
                // Загружаем изображения с сайтов
                for (let site of document.sites) {
                    if (this.product.Prefix === site.prefix) {
                        let url = site.url.replace(/\/$/g, '') + '/wp-admin/admin-ajax.php?action=bm-product-images';
                        fetch(url, {
                            method: 'post',
                            body: JSON.stringify(requestBody),
                        }).then(response => response.json()).then(response => {
                            if (response.success) {
                                this.imagesList = response.images[this.product.Id];
                            }
                        });
                    }
                }
            },
            updateActive(item) {
                this.active = item;

            },
            updateCoarse() {
                if (typeof matchMedia === 'function')
                    this.isCoarse = matchMedia('(pointer: coarse)').matches;
                else
                    this.isCoarse = false;
            },
            touchStart() {
                this.startCoords = this.endCoords = (event.changedTouches[0]);
            },
            touchEnd() {
                let c = parseFloat(this.startCoords.pageX) - parseFloat(this.endCoords.pageX);
                if (c > 50)
                    this.updateActiveItem(1);
                else if (c < -50)
                    this.updateActiveItem(-1);
                else {
                    let pageY = parseFloat(this.startCoords.pageY) - parseFloat(this.endCoords.pageY);
                    let scrollTop = window.pageYOffset || document.documentElement.scrollTop;
                    window.scrollTo({
                        top: scrollTop + pageY,
                        behavior: "auto"
                    });

                }
                /**
                 * Снимаем блокировку body для избежаний скролинга
                 */
                document.body.style.overflow = 'auto';
            },
            updateActiveItem(i) {
                if (this.slides.length === 0) return;
                let index = this.activeIndex + i;
                if (index < 0)
                    index = this.slides.length - 1;
                else if (index >= this.slides.length)
                    index = 0;
                this.activeIndex = index;
                this.active = this.slides[index];

            },
            touchMove() {
                this.endCoords = event.changedTouches[0];
                let pageX = parseFloat(this.startCoords.pageX) - parseFloat(this.endCoords.pageX);
                let pageY = parseFloat(this.startCoords.pageY) - parseFloat(this.endCoords.pageY);
                pageX = (pageX < 0) ? pageX * -1 : pageX;
                pageY = (pageY < 0) ? pageY * -1 : pageY;
                /**
                 * Если смешения было по X тогда блокирум прокрутку
                 */
                if (pageX > pageY)
                    document.body.style.overflow = 'hidden';

            },
        },
        computed: {
            showZoom() {
                return this.hovered || this.isCoarse;
            },
            mainImages() {
                return this.slides.find((item) => {
                    return item.isMain;
                })
            },
            slides() {
                let slides = [],
                    mainSlide = null;
                for (let slide of this.imagesList.list) {
                    if (slides.length < 5 || this.isCoarse) {
                        let s = {
                            src: slide.size,
                            fullSrc: slide.full,
                            isMain: slide.isMain,
                            info: null,
                        };
                        if (!slide.isMain)
                            slides.push(s);
                        else
                            mainSlide = s;

                    }
                }
                if (slides.length < this.imagesList.total) {
                    slides[slides.length - 1].info = 'Ещё<br />' + (this.imagesList.total - slides.length) + ' фото';
                }


                this.styleObject = {
                    width: (100 / slides.length) + "%"
                }

                slides.unshift(mainSlide);
                return slides;

            },
            mouseleaveSlider() {
                this.hovered = false;
                if (this.isCoarse)
                    this.active = null

            }
        },
        created: function () {
            this.getImages();
            window.addEventListener('resize', this.updateCoarse);
            this.updateCoarse();
        }
    }
</script>

<style lang="scss" scoped>
    .anketa-product-image {
        position: relative;
    }

        .anketa-product-image .anketa-product-image-zoom-container {
            width: 300px;
            height: auto;
            position: absolute;
            top: 0;
            left: 0;
            background-color: white;
            z-index: 9;
            border-radius: 5px;
            -webkit-box-shadow: 0 0 5px -2px #333;
            box-shadow: 0 0 7px 1px #333;
        }

        .anketa-product-image .anketa-product-image-zoom {
            z-index: 9;
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
        }

            .anketa-product-image .anketa-product-image-zoom ul {
                display: flex;
                justify-content: flex-end;
                position: absolute;
                left: 0;
                top: 0;
                margin: 0;
                bottom: 0;
                right: 0;
                padding: 0;
                line-height: 0;
                width: 100%;
                height: 100%;
                z-index: 9;
            }

                .anketa-product-image .anketa-product-image-zoom ul li {
                    list-style-type: none;
                }

            .anketa-product-image .anketa-product-image-zoom img {
                max-width: 100%;
                width: auto;
                height: auto;
                max-height: 300px;
                border-radius: 5px;
            }

        .anketa-product-image .anketa-product-image-zoom-info {
            display: flex;
            align-items: center;
            position: absolute;
            width: 100% !important;
            height: 100%;
            right: 0;
            top: 0;
            bottom: 0;
            left: 0;
            z-index: 8;
            background-color: rgba(0, 0, 0, .5);
            color: white;
            justify-content: center;
            line-height: initial;
            border-radius: 5px;
            margin: 0;
        }

        .anketa-product-image .anketa-product-image-indicator {
            position: absolute;
            bottom: 0;
            padding: 3px;
            width: 100%;
            left: 0;
            right: 0;
            z-index: 9;
        }

            .anketa-product-image .anketa-product-image-indicator ul {
                display: flex;
                justify-content: center;
                margin: 0;
                padding: 0;
                line-height: 0;
                width: 100%;
                height: 100%;
                margin-top: 3px;
                z-index: 2
            }

                .anketa-product-image .anketa-product-image-indicator ul li {
                    border-radius: 100%;
                    background: #d6dbe0;
                    width: 7px;
                    height: 7px;
                    margin-left: 2px;
                    list-style-type: none;
                }

                    .anketa-product-image .anketa-product-image-indicator ul li.active {
                        background-color: #005bff;
                    }

    @media (max-width: 767px) {
        .anketa-product-image{
            margin-top: 5px;
        }

        .anketa-product-image .anketa-product-image-zoom-container {
            width: 100%;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .anketa-product-image-zoom ul {
            display: none
        }

        .anketa-product-image .anketa-product-image-zoom-info {
            color: black;
            background-color: rgba(255, 255, 255, .5);
        }
        }
</style>
