﻿<template>
    <div>
        <template v-if="!dataLoaded">
            <loader></loader>
        </template>
        <template v-else-if="dataLoaded && items.length === 0">
            <div class="alert alert-warning">
                Не добавлено ни одного товара.
            </div>
        </template>
        <template v-else>
            <div class="table-head row hidden-xs">
                <div class="col-lg-7 col-md-7 col-sm-7 text-center">
                    Товар
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 text-center">
                    Цена
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3"></div>
            </div>
            <div class="table-body row" v-for="(item, index) in items" v-bind:key="index">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 text-center vcenter">
                    <product-image-slider :product="item"></product-image-slider>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 vcenter product-title">
                    <a :href="item.ProductUrl">{{ item.Name }}</a><br />
                    Артикул: {{ item.Sku }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 price text-center vcenter">
                    <template v-if="item.Price !== null">
                        {{ formatPrice(item) }} руб.
                    </template>
                    <template v-else>
                        Цена не указана
                    </template>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 text-center vcenter">
                    <input type="button" class="btn btn-default" value="купить" @click="showProductsPrices($event, item)"/>
                </div>
                <delete-button :item="item" @confirm="deleteItem"></delete-button>
            </div>

            <modal-dialog ref="priceTypeSelector" :small="true" @closed="dialogClosed">
                <template v-slot:title>Выбор варианта поставки</template>
                <template v-if="currentProduct !== null">
                    <price-select :prices="currentProduct.prices" ref="priceSelector" v-model="currentProduct.price"></price-select>
                    <hr class="middle" />
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 vcenter">
                            Количество:
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right vcenter">
                            <counter v-model="currentProduct.count"></counter>
                        </div>
                    </div>
                    <hr class="middle" />
                    <div class="text-right" style="margin-top: 10px;">
                        <input type="button" class="btn btn-default w-100" value="Закрыть" @click="$refs.priceTypeSelector.closeDialog()" />
                        <input type="button" class="btn btn-primary w-100" value="Добавить в корзину" @click="addProductToCart" />
                    </div>
                </template>                
            </modal-dialog>
            <loader v-if="waiting" :fullscreen="true"></loader>
        </template>
        <div class="col-lg-offset-10 col-md-offset-10 col-sm-offset-10 text-right" style="margin-top: 20px;">
                <back-to-shop></back-to-shop>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>
    import CartWishlistProduct from './cartwishlistproduct.vue'
    import Loader from '../loader.vue'
    import DeleteButton from './deletebutton.vue'
    import ModalDialog from '../modal-dialog.vue'
    import PriceSelect from './price-select.vue'
    import Counter from '../counter.vue'
    import BackToShop from './back-to-shop.vue'
    import PopoverMixin from '../mixins/popover'
    import ProductImageSlider from './product-image-slider.vue'

    import fetch from 'isomorphic-fetch'

    export default {
        mixins: [PopoverMixin],
        components: {
            CartWishlistProduct,
            Loader,
            DeleteButton,
            ModalDialog,
            PriceSelect,
            Counter,
            BackToShop,
            ProductImageSlider
        },
        data: function () {
            return {
                items: [],
                dataLoaded: false,
                waiting: false,
                currentProduct: null,
            };
        },
        methods: {
            getContainerType() {
                return 'wishlist';
            },
            fetchData(data) {
                this.items = [];
                if(data.length === 0) {
                    this.dataLoaded = true;
                    return;
                }

                for (let site of document.sites) {
                    let products = data.filter(e => {
                        return e.prefix === site.prefix;
                    }).map(e => {
                        return {
                            id: e.id,
                            guid: e.guid,
                            byOrder: e.byOrder,
                            containsInOthers: e.containsInOthers,
                            price: 0,
                        };
                        });

                    if (products.length === 0) continue;

                    let requestBody = {
                        module: 'product',
                        action: 'anketa_product_data',
                        products: products,
                    };

                    let url = site.url.replace(/\/$/g, '') + '/wp-content/plugins/anketa/ajax.php';
                    fetch(url, {
                        method: 'POST',
                        body: JSON.stringify(requestBody),
                    }).then(response => response.json()).then(response => {
                        if (response.success) {
                            for (let p of response.data) this.items.push(p);
                        }
                        this.dataLoaded = true;
                    });
                }
            },
            formatPrice(product) {
                let min = +product.PriceMin;
                let max = +product.PriceMax;
                return min === max ? min.format() : min.format() + ' - ' + max.format();
            },
            deleteItem(item) {
                let url = '/' + this.getContainerType() + '/Delete';

                fetch(url, {
                    method: 'POST',
                    body: JSON.stringify(item.BaseData),
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then(response => response.json()).then(response => {
                    if (response.success) {
                        document.generateCustomEvent('cartwishlist-updated', {
                            type: this.getContainerType(),
                            item: item.BaseData,
                            list: response.data,
                        });
                        
                        this.items = this.items.filter(e => {
                            return e != item;
                        });
                    }
                });
            },
            showProductsPrices(el, item) {
                if(+item.PriceMin === 0 && +item.PriceMax === 0) {
                    this.showPopover(el.target, 'У товара не указана стоимость.');
                    return;
                }

                this.waiting = true;

                let site = document.sites.find(e => {
                    return e.prefix === item.Prefix;
                });

                if (site === undefined) {
                    alert('Внутренняя ошибка. Пожалуйста, перезагрузите страницу.');
                    return;
                }

                let requestBody = {
                    module: 'cartwishlist',
                    action: 'get_prices',
                    guid: item.Guid,
                };

                let url = site.url.replace(/\/$/g, '') + '/wp-admin/admin-ajax.php?action=get_prices';
                fetch(url, {
                    method: 'post',
                    body: JSON.stringify(requestBody),
                }).then(response => response.json()).then(response => {
                    this.waiting = false;
                    if (response.success) {
                        this.currentProduct = {
                            item: item,
                            prices: response.data,
                            price: null,
                            count: 1,
                        };
                        this.$refs.priceTypeSelector.openDialog();
                    }
                }).catch(() => {
                    this.waiting = false;
                });
            },
            dialogClosed() {
                this.currentProduct = null;
            },
            addProductToCart() {
                if (this.currentProduct !== null) {
                    if (this.currentProduct.price === null) {
                        // TODO: добавить оповещение о необходимости выбрать вариант поставки
                        return;
                    }

                    let requestBody = {
                        id: this.currentProduct.item.Id,
                        guid: this.currentProduct.item.Guid,
                        count: this.currentProduct.count,
                        byOrder: this.currentProduct.price.stock_id === null,
                        priceTypeId: this.currentProduct.price.price_type_id,
                        priceTypeName: this.currentProduct.price.price_type_name,
                        stockId: this.currentProduct.price.stock_id,
                        serialNumber: this.currentProduct.price.serial_number,
                        prefix: this.currentProduct.item.Prefix,
                    };

                    fetch('/Cart/Insert', {
                        method: 'post',
                        body: JSON.stringify(requestBody),
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response => response.json()).then(response => {
                        if (response.success) {
                            document.generateCustomEvent('cartwishlist-updated', {
                                type: 'cart',
                                item: null,
                                list: response.data,
                            });                            
                        }
                    });

                    this.$refs.priceTypeSelector.closeDialog();
                }
            },
        },
        created() {
            this.fetchData(window.model);
        },
    };
</script>

<style>
    .table-head {
        border-bottom: 1px solid #dee2e6;
        padding: 5px;
        
        div {
                font-weight: bold;
            }
    }

    .table-body {
        position: relative;
        min-height: 80px;
        border-bottom: 1px solid #dee2e6;
        padding: 8px;


        @media(max-width: 768px) {
            .product-title {
                padding-top: 5px;
                text-align: center;
            }
        }
    }

    .vcenter {
        float: none;
        display: inline-block;
        vertical-align: middle;
    }

    .price {
        color: #77a464;
    }
</style>