﻿@model anketa.Models.Application.Forms.OrderListFilter
@{
    ViewData["Title"] = "Заказы";
}

<div class="row">
    <div class="col-md-12 orders-list">
        <div id="app">
            <partial name="_loader" />
        </div>
    </div>
</div>

@section Scripts
{
    <environment include="Development">
        <script src="~/dist/orderList.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script type="text/javascript" src="~/dist/orderList.min.js" asp-append-version="true"></script>
    </environment>
}
