﻿@if (ViewBag.Addresses.Count == 0)
{
    <p>Адреса еще не были добавлены.</p>
}
else
{
    <div class="list-group">
        @{int index = 1;}
        @foreach (var address in ViewBag.Addresses)
        {
        <a href="javascript:void(0);" class="list-group-item contractor-item clearfix @((index==1)?"active":"")" id="@address.ID" data-view="@address.ToString()">
            <div class="col-md-9">
                <p class="list-group-item-text">
                    @address.ToString()
                </p>
            </div>
            <div class="col-md-3 flex-center justify-content-end" style="margin-top: 3px;">
                <span class="pull-right flex-column">
                    <span class="btn btn-xs btn-default edit-contractor">
                        Изменить
                    </span>
                    <span class="btn btn-success btn-xs contractor-item clearfix btn-select-contractor" style="margin-top: 3px;" id="@address.ID" data-view="@address.ToString()">
                        Выбрать
                    </span>
                </span>
            </div>
        </a>
            { index++; }
        }
    </div>
}
<div class="row">
    <div class="col-md-12" style="text-align: center;">
        <a href="javascript:void(0);" class="btn btn-primary btn-select-contractor">Выбрать</a>
        <a href="javascript:void(0);" class="btn btn-default btn-create-contractor">Создать</a>
    </div>
</div>
<div class="clearfix"></div>