﻿@if (ViewBag.ItemsCart.Count == 0)
{
    <div class="alert alert-warning" style="margin-top:30px">
        Ваша корзина пуста
    </div>
}
else
{

    <div class="anceta-cart-body anketa-order-cart-item" >
        <div class="row hidden-xs anceta-cart-head-table" style="background-color: #f5f5f5;border:none;">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">Товар</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 center">Цена</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 center">Количество</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 center">Итого</div>
        </div>

        @foreach (var item in ViewBag.ItemsCart)
        {
            <div class="row anceta-cart-body-table orders order-cart-item-click" id-cart="@item.Id" id="anketa-cart-row-@item.Product.Guid">

                <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 div-center col-anketa-text"><div class="anketa-product-warning" id="anketa-product-warning-@item.Product.Guid"></div><a href="@item.Product.ProductUrl" target="_blank" id="anketa-cart-product-link-@item.Product.Guid">@item.Product.Name</a><br /><span id="cart-product-sku-@item.Product.Guid" class="cart-product-sku">Артикул: @item.Product.Sku</span></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">
                    <div class="price" id="anketa-cart-product-price-@item.Product.Guid">
                        @Math.Round(item.Product.Price, 2).ToString("N") руб.
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">
                    <div class="anketa-group-input-cart-count" anketa-cart-items-id="@item.Id" guid="@item.Product.Guid">
                        <input type="text" max="99" min="1" id="anketa-cart-count-@item.Product.Guid" class="form-control" value="@item.ProductCount" disabled>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center"><div class="price" id="anketa-cart-product-totalprice-@item.Product.Guid">@Math.Round(item.Product.Price * item.ProductCount, 2).ToString("N") руб.</div></div>
            </div>
        }
    </div>
    <div class="row">
        <div class="col-md-12" style="text-align: center;">
            <a href="javascript:void(0);" class="btn btn-primary disabled order-cart-item-btn" id="InsertProductItem" order-id="@ViewBag.OrderId">Добавить</a>
            <a href="javascript:void(0);" class="btn btn-default order-cart-item-btn-close" data-dismiss="modal" aria-label="Close">Отмена</a>
        </div>
    </div>
}