﻿@if (ViewBag.Contractors.Count == 0)
{
<div class="alert alert-info">
    @if (ViewBag.CountContractors != 0 && ViewBag.Country == "RU")
    {
    <p>Для выбранной страны нет контрагентов. Для Россий нельзя использовать физическое лицо как заказчика..</p>
    }
    else if (ViewBag.CountContractors != 0 && ViewBag.Country != "RU")
    {
        <p>Для выбранной страны нет контрагентов.</p>
    }
    else
    {
        <p>Контрагенты еще не добавлены.</p>
    }
</div>
}
else
{
    int index = 1;
    IEnumerable<anketa.Models.Database.UserFace>
    contractors = ViewBag.Contractors;

    @if (ViewBag.Exclude != "entity" && contractors.Count(p => p.EntityFace != null) > 0)
    {
        <h3>Юридические лица</h3>
        <div class="list-group">
            @foreach (var face in contractors.Where(p => p.EntityFace != null))
            {
                <a href="javascript:void(0);" class="list-group-item contractor-item clearfix @((index==1)?"active":"")" id="@face.ID" data-view="@face.ToString()">
                    <div class="col-md-9">
                        <h4 class="list-group-item-heading">@face.EntityFace.FullName</h4>
                        <p class="list-group-item-text">
                            Сокращенное название: @face.EntityFace.ShortName<br />
                            ИНН: @face.EntityFace.ITIN
                        </p>
                    </div>
                    <div class="col-md-3 flex-center justify-content-end" style="margin-top: 7px;">
                        <span class="pull-right flex-column">
                            <span class="btn btn-xs btn-default edit-contractor">
                                Изменить
                            </span>
                            <span class="btn btn-success btn-xs contractor-item clearfix btn-select-contractor" style="margin-top: 3px;" id="@face.ID" data-view="@face.ToString()">
                                Выбрать
                            </span>
                        </span>
                    </div>
                </a>
                { index++; }
            }
        </div>
    }

    @if (ViewBag.Exclude != "individual" && contractors.Count(p => p.IndividualFace != null) > 0)
    {
        <h3>Физические лица</h3>
        <div class="list-group">

            @foreach (var face in contractors.Where(p => p.IndividualFace != null))
            {
            <a href="javascript:void(0);" class="list-group-item contractor-item clearfix @((index==1)?"active":"")" id="@face.ID" data-view="@face.ToString()">
                <div class="col-md-9">
                    <h4 class="list-group-item-heading">@face.IndividualFace.LastName @face.IndividualFace.FirstName @face.IndividualFace.MiddleName</h4>
                    <p class="list-group-item-text">
                        ИНН: @(face.IndividualFace.ITIN ?? "ИНН не указан.")
                    </p>
                </div>
                <div class="col-md-3 flex-center justify-content-end" style="margin-top: 7px;">
                    <span class="pull-right flex-column">
                        <span class="btn btn-xs btn-default edit-contractor">
                            Изменить
                        </span>
                        <span class="btn btn-success btn-xs contractor-item clearfix btn-select-contractor" style="margin-top: 3px;" id="@face.ID" data-view="@face.ToString()">
                            Выбрать
                        </span>
                    </span>
                </div>
            </a>
                { index++; }
            }
        </div>
    }
}
<div class="row">
    <div class="col-md-12" style="text-align: right;">
        <a href="javascript:void(0);" class="btn btn-primary btn-select-contractor">Выбрать</a>
        <a href="javascript:void(0);" class="btn btn-default btn-create-contractor">Создать</a>
    </div>
</div>
<div class="clearfix"></div>
