﻿@using anketa.Misc
 @{ 
Microsoft.AspNetCore.Html.IHtmlContent productData; 
}
@if (ViewBag.OrderProduct.Count != 0)
{


    <div style="display:none" id="CountOrderProductItem">@ViewBag.CountOrderProductItem</div>
    <div style="display:none" id="TotalPriceOrderProductItem">@ViewBag.TotalPriceOrderProductItem</div>

    @foreach (var item in ViewBag.OrderProduct)
    {
        {
            var obj = new
            {
                item.Product.Guid,
            };
            productData = Json.Serialize(obj);
        }
        <div class="row anceta-cart-body-table orders" id="anketa-cart-row-@item.Id" product-data="@DataSecurity.EncodeBase64(productData.ToString())">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 div-center center">
                <div class="anketa-checkbox">
                    <div class="anketa-checkbox-container">
                        <div class="anketa-checkbox-input">
                            <div class="anketa-checkbox-div active"><i class="glyphicon glyphicon-ok" aria-hidden="true"></i></div>
                        </div>
                        <div class="anketa-checkbox-lable">
                            Выбрать
                        </div>
                    </div>
                    <input type="checkbox" class="form-check-input anketa-cart-active-item" cart-item="@item.Id" value="@item.Product.Guid" id="anketa-cart-active-@item.Id" checked>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center col-anketa-image">
                <div class="anketa-cart-images anketa-cart-product-image">
                    <img src="@item.Product.ProductImgUrl" onerror="AnketaImgError(this,'@item.Product.Guid');" />
                </div>
                <div class="anketa-cart-images-disable" id="anketa-cart-images-disable-@item.Product.Guid">
                    <i class="glyphicon glyphicon-camera" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 div-center col-anketa-text">
                <div class="anketa-product-warning" id="anketa-product-warning-@item.Id">
                </div>
                <a id="anketa-cart-product-link-@item.Id" href="@item.Product.ProductUrl" target="_blank">@item.Product.Name</a>
                <br /><span id="cart-product-sku-@item.Id" class="cart-product-sku">Артикул: @item.Product.Sku</span>
                <div class="anketa-dlivery-option-container">@Html.Raw(item.Product.DeliveryOption)</div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-5 visible-xs" style="text-align: left!important;font-weight: bold;background-color: #c0c0c000;">
                        Цена:
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-7 ">
                        <div class="price anketa-cart-product-price" id="anketa-cart-product-price-@item.Id">
                            @Math.Round(item.Product.Price, 2).ToString("N") руб.
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-5 visible-xs" style="text-align: left!important;font-weight: bold;background-color: #c0c0c000;">
                        Количество:
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-7 ">
                        <div class="anketa-group-input-cart-count @((ViewBag.SavedOrder ?? false) ? "order-input-edit" : "order-input")" anketa-cart-items-id="@item.Id" guid="@item.Product.Guid">
                            <input type="text" max="99" min="1" id="anketa-cart-count-@item.Id" class="form-control anketa-count-change-input" value="@item.ProductCount">
                            <a class="anceta-count-change-all anceta-count-up plus"><i class="glyphicon glyphicon-chevron-up" aria-hidden="true"></i></a>
                            <a class="anceta-count-change-all anceta-count-down minus"><i class="glyphicon glyphicon-chevron-down" aria-hidden="true"></i></a>
                            <a class="anceta-count-change-all anceta-count-up-mv minus"><i class="glyphicon glyphicon-minus" aria-hidden="true"></i></a>
                            <a class="anceta-count-change-all anceta-count-down-mv plus"><i class="glyphicon glyphicon-plus" aria-hidden="true"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-5 visible-xs" style="text-align: left!important;font-weight: bold;background-color: #c0c0c000;">
                        Итого:
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-7 ">
                        <div class="price" id="anketa-cart-product-totalprice-@item.Product.Guid">
                            <div class="price anketa-cart-total-product-price">
                                @Math.Round(item.Product.Price * item.ProductCount, 2).ToString("N") руб.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
