﻿@using Microsoft.AspNetCore.Http.Extensions

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Пожалуйста, подождите...</title>
</head>
<body>
    <p style="text-align:center;">
        Пожалуйста, подождите...
    </p>
    <!-- Изображения для авторизации на связанных сайтах -->
    @foreach (var url in Model)
    {
        <img src="@url" style="display: none;" />
    }

    <script type="text/javascript">
        function getParams() {
            var params = window
                .location
                .search
                .replace('?', '')
                .split('&')
                .reduce(function (p, e) {
                    var a = e.split('=');
                    p[decodeURIComponent(a[0])] = decodeURIComponent(a[1]);
                    return p;
                },
                    {}
                );
            return params;
        }
        var p = getParams();
        window.history.replaceState({}, 'Заказы', '/');
        (function () {
          

            document.addEventListener('DOMContentLoaded', function (e) {
                setTimeout(function () {
                    @{
                        var from = Context.Request.Query["from"];
                        if (string.IsNullOrWhiteSpace(from))
                        {
                            if (ViewBag.CountCart == 0)
                            {
                                from = "/";
                            }
                            else
                            {
                                from = "/Cart";
                            }
                        }
                    }

                    var url = "@from";
                    if ('ReturnUrl' in p) {
                        url = p.ReturnUrl;
                    }

                    if (url != '') document.location = url;
                }, 4000);
            });
        })();
    </script>
</body>
</html>
