﻿@model string

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Please, wait...</title>
</head>
<body>
    @if (!string.IsNullOrWhiteSpace(Model))
    {
    <script type="text/javascript">
            (function () {
                setTimeout(function () {
                    document.location = "@Html.Raw(Model)";
                }, 1000);
            })();
    </script>
        <noscript>
            <meta http-equiv="refresh" content="1;url=@Html.Raw(Model)" />
        </noscript>
    }
    <div style="width: 100%;">
        <h4>Пожалуйста, подождите...</h4>
    </div>
</body>
</html>
