﻿
@model bool
@{
    Layout = null;
} 

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Вход через соц. сеть</title>
</head>
<body>
    <div style="width: 100%; text-align: center;">
        @if (Model)
        {
            <h4>Пожалуйста, подождите...</h4>
        }
        else
        {
            <h4>Ошибка авторизации.</h4>
        }
    </div>

    @if (Model)
    {
        <script type="text/javascript">
            (function () {
                setTimeout(function () {
                    window.close();
                }, 1000);
            })();
        </script>
    }
</body>
</html>
