﻿@using Microsoft.AspNetCore.Http.Extensions
@using Microsoft.Extensions.Options

@model anketa.Models.Application.Forms.LoginForm
@{
    ViewData["Title"] = "Авторизация";
}

<div id="app">
    <partial name="_Loader" />
</div>

@Html.AntiForgeryToken()

@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/dist/login.min.js"></script>
    </environment>

    <environment exclude="Development">
        <script type="text/javascript" src="~/dist/login.min.js" asp-append-version="true"></script>
    </environment>
}