﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Запрос разрешения</title>
</head>
<body>
    <div style="width: 100%;">
        <p>
            Для работы сайта необходимо, чтобы Вы разрешили использование куков.
        </p>
        <p style="text-align: center;">
            <button id="acceptButton">Принять</button>
        </p>
    </div>

    <script type="text/javascript">
        (function () {
            // Возвращает источник
            function getOrigin() {
                var m = document.location.search.match(/origin=([^&]+)/);
                return m ? m[1] : null;
            }

            // Отправляет сообщение родительскому окну
            function sendMessage(command, params) {
                var body = {
                    command: command
                };

                if (typeof params !== 'undefined') {
                    for (var i in params) body[i] = params[i];
                }

                window.top.postMessage(body, getOrigin());
            }

            // Инициализирует запрос доступа
            function initRequest() {
                var accessGranted = false;
                var hasStorageAccessApi = (typeof document.requestStorageAccess === 'function');

                var notifyParent = function () {
                    sendMessage('initResult', {
                        hasStorageAccessApi: hasStorageAccessApi,
                        accessGranted: accessGranted
                    });
                };

                if (hasStorageAccessApi) {
                    document.hasStorageAccess().then(function (result) {
                        accessGranted = result;
                        notifyParent();
                    });
                } else {
                    notifyParent();
                }
            }

            function requireSessionId() {
                return new Promise(function (resolve, reject) {
                    var xhr = new XMLHttpRequest();
                    xhr.open('GET', '/Account/GetHubToken', true);
                    xhr.onload = function () {
                        resolve(true);
                    };

                    xhr.onerror = function () {
                        reject('Ошибка при отправке запроса.');
                    };

                    try {
                        xhr.send();
                    } catch (err) {
                        reject(err);
                    }
                });
            }

            function makeRequest() {
                if (typeof document.requestStorageAccess === 'function') {
                    document.requestStorageAccess().then(function () {
                        requireSessionId.then(function () {
                            sendMessage('requestAccepted');
                        });                       
                    }).catch(function (err) {
                        console.error(err);
                        sendMessage('requestDenied');
                    });
                } else {
                    sendMessage('requestDenied');
                }
            }

            document.addEventListener('DOMContentLoaded', function () {
                document.getElementById('acceptButton').addEventListener('click', function () {
                    makeRequest();
                });
            });

/*            window.onmessage = function (e) {
                if ('command' in e.data) {
                    if (e.data.command === 'init') initRequest();
                }
            };*/

            initRequest();
        })();
    </script>
</body>
</html>
