﻿@model anketa.Models.Application.UserDetect

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Please, wait...</title>
</head>
<body>
    @if (!string.IsNullOrWhiteSpace(Model.RedirectTo))
    {
    <script type="text/javascript">
            (function () {
                setTimeout(function () {
                    document.location = "@Model";
                }, 2000);)
            })();
    </script>
        <noscript>
            <meta http-equiv="refresh" content="2;url=@Model.RedirectTo" />
        </noscript>
    }
    <div style="width: 100%;">
        <h4>Пожалуйста, подождите...</h4>
    </div>
</body>
</html>
