﻿@*
    Общий шаблон
*@
@using Microsoft.AspNetCore.Http.Extensions
@using anketa.Misc
@using Microsoft.AspNetCore.Http
@using anketa.Misc.Content
@inject List<anketa.Misc.SiteData> linkedSites
@inject anketa.Misc.SiteAPI.CartWishlistManager storage
@inject IHttpContextAccessor HttpContextAccessor
@inject anketa.Misc.ModelEngine ModelEngine
@inject anketa.Misc.AppData AppData

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta lang="ru" />
    <title>MasterGroup - Личный кабинет - @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @RenderSection("Styles", false)
</head>
<body>
    <nav class="navbar navbar-anketa navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <div class="menu-icon-block visible-xs">
                    <div class="menu-icon-wrapper open-menu">
                        <div class="menu-icon"></div>
                    </div>
                </div>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">Личный кабинет</a>
            </div>
            <div class="navbar-collapse collapse">
                <div class="navbar-collapse-container">
                    <div class="close-menu visible-xs open-menu">
                        Закрыть меню
                    </div>
                    @{
                        var controller = (string)ViewContext.RouteData.Values["Controller"];

                        if (controller == "Orders")
                        {
                            controller = "Home";
                        }
                    }

                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <span class="navbar-icon-menu"><i class="glyphicon glyphicon-share-alt" aria-hidden="true"></i></span>
                            <a href="#" class="dropdown-toggle open-dropdown-menu">
                                В магазин
                            </a>
                            <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle hidden-xs">
                                В магазин  <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <div class="close-menu visible-xs open-dropdown-menu">
                                    Назад
                                </div>
                                @foreach (var site in linkedSites)
                                {
                                    <li>
                                        <span class="navbar-icon-menu">
                                            <img src="/images/sites/@(site.Prefix).png" style="max-width: 21x; max-height: 21px;" />
                                        </span>
                                        <a href="@site.URL">@site.Name</a>
                                    </li>
                                }
                            </ul>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li @(controller == "Home" ? "class=active" : "")>
                                <span class="navbar-icon-menu"><i class="glyphicon glyphicon-credit-card" aria-hidden="true"></i></span>
                                <a asp-controller="Home" asp-action="Index">Мои заказы</a>
                            </li>
                            <li @(controller == "Projects" ? "class=active" : "")>
                                <span class="navbar-icon-menu"><i class="glyphicon glyphicon-list-alt" aria-hidden="true"></i></span>
                                <a asp-controller="Projects" asp-action="Index">Мои проекты</a>
                            </li>
                        }
                        <li @(controller == "Cart" ? "class=active" : "")>
                            <span class="navbar-icon-menu"><i class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></i></span>
                            <a asp-controller="Cart" asp-action="Index" class="count-nav">
                                <span class="text-count-nav">Корзина</span>
                                <span class="count cartCount">
                                    <span class="badge pull-right">@(storage.Storage.CartCount == 0 ? "" : @storage.Storage.CartCount.ToString())</span>
                                </span>
                            </a>

                        </li>
                        <li @(controller == "Wishlist" ? "class=active" : "")>
                            <span class="navbar-icon-menu"><i class="glyphicon glyphicon-heart-empty" aria-hidden="true"></i></span>
                            <a asp-controller="Wishlist" asp-action="Index" class="count-nav">
                                <span class="text-count-nav">Избранное</span>
                                <span class="count wishlistCount">
                                    <span class="badge pull-right">@(storage.Storage.WishlistCount == 0 ? "" : @storage.Storage.WishlistCount.ToString())</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (!User.Identity.IsAuthenticated)
                        {
                            <li>
                                <span class="navbar-icon-menu"><i class="glyphicon glyphicon-log-in" aria-hidden="true"></i></span>
                                <a asp-area="" asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Context.Request.GetDisplayUrl()">Войти</a>
                            </li>
                        }
                        else
                        {
                            <li class="dropdown">
                                <span class="navbar-icon-menu"><i class="glyphicon glyphicon-user" aria-hidden="true"></i></span>
                                <a href="#" class="dropdown-toggle open-dropdown-menu">
                                    Профиль
                                </a>
                                <a href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true" class="dropdown-toggle hidden-xs">
                                    Профиль  <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <div class="close-menu visible-xs open-dropdown-menu">
                                        Назад
                                    </div>
                                    <li @(controller == "Cabinet" ? "class=active" : "")>
                                        <span class="navbar-icon-menu"><i class="glyphicon glyphicon-cog" aria-hidden="true"></i></span>
                                        <a asp-controller="Cabinet" asp-action="PersonalData">Настройки профиля</a>
                                    </li>
                                    <li @(controller == "Contractors" ? "class=active" : "")>
                                        <span class="navbar-icon-menu"><i class="glyphicon glyphicon-briefcase" aria-hidden="true"></i></span>
                                        <a asp-controller="Contractors" asp-action="Index">Контрагенты</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <span class="navbar-icon-menu"><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i></span>
                                <a asp-area="" asp-controller="Account" asp-action="Logout" asp-route-from="@Context.Request.GetDisplayUrl()">Выход</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">

        <div class="main-content">
            @RenderBody()
            <partial name="_Loader" view-data="ViewData" view-data-hidden="true" />
        </div>
        <hr />
        <footer id="footer">
            <div class="row">
                <div class="col-md-6">
                    <p>&copy; ООО &laquo;Мастер Групп&raquo;, @DateTime.Now.Year</p>
                </div>
                <div class="col-md-6 text-right">
                    <a href="tel:88005004290">8 800 500-42-90</a> <span style="font-size:12px;">(Бесплатно по РФ)</span><br />
                    <a href="tel:+79248065479">+7 924 806-54-79</a> <span style="font-size:12px;">(Для других стран)</span><br />
                    <a href="mailto:torg@batutmaster.ru">torg@batutmaster.ru</a>
                </div>
            </div>
        </footer>
    </div>

    <!-- Шаблон для всплывающих сообщений -->
    <div class="modal fade" id="modal-alert" tabindex="-1" role="dialog" data-backdrop="static">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Информация</h4>
                </div>
                <div class="modal-body">
                    <div class="alert-text alert alert-info text-center"></div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" aria-label="Close">OK</button>
                </div>
            </div>
        </div>
    </div>

    <partial name="Partial/AccountHelper" />

    <environment include="Development">
        <script src="~/js/polyfills.js"></script>
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/jquery.maskedinput/jquery.maskedinput.js"></script>
        <script src="~/lib/promise-polyfill/polyfill.js"></script>
        <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>

        <script src="~/js/service-communication.js"></script>
        <script src="~/js/site.min.js"></script>

        @*<script type="text/javascript">
                window.appData.disableYandexSuggestions = true;
            </script>*@
    </environment>

    <environment exclude="Development">
        <script src="~/js/polyfills.min.js" asp-append-version="true"></script>

        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"
                asp-fallback-src="~/lib/jquery.maskedinput/jquery.maskedinput.min.js"
                asp-fallback-test="window.jQuery.mask"
                integrity="sha256-+4KHeBj6I8jAKAU8xXRMXXlH+sqCvVCoK5GAFkmb+2I="
                crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/promise-polyfill/8.1.3/polyfill.min.js"
                integrity="sha512-jVOsf4v+eYZr+IkABBHh0mBbBn4BZn6t0W6yah9aKXgHK0tw++HH2yX8XObYImtg+B2Cytx/X3fFkiPums57BQ=="
                crossorigin="anonymous"
                asp-fallback-src="~/lib/promise-polyfill/polyfill.min.js"
                asp-fallback-test="window.Promise"></script>

        <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
        <script src="~/js/service-communication.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>

        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (m, e, t, r, i, k, a) {
                m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
                m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
            })
                (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

            ym(52394671, "init", {
                clickmap: true,
                trackLinks: true,
                accurateTrackBounce: true,
                webvisor: true
            });
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/52394671" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
        <!-- Test key:302543b416241a815b68573c0cba1aa077b2d9027d11460994d4f66fd252d5b2 -->
    </environment>

    <script type="text/javascript">
        (function () {
            @if (ModelEngine.HasModels)
            {
                @Html.Raw(ModelEngine.PutModels());
            }

            @if (AppData.HasData)
            {
                @Html.Raw(AppData.RenderData());
            }
        })();
    </script>

    <script type="text/javascript">
        window.appData.user = @Json.Serialize(User.Identity.Name);
        document.sites = @Json.Serialize(linkedSites);
    </script>

    @RenderSection("Scripts", required: false)

    <!-- @Html.RenderAnketaVersion() -->
</body>
</html>
