﻿<div class="loader-content @(ViewData["hidden"] is bool && (bool)ViewData["hidden"] ? "hidden" : "")">
    <div class="modal-body mega-loader">
        <div class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-eclipse"><div></div></div>
        </div>
    </div>
</div>