﻿<template>
    <div>
        <template v-if="currentView === null">
            <slot>Адрес не указан.</slot>
        </template>
        <template v-else>
            {{ currentView }}
        </template>
    </div>
</template>

<script>
    export default {
        props: {
            address: [Number, null],
        },
        data: function () {
            return {
                currentView: null,
            };
        },
        methods: {
            updateView: function () {
                this.currentView = null;
                if (this.address === null) return;

                fetch('/Orders/GetAddressView?addressId=' + this.address)
                    .then((response) => {
                        return response.json();
                    }).then((data) => {
                        if (data.length > 0) this.currentView = data;
                    });
            },
        },
        watch: {
            address: function () {
                this.updateView();
            },
        },
        created() {
            this.updateView();
        }
    };
</script>