﻿<template>
    <div class="row">
        <div class="col-md-8">
            <address-view :address="currentAddress"></address-view>
        </div>
        <div class="col-md-4">
            <a class="btn btn-default btn-sm" @click="selectAddress">Выбрать</a>
        </div>
        <modal-dialog ref="mainDialog">
            <template v-slot:title>
                <slot name="title">Выбор адреса</slot>
            </template>
            <addresses-list ref="addressesList" @select="addressSelected"></addresses-list>
        </modal-dialog>
    </div>
</template>

<script>
    import ModalDialog from '../modal-dialog.vue'
    import AddressesList from './addresses-list.vue'
    import AddressView from './address-view.vue'

    export default {
        components: {
            ModalDialog,
            AddressesList,
            AddressView,
        },
        props: {
            value: [Number, null],
        },
        data: function () {
            return {
                currentAddress: null,
                currentAddressView: null,                
            };
        },
        methods: {
            selectAddress: function() {
                this.$refs.mainDialog.openDialog();
                this.$refs.addressesList.update();
            },            
            addressSelected: function (id) {
                this.$refs.mainDialog.closeDialog();
                this.setAddress(id);
            },
            setAddress: function (id) {
                this.currentAddress = id;
                this.$emit('input', this.currentAddress);
                this.updateView();
            },
            updateView: function () {
                this.currentAddressView = null;
                fetch('/Orders/GetAddressView?addressId=' + this.currentAddress)
                    .then((response) => {
                        return response.json();
                    }).then((data) => {
                        this.currentAddressView = data;
                    });
            },
        },
        created() {
            if (typeof this.value !== 'undefined' && this.value !== null && this.value !== 0) this.setAddress(this.value);
        }
    };
</script>