﻿<template>
    <div class="form-horizontal">
        <template v-if="!savingInProgress">
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.address.Country.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="address.Country" />
                    <span class="text-danger">{{ errors.Country }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.address.City.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="address.City" />
                    <span class="text-danger">{{ errors.City }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.address.Street.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="address.Street" />
                    <span class="text-danger">{{ errors.Street }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.address.BuildingNumber.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="address.BuildingNumber" />
                    <span class="text-danger">{{ errors.BuildingNumber }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.address.FlatNumber.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="address.FlatNumber" />
                    <span class="text-danger">{{ errors.FlatNumber }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.address.Index.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="address.Index" />
                    <span class="text-danger">{{ errors.Index }}</span>
                </div>
            </div>
            <div class="form-group text-center">
                <a href="#" class="btn btn-primary" @click="saveAddress">Сохранить адрес</a>
            </div>
        </template>
        <template v-else>
            <loader></loader>
        </template>
    </div>
</template>

<script>
    import Model from '../mixins/model'
    import Loader from '../loader.vue'

    import fetch from 'isomorphic-fetch'

    export default {
        mixins: [Model],
        components: {
            Loader,
        },
        data: function () {
            return {
                address: null,
                savingInProgress: false,
                errors: {},
            };
        },
        methods: {
            validate() {
                this.errors = {};
                let empty = (v) => v === null || v.length === 0;

                if (empty(this.address.Country)) {
                    this.errors.Country = 'Страна не указана.';
                }

                if (empty(this.address.City)) {
                    this.errors.City = 'Город не указан.';
                }

                if (empty(this.address.Street)) {
                    this.errors.Street = 'Улица не указана.';
                }

                if (empty(this.address.BuildingNumber)) {
                    this.errors.BuildingNumber = 'Номер дома не указан.';
                }

                return Object.getOwnPropertyNames(this.errors).length <= 1;
            },
            saveAddress: function () {
                if (this.validate()) {
                    this.savingInProgress = true;
                    fetch('/Addresses/AddAddress', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify(this.address),
                    }).then((response) => {
                        return response.json();
                    }).then((r) => {
                        this.savingInProgress = false;
                        if (r.success) {
                            this.$emit('change', r.id);
                        } else {
                            this.$emit('change', null);
                            alert('Ошибка при добавлении адреса.');
                        }
                    });
                }
            },
        },
        created: function () {
            this.address = this.getObjectByModel('address');
        }
    };
</script>