﻿<template>
    <div>
        <template v-if="!editMode">
            <!-- Режим выбора адреса -->
            <template v-if="list === null">
                <loader></loader>
            </template>
            <template v-else>
                <template v-if="list.length > 0">
                    <div class="list-group">
                        <div class="list-group-item contractor-item clearfix" v-for="address in list" v-bind:key="address.id">
                            <div class="col-md-9">
                                <p class="list-group-item-text">
                                    {{ getFullAddress(address) }}
                                </p>
                            </div>
                            <div class="col-md-3">
                                <span class="pull-right flex-column text-center">
                                    <a href="#" class="btn btn-primary btn-xs w-100" @click="selectAddress(address.id)">Выбрать</a>
                                    <!--<a href="#" class="btn btn-default btn-xs w-100">Изменить</a>-->
                                </span>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <h4>Нет добавленных адресов.</h4>
                </template>
            
                <div class="row">
                    <div class="col-md-12 text-right">
                        <a href="#" class="btn btn-primary" @click="createAddress">Создать</a>
                    </div>
                </div>
            </template>
        </template>
        <template v-else>
            <!-- Режим добавления\редактирования адреса -->
            <address-edit @change="addressSaved"></address-edit>
        </template>
    </div>
</template>

<script>
    import Loader from '../loader.vue'
    import AddressEdit from './address-edit.vue'

    export default {
        components: {
            Loader,
            AddressEdit,
        },
        data: function () {
            return {
                list: null,
                editMode: false,
            };
        },
        methods: {
            update: function () {
                this.list = null;
                this.editMode = false;
                fetch('/Orders/GetAddressesList').then((response) => {
                    return response.json();
                }).then((data) => {
                    this.list = data;
                });
            },
            getFullAddress(address) {
                let fullAddress = [
                    address.index.trim(),
                    address.country.trim(),
                    address.city.trim(),
                    address.street.trim(),
                    address.buildingNumber.trim(),
                    address.flatNumber.trim(),
                ].join(',');

                while (fullAddress.indexOf(',,') > -1) fullAddress = fullAddress.replace(',,', ',');
                return fullAddress.replace(/,/g, ', ');
            },
            selectAddress: function (id) {
                this.$emit('select', id);
            },
            createAddress: function () {
                this.editMode = true;
            },
            addressSaved: function (id) {
                this.selectAddress(id);
            },
        },
    };
</script>