﻿<template>
    <div>
        <h4>Общая информация об организации</h4>
        <div class="form-horizontal">
            <div class="form-group">
                <label for="LegalFormId" class="col-md-3 control-label">{{ models.userEntityFace.LegalForm.Name }}</label>
                <div class="col-md-9">
                    <select id="LegalFormId" class="form-control" v-model="entity.LegalForm.Id">
                        <option v-for="(legalForm, index) in legalForms" v-bind:key="index" :value="legalForm.Value">{{ legalForm.Text }}</option>
                    </select>
                    <span class="text-danger">{{ errors.LegalFormId }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="FullName" class="col-md-3 control-label">{{ models.userEntityFace.FullName.Name }}</label>
                <div class="col-md-9">
                    <input id="FullName" class="form-control" v-model="entity.FullName" @input="entity.ShortName = entity.FullName" />
                    <span class="text-danger">{{ errors.FullName }}</span>
                </div>
            </div>
            <hr class="middle" />

            <!-- Показывает, является ли контргант иностранным лицом -->
            <div class="form-group">
                <label for="ITIN" class="col-md-3 control-label">{{ models.userEntityFace.ITIN.Name }}</label>
                <div class="col-md-9">
                    <input id="ITIN" class="form-control" v-model="entity.ITIN" />
                    <span class="text-danger">{{ errors.ITIN }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="PSRN" class="col-md-3 control-label">{{ models.userEntityFace.PSRN.Name }}</label>
                <div class="col-md-9">
                    <input id="PSRN" class="form-control" v-model="entity.PSRN" />
                    <span class="text-danger">{{ errors.PSRN }}</span>
                </div>
            </div>

            <!-- Информация о руководителе -->
            <hr class="middle" />
            <h4>Информация о руководителе</h4>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.userIndividualFace.LastName.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="entity.Head.LastName" />
                    <span class="text-danger">{{ errors.HeadLastName }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.userIndividualFace.FirstName.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="entity.Head.FirstName" />
                    <span class="text-danger">{{ errors.HeadFirstName }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.userIndividualFace.MiddleName.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="entity.Head.MiddleName" />
                    <span class="text-danger">{{ errors.HeadMiddleName }}</span>
                </div>
            </div>

            <!-- Действует в лице -->
            <hr class="middle" />
            <h4>Действует в лице</h4>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <label>
                        <input type="checkbox" v-model="entity.ActFromOrganization" />
                        Ввести данные
                    </label>
                </div>
            </div>
            <template v-if="entity.ActFromOrganization">
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ models.userIndividualFace.Position.Name }}</label>
                    <div class="col-md-9">
                        <input class="form-control" v-model="entity.ActFromOrgFace.Position" />
                        <span class="text-danger">{{ errors.ActFromOrgFacePosition }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ models.userIndividualFace.LastName.Name }}</label>
                    <div class="col-md-9">
                        <input class="form-control" v-model="entity.ActFromOrgFace.LastName" />
                        <span class="text-danger">{{ errors.ActFromOrgFaceLastName }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ models.userIndividualFace.FirstName.Name }}</label>
                    <div class="col-md-9">
                        <input class="form-control" v-model="entity.ActFromOrgFace.FirstName" />
                        <span class="text-danger">{{ errors.ActFromOrgFaceFirstName }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ models.userIndividualFace.MiddleName.Name }}</label>
                    <div class="col-md-9">
                        <input class="form-control" v-model="entity.ActFromOrgFace.MiddleName" />
                        <span class="text-danger">{{ errors.ActFromOrgFaceMiddleName }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ models.userEntityFace.ActOnBase.Name }}</label>
                    <div class="col-md-9">
                        <select class="form-control" v-model="entity.ActOnBase.Id">
                            <option v-for="(base, index) in bases" v-bind:key="index" :value="base.Value">{{ base.Text }}</option>
                        </select>
                        <span class="text-danger">{{ errors.ActOnBase }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ models.userEntityFace.ActOnBaseDocumentSerialNumber.Name }}</label>
                    <div class="col-md-9">
                        <input class="form-control" v-model="entity.ActOnBaseDocumentSerialNumber" />
                        <span class="text-danger">{{ errors.ActOnBaseDocumentSerialNumber }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ models.userEntityFace.ActOnBaseDocumentDate.Name }}</label>
                    <div class="col-md-9">
                        <input class="form-control" type="date" v-model="entity.ActOnBaseDocumentDate" />
                        <span class="text-danger">{{ errors.ActOnBaseDocumentDate }}</span>
                    </div>
                </div>
            </template>

            <!-- Банковские реквизиты -->
            <hr class="middle" />
            <h4>Банковские реквизиты</h4>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <label>
                        <input type="checkbox" v-model="enterBankDetails" />
                        Ввести банковские реквизиты
                    </label>
                </div>
            </div>
            <template v-if="enterBankDetails">
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ models.bankDetails.CheckingAccount.Name }}</label>
                    <div class="col-md-9">
                        <input class="form-control" v-model="entity.BankDetails.CheckingAccount" />
                        <span class="text-danger">{{ errors.BankDetailsCheckingAccount }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ models.bankDetails.BankName.Name }}</label>
                    <div class="col-md-9">
                        <input class="form-control" v-model="entity.BankDetails.BankName" />
                        <span class="text-danger">{{ errors.BankDetailsBankName }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ models.bankDetails.CorrespondentAccount.Name }}</label>
                    <div class="col-md-9">
                        <input class="form-control" v-model="entity.BankDetails.CorrespondentAccount" />
                        <span class="text-danger">{{ errors.BankDetailsCorrespondentAccount }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">{{ models.bankDetails.BIC.Name }}</label>
                    <div class="col-md-9">
                        <input class="form-control" v-model="entity.BankDetails.BIC" />
                        <span class="text-danger">{{ errors.BankDetailsBIC }}</span>
                    </div>
                </div>
            </template>

            <!-- Дополнительная информация -->
            <hr class="middle" />
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.userEntityFace.AdditionalInfo.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="entity.AdditionalInfo" />
                    <span class="text-danger">{{ errors.AdditionalInfo }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Model from '../mixins/model'
    import CountrySelect from '../country-select.vue'
    import PhonesEdit from './phones-edit.vue'

    export default {       
        mixins: [Model],
        components: {
            CountrySelect,
            PhonesEdit,
        },
        data: function () {
            return {
                entity: null,
                errors: {},
                enterBankDetails: false,
            };
        },
        computed: {
            legalForms: function () {
                return window.appData.legalForms;
            },
            bases: function () {
                return window.appData.bases;
            },
            userEmail: function () {
                return window.appData.user;
            }
        },
        methods: {
            validate() {
                let empty = (v) => v === null || v.length === 0;

                this.errors = {};
                if (this.entity.LegalForm.Id === 0) {
                    this.errors.LegalFormId = 'Выберите организационно-правовую форму.';
                }

                if (empty(this.entity.FullName)) {
                    this.errors.FullName = 'Наименование не указано.';
                }

                if (empty(this.entity.ShortName)) {
                    this.errors.ShortName = 'Краткое наименование не указано.';
                }

                if (empty(this.entity.Country)) {
                    this.errors.Country = 'Страна не указана.';
                }

                if (empty(this.entity.ITIN)) {
                    this.errors.ITIN = 'ИНН не указан.';
                }

                if (empty(this.entity.PSRN)) {
                    this.errors.PSRN = 'ОГРН не указан.';
                }

                //if (empty(this.entity.Phones)) {
                //    this.errors.Phones = 'Не указано ни одного контактного номера.';
                //}

                if (empty(this.entity.Head.LastName)) {
                    this.errors.HeadLastName = 'Фамилия руководителя не указана.';
                }

                if (empty(this.entity.Head.FirstName)) {
                    this.errors.HeadFirstName = 'Имя руководителя не указана.';
                }

                if (this.entity.ActFromOrganization) {
                    if (empty(this.entity.ActFromOrgFace.Position)) {
                        this.errors.ActFromOrgFacePosition = 'Должность не указана';
                    }

                    if (empty(this.entity.ActFromOrgFace.LastName)) {
                        this.errors.ActFromOrgFaceLastName = 'Фамилия не указана.';
                    }

                    if (empty(this.entity.ActFromOrgFace.FirstName)) {
                        this.errors.ActFromOrgFaceFirstName = 'Имя не указано.';
                    }

                    if (this.entity.ActOnBase.Id === 0) {
                        this.errors.ActOnBase = 'Не указано, на основании чего действует лицо.';
                    }

                    if (empty(this.entity.ActOnBaseDocumentSerialNumber)) {
                        this.errors.ActOnBaseDocumentSerialNumber = 'Серия и номер документа не указаны.';
                    }

                    if (empty(this.entity.ActOnBaseDocumentDate)) {
                        this.errors.ActOnBaseDocumentDate = 'Дата документа не указана.';
                    }
                }

                return Object.getOwnPropertyNames(this.errors).length <= 1;
            },
            getData() {
                return this.entity;
            }
        },
        created() {
            this.entity = this.getObjectByModel('userEntityFace');
            this.entity.Phones = '';
            this.entity.BankDetails = this.getObjectByModel('bankDetails');
            this.entity.Head = this.getObjectByModel('userIndividualFace');
            this.entity.ActFromOrgFace = this.getObjectByModel('userIndividualFace');
            this.entity.LegalForm = this.getObjectByModel('legalForm');
            this.entity.ActOnBase = this.getObjectByModel('actOnBase');
            this.entity.ActOnBase.Id = 1;
        }
    };
</script>