﻿<template>
    <div>
        <template v-if="!editMode">
            <template v-if="list === null">
                <loader></loader>
            </template>
            <template v-else>
                <template v-if="entityFaces.length > 0">
                    <h4>Юридические лица</h4>
                    <div class="list-group">
                        <div v-for="face in entityFaces" v-bind:key="face.id" href="javascript:void(0);" class="list-group-item contractor-item clearfix">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <h4 class="list-group-item-heading">{{ face.entityFace.fullName }}</h4>
                                <p class="list-group-item-text">
                                    {{ face.entityFace.shortName }}<br />
                                    ИНН: {{ face.entityFace.itin }}
                                </p>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 flex-center justify-content-end" style="margin-top: 7px;">
                                <span class="pull-right flex-column text-center">
                                    <a href="javascript:void(0);" class="btn btn-success btn-xs w-100 clearfix" style="margin-top: 3px;" @click="selectContractor(face.id)">Выбрать</a>
                                    <!--<a href="javascript:void(0);" class="btn btn-default btn-xs w-100" @click="editContractor(face.id)">Изменить</a>-->
                                </span>
                            </div>
                        </div>
                    </div>
                </template>
                <template v-if="individualFaces.length > 0">
                    <h4>Физические лица</h4>
                    <div class="list-group">
                        <span v-for="face in individualFaces" v-bind:key="face.id" href="javascript:void(0);" class="list-group-item clearfix">
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                <h4 class="list-group-item-heading">{{ face.individualFace.lastName }} {{ face.individualFace.firstName }} {{ face.individualFace.middleName }}</h4>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 flex-center justify-content-end" style="margin-top: 7px;">
                                <span class="pull-right flex-column text-center">
                                    <a href="javascript:void(0);" class="btn btn-success btn-xs w-100 clearfix" style="margin-top: 3px;" @click="selectContractor(face.id)">Выбрать</a>
                                    <!--<a href="javascript:void(0);" class="btn btn-default btn-xs w-100" @click="editContractor(face.id)">Изменить</a>-->
                                </span>
                            </div>
                        </span>
                    </div>
                </template>
                <template v-if="entityFaces.length === 0 && individualFaces.length === 0">
                    <h4>Нет добавленных контрагентов.</h4>
                </template>

                <div class="row">
                    <div class="col-md-12 text-right">
                        <a href="javascript:void(0);" class="btn btn-primary" @click="createContractor">Создать</a>
                    </div>
                </div>
            </template>
        </template>

        <!-- Создание\редактирование контрагента -->
        <template v-else>
            <contractor-edit :contractor-id="editingContractorId" @change="contractorCreated" :deny-individual-face="denyIndividualFace" :deny-entity-face="denyEntityFace"></contractor-edit>
        </template>
    </div>
</template>

<script>
    import Loader from '../loader.vue'
    import ContractorEdit from './contractor-edit.vue'

    import fetch from 'isomorphic-fetch'

    export default {
        components: {
            Loader,
            ContractorEdit,
        },
        props: {
            country: String,
            denyIndividualFace: {
                type: Boolean,
                default: false,
            },
            denyEntityFace: {
                type: Boolean,
                default: false,
            },
        },
        data: function () {
            return {
                list: null,
                editMode: false,
                editingContractorId: null,
            };
        },
        computed: {
            entityFaces: function () {
                if (this.list !== null) {
                    return this.list.filter((e) => {
                        return e.entityFace !== null;
                    });
                }
                return [];
            },
            individualFaces: function () {
                if (this.list !== null) {
                    return this.list.filter((e) => {
                        return e.individualFace !== null;
                    });
                }
                return [];
            },
        },
        methods: {
            updateContractors: function () {
                // Обновляет список контрагентов
                this.list = null;
                this.editMode = false;

                let params = {
                    individual: this.denyIndividualFace ? 0 : 1,
                    entity: this.denyEntityFace ? 0 : 1,
                };

                let urlParams = [];
                urlParams.push('individual=' + params.individual);
                urlParams.push('entity=' + params.entity);
                if (typeof this.country !== 'undefined') urlParams.push('country=' + this.country);

                fetch('/Orders/FindContractors?' + urlParams.join('&')).then((response) => {
                    return response.json();
                }).then((data) => {
                    this.list = data;
                });
            },
            selectContractor: function (id) {
                // Вызывается при выборе контрагента
                this.$emit('select', id);
            },
            createContractor: function () {
                // Вызывает форму создания нового контрагента
                this.editMode = true;
            },
            contractorCreated: function (id) {
                this.$emit('select', id);
            },
            editContractor: function (id) {
                this.editingContractorId = id;
                this.editMode = true;
            },
        },
        created() {
            this.updateContractors();
        },
    };
</script>