﻿<template>
    <div>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-3 control-label required">{{ models.userIndividualFace.Country.Name }}</label>
                <div class="col-md-9">
                    <country-select v-model="face.Country">Выберите страну</country-select>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-3 control-label required">{{ models.userIndividualFace.LastName.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="face.LastName" />
                    <span class="text-danger">{{ errors.LastName }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label required">{{ models.userIndividualFace.FirstName.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="face.FirstName" />
                    <span class="text-danger">{{ errors.FirstName }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.userIndividualFace.MiddleName.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="face.MiddleName" />
                    <span class="text-danger">{{ errors.MiddleName }}</span>
                </div>
            </div>

            <hr class="middle" />

            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.userIndividualFace.AdditionalInfo.Name }}</label>
                <div class="col-md-9">
                    <input class="form-control" v-model="face.AdditionalInfo" />
                    <span class="text-danger">{{ errors.AdditionalInfo }}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Model from '../mixins/model'
    import CountrySelect from '../country-select.vue'
    import PhonesEdit from './phones-edit.vue'

    export default {
        mixins: [Model],
        components: {
            CountrySelect,
            PhonesEdit,
        },
        data: function () {
            return {
                face: null,
                errors: {},
            };
        },
        computed: {
            userEmail: function () {
                return window.appData.user;
            },
        },
        methods: {
            validate() {
                this.errors = {};
                let empty = (v) => v === null || v.length === 0;

                if (empty(this.face.LastName)) {
                    this.errors.LastName = 'Фамилия не указана.';
                }

                if (empty(this.face.FirstName)) {
                    this.errors.FirstName = 'Имя не указано.';
                }

                return Object.getOwnPropertyNames(this.errors).length <= 1;
            },
            getData() {
                return this.face;
            },
        },
        created() {
            this.face = this.getObjectByModel('userIndividualFace');
            this.face.Phones = '';
        },
    };
</script>