﻿<template>
    <div class="row">
        <div class="col-md-12">
            <contractor-view :contractor="currentContractor" style="display: inline;"><slot></slot></contractor-view>
            &nbsp;<a class="btn btn-default btn-sm" @click="selectContractor">Выбрать</a>
        </div>
        <modal-dialog title="Заголовок" ref="mainDialog">
            <template v-slot:title>
                <slot name="title">Выбор контрагента</slot>
            </template>
            <contractors-list ref="contractorsList" @select="contractorSelected" :deny-individual-face="denyIndividualFace" :deny-entity-face="denyEntityFace"></contractors-list>
        </modal-dialog>
    </div>
</template>

<script>
    import ModalDialog from '../modal-dialog.vue'
    import ContractorsList from './contractors-list.vue'
    import ContractorView from './contractor-view.vue'

    export default {
        components: {
            ModalDialog,
            ContractorsList,
            ContractorView,
        },
        props: {
            value: [Number, null],
            denyIndividualFace: {
                type: Boolean,
                default: false,
            },
            denyEntityFace: {
                type: Boolean,
                default: false,
            },
        },
        data: function () {
            return {
                currentContractor: null,
            };
        },
        methods: {
            selectContractor: function () {
                this.$refs.mainDialog.openDialog();
                this.$refs.contractorsList.updateContractors();
            },
            contractorSelected: function (id) {
                this.$refs.mainDialog.closeDialog();
                this.setContractor(id);
            },
            setContractor(id) {
                this.currentContractor = id;
                this.$emit('input', this.currentContractor);
            },
        },
        created() {
            if (typeof this.value !== 'undefined' && this.value !== null && this.value !== 0) this.setContractor(this.value);
        }
    };
</script>