﻿<template>
    <div>
        <template v-if="!savingInProgress">
            <template v-if="contractorType === null">
                <p>Выберите тип контрагента:</p>
                <template v-if="!denyEntityFace">
                    <input type="radio" name="contractorType" id="contractor-type-1" v-model="currentContractorType" value="1" />
                    <label for="contractor-type-1">Юридическое лицо (ООО, ИП, ПАО и т. д.)</label>
                    <br />
                </template>
                <template v-if="!denyIndividualFace">
                    <input type="radio" name="contractorType" id="contractor-type-2" v-model="currentContractorType" value="2" />
                    <label for="contractor-type-2">Физическое лицо</label>
                </template>
                <div class="row clearfix">
                    <div class="col-md-12 text-center">
                        <a href="javascript:void(0);" class="btn btn-primary" @click="contractorTypeSelect">Далее</a>
                    </div>
                </div>
            </template>

            <keep-alive>
                <contractor-edit-entity v-if="contractorType === 1" ref="editEntityFace"></contractor-edit-entity>
            </keep-alive>

            <keep-alive>
                <contractor-edit-individual v-if="contractorType === 2" ref="editIndividualFace"></contractor-edit-individual>
            </keep-alive>           

            <template v-if="contractorType !== null">
                <div class="row clearfix">
                    <div class="col-md-12 text-center">
                        <a href="javascript:void(0);" class="btn btn-default" @click="contractorType = null">Назад</a>
                        <a href="javascript:void(0);" class="btn btn-primary" @click="saveContractor">Сохранить контрагента</a>
                    </div>
                </div>
            </template>
        </template>
        <template v-else>
            <loader></loader>
        </template>
    </div>
</template>

<script>
    import Model from '../mixins/model'
    import Loader from '../loader.vue'
    import ContractorEditEntity from './contractor-edit-entity.vue'
    import ContractorEditIndividual from './contractor-edit-individual.vue'

    import fetch from 'isomorphic-fetch'

    export default {
        mixins: [Model],
        components: {
            ContractorEditEntity,
            ContractorEditIndividual,
            Loader,
        },
        props: {
            denyIndividualFace: {
                type: Boolean,
                default: false,
            },
            denyEntityFace: {
                type: Boolean,
                default: false,
            },
            contractorId: {
                type: Number,
                default: 0,
            },
        },
        data: function () {
            return {
                contractorType: null,
                currentContractorType: 1,
                savingInProgress: false,
            };
        },
        computed: {
            legalForms: function () {
                return window.appData.legalForms;
            },
        },
        methods: {
            contractorTypeSelect: function () {
                this.contractorType = +this.currentContractorType;
            },
            saveContractor() {
                if (this.contractorType === 1) {
                    let component = this.$refs.editEntityFace;
                    if (component.validate()) {
                        this.savingInProgress = true;
                        let data = component.getData();

                        fetch('/Contractors/AddEntityFace', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                        }).then((response) => {
                            return response.json();
                        }).then((r) => {
                            this.savingInProgress = false;
                            if (r.success) {
                                this.$emit('change', r.id);
                            } else {
                                this.$emit('change', null);
                                alert('Ошибка при создании контрагента.');
                            }
                        });
                    }
                }
                else if (this.contractorType === 2) {
                    let component = this.$refs.editIndividualFace;
                    if (component.validate()) {
                        this.savingInProgress = true;
                        let data = component.getData();

                        fetch('/Contractors/AddIndividualFaceApi', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify(data),
                        }).then((response) => {
                            return response.json();
                        }).then((r) => {
                            this.savingInProgress = false;
                            if (r.success) {
                                this.$emit('change', r.id);
                            } else {
                                this.$emit('change', null);
                                alert('Ошибка при создании контрагента.');
                            }
                        });
                    }
                }
            },
            load: function (id) {
                //fetch('/Orders/FindFace?id=' + id)
                //    .then(response => response.json())
                //    .then(data => {
                //        console.log(data);
                //    });
            },
        },
        created() {
            if (this.contractorId !== 0) {
                this.load(this.contractorId);
            }
        }
    };
</script>