﻿<template>
    <div>
        <template v-if="currentView === null">
            <slot>Контрагент не указан.</slot>
        </template>
        <template v-else>
            {{ currentView }}
        </template>
    </div>
</template>

<script>
    import fetch from 'isomorphic-fetch'

    if (typeof window.appData.__contractorLoader === 'undefined') {
        function ContractorLoader() {
            this.queue = {};
            this.timer = null;
            this.cache = {};
        };

        ContractorLoader.prototype.get = function (id) {
            var promise = new Promise((resolve, reject) => {
                if (id in this.cache) resolve(this.cache[id]);
                else {
                    if (id in this.queue) this.queue[id].resolvers.push(resolve);
                    else {
                        this.queue[id] = {
                            resolvers: [resolve],
                        };

                        fetch('/Orders/GetContractorView?contractorId=' + id)
                            .then(response => response.json()).then(response => {
                                this.cache[id] = response;
                                for (let resolver of this.queue[id].resolvers) resolver(response);
                            });
                    }
                }
            });

            return promise;
        };

        window.appData.__contractorLoader = new ContractorLoader();
    }

    export default {
        props: {
            contractor: [Number, null],
        },
        data: function() {
            return {
                currentView: null,
            };
        },
        methods: {
            updateView: function () {
                this.currentView = null;
                if (this.contractor === null) return;

                window.appData.__contractorLoader.get(this.contractor)
                    .then(data => {
                        if (data.length > 0) this.currentView = data;
                    });
            },
        },
        watch: {
            contractor: function () {
                this.updateView();
            }
        },
        created() {
            this.updateView();
        },
    };
</script>