﻿<template>
    <div class="row">
        <div class="col-md-12">
            <delivery-view :delivery="delivery" style="display: inline;"><slot></slot></delivery-view>

            &nbsp;<a  v-if="!inSelfIntake" class="btn btn-default btn-sm" @click="selectDelivery">Выбрать</a>
        </div>
        <modal-dialog title="Заголовок" ref="mainDialog">
            <template v-slot:title>
                <slot name="title">Выбор транспортной компаний</slot>
            </template>
            <delivery :delivery-config="deliveryConfig" :is-order="isOrder" :order="order" v-on:updateDeliveryOrder="chooseDelivery"></delivery>
            <!-- <delivery :address="address" :products="products" :order="order" v-on:updateDeliveryOrder="chooseDelivery"></delivery>
             -->
        </modal-dialog>
    </div>
</template>
<script>

    import ModalDialog from '../modal-dialog.vue'
    // import Delivery from './delivery/delivery.vue'
    import DeliveryView from './delivery/delivery-view.vue'
    import Model from "../mixins/model"
    import Delivery from '../delivery/delivery.vue'

    export default {
        name: "delivery-select",
        props: ["address", "products", "order", "inSelfIntake","ShippingAddress"],
        components: {
            ModalDialog,
            Delivery,
            DeliveryView
        },
        mixins: [Model],
        data: () => ({
            isOrder: true
        }),
        computed: {
            deliveryConfig() {
                let productsDelivery = [];

                for (let item of this.products) {
                    productsDelivery.push({
                        GuId: item.Guid,
                        Count: parseInt(item.BaseData.count)
                    });
                }

                return {
                    TargetedDelivery: this.order.TargetedDelivery,
                    DeliveryAddress: this.address,
                    ShippingAddress: this.ShippingAddress,
                    Product: productsDelivery
                }
            },
            delivery: function () {
                if (this.$attrs.value !== undefined
                    && this.$attrs.value !== null
                    && typeof this.$attrs.value === "object")
                    return this.$attrs.value;
                return null;
            }
        },
        methods: {
            selectDelivery() {
                this.$refs.mainDialog.openDialog();
            },
            chooseDelivery(i) {
                let obj = this.getObjectByModel("DeliveryOrder");
                obj["NameTransportCompany"] = i["Name_TK"];
                obj["Country"] = i["Country"];
                obj["InYourCity"] = i["inYourCity"];
                obj["IsAddress"] = i["isAddress"];
                obj["Lat"] = i["lat"];
                obj["Log"] = i["log"];
                obj["Price"] = i["price"];
                obj["Region"] = i["region"];
                obj["Time"] = i["time"];
                obj["TotalVolume"] = i["totalVolume"];
                obj["TotalWeight"] = i["totalWeight"];
                obj["TypeDelivery"] = i["typeDelivery"];
                obj["ShippingAddress"] = i["shippingAddress"];
                obj["City"] = i["city"];

                this.$emit('input', obj);
                this.$refs.mainDialog.closeDialog();
            }
        },
        created: function () {
            this.$on('updateDeliveryOrder');
        }
    }
</script>

<style scoped>
</style>