﻿<template>
    <div>
        <template v-if="!savingInProgress">
            <div style="text-align: center; margin-bottom: 5px;">
                <template v-for="(step, index) in steps">
                    <span class="step" v-show="step.condition" v-bind:class="{ active: step == currentStep }"></span>
                </template>
            </div>
            <form class="external-form" onsubmit="event.preventDefault(); event.stopPropagation();">
                <div class="tab" v-if="currentStep != null">
                    <div class="form-horizontal">
                        <keep-alive>
                            <component v-bind:is="currentStep.component" :order="order" :items="items" ref="currentComponent" @save="onSave"></component>
                        </keep-alive>
                    </div>
                    <div class="col-md-12 step-buttons">
                        <input v-if="currentStepId > 0" type="button" class="btn btn-default" :value="backButtonTitle" @click="moveToPreviousStep" />
                        <input type="button" class="btn btn-primary" :value="nextButtonTitle" @click="moveToNextStep" />
                    </div>
                </div>
            </form>
        </template>
        <template v-else>
            <loader></loader>
            <br />
            <div class="w-100 text-center">
                <h4>Подождите, идёт сохранение заказа...</h4>
            </div>
        </template>
    </div>
</template>

<script>
    import OrderProductStep from './order-products-step.vue'
    import OrderContactData from './order-contact-data.vue'
    import OrderOrdererInfoStep from './order-orderer-info-step.vue'
    import OrderPayerInfoStep from './order-payer-info-step.vue'
    import OrderDeliveryInfoStep from './order-delivery-info-step.vue'
    import OrderSummaryStep from './order-summary-step.vue'
    import Loader from '../loader.vue'

    import Model from '../mixins/model'

    import fetch from 'isomorphic-fetch'

    export default {
        mixins: [Model],
        components: {
            Loader,
        },
        data: function () {
            return {
                currentStepId: 0,
                order: null,
                items: [],
                savingInProgress: false,
            };
        },
        computed: {
            orderByIndividualFace: function () {
                if (this.order !== null) return this.order.OrderByIndividualFace;
                return false;
            },
            steps: function () {
                return [
                    {
                        component: OrderProductStep,
                        condition: true,
                    },
                    {
                        component: OrderContactData,
                        condition: true,
                    },
                    {
                        component: OrderOrdererInfoStep,
                        condition: true,
                    },
                    {
                        component: OrderPayerInfoStep,
                        condition: true,
                    },
                    {
                        component: OrderDeliveryInfoStep,
                        condition: true,
                    },
                    {
                        component: OrderSummaryStep,
                        condition: true,
                        next: 'Оформить заказ',
                    }
                ];
            },
            backButtonTitle: function () {
                return this.currentStep.hasOwnProperty('back') ? this.currentStep.back : 'Назад';
            },
            nextButtonTitle: function () {
                return this.currentStep.hasOwnProperty('next') ? this.currentStep.next : 'Далее';
            },
            currentStep: function () {
                return this.steps[this.currentStepId];
            },
            allowBuyByIndividualFace: function () {
                if (this.order.Country != 'RU') return true;
                else {
                    let allow = false;
                    if (this.order.Products !== null && this.order.Products.length > 0) {
                        allow = true;
                        for (let p of this.order.Products) {
                            allow = allow && (p.AllowBuyByIndividualFace === 1);
                        }
                    }
                    return allow;
                }
            },
        },
        methods: {
            upWindows() {
                let t, s;
                s = document.body.scrollTop || window.pageYOffset;
                t = setInterval(function () { if (s > 0) window.scroll(0, s -= 5); else clearInterval(t) }, 5);
            },
            moveToNextStep() {
                if (this.$refs.currentComponent.validate()) {
                    do {
                        this.currentStepId++;
                    } while (!this.steps[this.currentStepId].condition);
                    this.upWindows();
                }
            },
            moveToPreviousStep() {
                if (this.currentStepId > 0) {
                    do {
                        this.currentStepId--;
                    } while (!this.steps[this.currentStepId].condition);
                    this.upWindows();
                }
            },
            onSave() {
                this.savingInProgress = true;

                // Преобразовываем данные товара
                this.order.ProductInfo = [];
                for (var p of this.items) this.order.ProductInfo.push(JSON.stringify(p));

                fetch('/Orders/NewOrder', {
                    'method': 'POST',
                    'headers': {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(this.order),
                }).then((response) => response.json())
                    .then((data) => {
                        if (data.success) {
                            document.location = data.data;
                        } else {
                            alert(data.message);
                            this.savingInProgress = false;
                        }
                    });
            },
            saveTemporaryOrder() {
                let data = {};
                for (let n of Object.getOwnPropertyNames(this._data)) {
                    if (n === '__ob__') continue;
                    data[n] = this[n];
                }
                localStorage.setItem('temporaryOrder', JSON.stringify(data));
            },
            restoreTemporaryOrder() {
                let data = localStorage.getItem('temporaryOrder');
                if (data !== null) {
                    data = JSON.parse(data);
                    for (let n of Object.getOwnPropertyNames(data)) this[n] = data[n];
                    localStorage.removeItem('temporaryOrder');
                    return true;
                }
                return false;
            },
        },
        mounted: function () {
            window.addEventListener('beforeunload', () => {
                this.saveTemporaryOrder();
            });
        },
        created: function () {
            if (!this.restoreTemporaryOrder()) {
                if (this.currentStep === null) this.currentStep = this.steps[0];

                this.items = window.orderData.items;
                this.order = this.getObjectByModel('order');
                this.order.Country = 'RU';
                this.order.PersonalDataProcessing = true;
                this.order.ConsentToNewsletter = true;
                this.order.OrderPaymentMethod = this.getObjectByModel('orderPaymentMethods');
                this.order.OrdererFace = this.getObjectByModel('userFace');
                this.order.PayerFace = this.getObjectByModel('userFace');
                this.order.DocumentsReceiver = this.getObjectByModel('userFace');
                this.order.DocumentsReceiverAddress = this.getObjectByModel('address');
                this.order.ProductReceiver = this.getObjectByModel('userFace');
                this.order.ProductReceiverAddress = this.getObjectByModel('address');
            }
        }
    };
</script>

<style scoped>
    p {
        font-size: 24px;
        color: red;
    }

    .step-buttons {
        margin-top: 10px;
        text-align: center;
    }
</style>