﻿<template>
    <div>
        <div class="alert alert-info text-left">
            Проверьте введенные данные и нажмите кнопку "Оформить заказ".
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                Детали заказа
            </div>
            <div class="panel-bodytable-responsive anketa-list-order">
                <order-info :order="order"></order-info>
            </div>
        </div>
    </div>
</template>

<script>
    import stepMixin from './mixins/step-mixin'
    import OrderInfo from './order-info.vue'

    export default {
        mixins: [stepMixin],
        components: {
            OrderInfo,
        },
        props: {
            order: Object,
        },
        methods: {
            validate: function () {
                this.$emit('save', null);
                return false;
            },
        }
    }
</script>

<style scoped>

</style>