﻿<template>
    <div class="form-group">
        <div style="margin-bottom: 20px;">
            <products :items="items" :order="order"></products>
            <span class="text-danger">{{ errors.Products }}</span>
        </div>
        <div class="form-group">
            <label for="OrderData" class="col-md-3 control-label">{{ models.order.OrderData.Name }}</label>
            <div class="col-md-9">
                <textarea id="#OrderData" class="form-control" v-model="order.OrderData"></textarea>
                <span class="text-danger">{{ errors.OrderData }}</span>
            </div>
        </div>
    </div>
</template>


<script>
    import stepMixin from './mixins/step-mixin'
    import Model from '../mixins/model'
    import Products from './products.vue'

    export default {
        mixins: [stepMixin, Model],
        components: {
            Products
        },
        props: {
            order: Object,
            items: Array,
        },
        watch: {
            'order.Products': {
                handler: function (newValue) {
                    this.order.DeliveryOrder = null;
                },
                deep: true
            }
        },
        methods: {
            validate: function () {
                let valid = true;
                this.errors.Products = null;
                if (this.order.Products === null || this.order.Products.length === 0) {
                    this.errors.Products = 'Дождитесь загрузки товаров...';
                    valid = false;
                }
                return valid;
            },
        },
        created() {
            this.errors = {
                OrderData: null,
                Products: null,
            };
        },
    }
</script>
