﻿<template>
    <div>
        <!-- Плательщик -->
        <!--<template v-if="!order.OrderByIndividualFace">
            <div class="form-group">
                <div class="alert alert-info text-left">
                    Плательщик - это лицо, которое оплачивает деньги за товар по договору. Плательщик может не совпадать с Заказчиком. <br />
                    Например, заказчик "ООО Лютик", а плательщик физическое лицо "Иванов Иван Иванович". Если плательщика не указать или указать неверно, то идентифицировать платёж по договору не получится. Пожалуйста, указывайте верные данные.
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <label>
                    <input type="checkbox" id="payerIsOrderer" v-model="payerIsOrderer" />
                    {{ models.order.PayerFaceIsOrderer.Name }}</label>
                </div>
            </div>
            <template v-if="!payerIsOrderer">
                <div class="form-group">
                    <label class="col-md-3 control-label2">{{ models.order.PayerFaceId.Name }}</label>
                    <div class="col-md-9">
                        <contractor-select v-model="order.PayerFace.ID">
                            Плательщик не выбран.
                            <template v-slot:title>
                                Выбор плательщика
                            </template>
                        </contractor-select>
                        <span class="text-danger">{{ errors.PayerFaceId }}</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label2">{{ models.order.PayerInformation.Name }}</label>
                    <div class="col-md-9">
                        <textarea class="form-control" v-model="order.PayerInformation"></textarea>
                    </div>
                </div>
            </template>
        </template>-->

        <!-- Способ оплаты -->
        <template v-if="!order.OrderByIndividualFace">
            <div class="form-group">
                <label class="col-md-3 control-label2">{{ models.order.OrderPaymentMethodId.Name }}</label>
                <div class="col-md-9">
                    <radio-button v-for="method in paymentMethodsForEntityFace" v-bind:key="method.Value" v-model="order.OrderPaymentMethod.Id" :id="method.Id" name="paymentMethod" :val="method.Id">{{ method.Name }}</radio-button>
                    <span class="text-danger">{{ errors.OrderPaymentMethod }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="alert alert-info text-left">
                    Кредитными средствами считаются средства, полученные от Банков, после нажатия кнопки "Купить в кредит" на сайте.<br />
                    Если Вы нажимали кнопку "Купить в кредит", Вам одобрили кредит на покупку товара, то выберите вариант "Кредитные средства".
                </div>
            </div>
        </template>
        <template v-else>
            <div class="form-group">
                <label class="col-md-3 control-label2">{{ models.order.OrderPaymentMethodId.Name }}</label>
                <div class="col-md-9">
                    <radio-button v-for="method in paymentMethodsForIndividualFace" v-bind:key="method.Value" v-model="order.OrderPaymentMethod.Id" :id="method.Id" name="paymentMethod" :val="method.Id">{{ method.Name }}</radio-button>
                    <span class="text-danger">{{ errors.OrderPaymentMethod }}</span>
                </div>
            </div>
            <div v-if="order.OrderPaymentMethod.Id === 7" class="form-group">
                <label class="col-md-4 control-label">{{ models.order.SumForCredit.Name }}</label>
                <div class="col-md-8">
                    <input type="number" class="form-control" v-model="order.SumForCredit" min="0" />
                    <span class="text-danger">{{ errors.SumForCredit }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="alert alert-info text-left">
                    Оплачивая настоящий заказ, покупатель принимает на себя обязательство в момент приема-передачи товара осуществить полную проверку его внешнего вида и комплектации, ознакомиться с Законом РФ «О защите прав потребителей» и Постановлением Правительства РФ № 612 "Об утверждении Правил продажи товаров дистанционным способом".<br />
                    Кроме того, покупатель подтверждает, что ознакомился с условиями публичной оферты, Пользовательского соглашения, расположенных на сайте batutmaster.ru, а также с условиями гарантийного обязательства продавца и со сроками в нем установленными.<br />
                    По истечении 24 часов с момента приема-передачи товара продавец имеет право не принимать претензии, связанные с ненадлежащим внешним видом или комплектацией товара.<br /><br />
                    При оформлении заказа необходимо обязательно указать верные данные.
                    Получатель при передаче заказа (от курьера либо самовывозом) должен предъявить документ, удостоверяющий личность, ФИО в котором должны соответствовать ФИО получателя, указанные при оформлении заказа.
                    Документы, удостоверяющие личность: Паспорт РФ, Загранпаспорт РФ, Паспорт моряка, Удостоверение личности военнослужащего РФ, Военный билет, Паспорт иностранного гражданина, Дипломатический паспорт.
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import stepMixin from './mixins/step-mixin'
    import Model from '../mixins/model'
    import ContractorSelect from './contractor-select.vue'
    import RadioButton from '../elements/radio-button.vue'

    export default {
        mixins: [stepMixin, Model],
        components: {
            ContractorSelect,
            RadioButton,
        },
        props: {
            order: Object
        },
        computed: {
            payerIsOrderer: {
                get: function() {
                    return this.order.PayerFaceIsOrderer;
                },
                set: function (v) {
                    this.order.PayerFaceIsOrderer = v;
                }
            },
            paymentMethodsForEntityFace: function () {
                return window.appData.paymentMethods.filter(e => {
                    return e.ForEntityFace;
                });
            },
            paymentMethodsForIndividualFace: function () {
                return window.appData.paymentMethods.filter(e => {
                    return e.ForIndividualFace;
                });
            },
        },
        methods: {
            validate: function () {
                this.errors = {};

                if (!this.order.PayerFaceIsOrderer) {
                    if (this.order.PayerFace.ID === null || this.order.PayerFace.ID === 0) {
                        this.errors.PayerFaceId = 'Плательщик не указан.';
                    }
                }

                if (this.order.OrderPaymentMethod.Id === null || this.order.OrderPaymentMethod.Id === 0) {
                    this.errors.OrderPaymentMethod = 'Способ оплаты не выбран.';
                }

                if (this.order.OrderPaymentMethod.Id === 7 && (this.order.SumForCredit.length === 0 || +this.order.SumForCredit <= 0)) {
                    this.errors.SumForCredit = 'Не указана сумма планируемого кредита.';
                }

                return Object.getOwnPropertyNames(this.errors).length <= 1;
            },
        }
    }
</script>

<style scoped>

</style>