﻿<template>
    <div>
        <template v-if="!order.OrderByIndividualFace">
            <!-- Данные доставки для юридического лица -->
            <!-- Получатель документов -->
            <div class="alert alert-info text-left">
                Получатель документов - лицо, которое будет получать документы. Может отличаться от Заказчика. <br />
                Например, Заказчик "ООО Лютик" в городе Москва, а получатель документов Иванов Иван Иванович в городе Санкт-Петербург.
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="checkbox" id="documentReceiverIsOrderer" v-model="order.DocumentReceiverIsOrderer" />
                    <label for="documentReceiverIsOrderer">{{ models.order.DocumentReceiverIsOrderer.Name }}</label>
                </div>
            </div>

            <template v-if="!order.DocumentReceiverIsOrderer">
                <div class="form-group">
                    <label class="col-md-3 control-label2 required">{{ models.order.DocumentsReceiverId.Name }}</label>
                    <div class="col-md-9">
                        <contractor-select v-model="order.DocumentsReceiver.ID">
                            Получатель документов не выбран.
                            <template v-slot:title>
                                Выбор получателя документов
                            </template>
                        </contractor-select>
                        <span class="text-danger">{{ errors.DocumentsReceiver }}</span>
                    </div>
                </div>
                <!-- Дополнительная информация о получателе документов -->
                <div class="form-group">
                    <label class="col-md-3 control-label2">{{ models.order.DocumentsReceiverInformation.Name }}</label>
                    <div class="col-md-9">
                        <textarea class="form-control" v-model="order.DocumentsReceiverInformation"></textarea>
                    </div>
                </div>
            </template>

            <!-- Адрес доставки документов -->
            <div class="form-group">
                <label class="col-md-4 control-label required">{{ models.order.DocumentDeliveryAddress.Name }}</label>
                <div class="col-md-8">
                    <address-input v-model="order.DocumentDeliveryAddress" placeholder="Адрес доставки документов" :request-history="requestHistory"></address-input>
                    <span class="text-danger">{{ errors.DocumentDeliveryAddress }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label required">{{ models.order.DocumentDeliveryAddressBuildingNumber.Name }}</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" maxlength="4" v-model="order.DocumentDeliveryAddressBuildingNumber" />
                    <span class="text-danger">{{ errors.DocumentDeliveryAddressBuildingNumber }}</span>
                </div>
                <label class="col-md-2 control-label">{{ models.order.DocumentDeliveryAddressFlat.Name }}</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" maxlength="4" v-model="order.DocumentDeliveryAddressFlat" />
                </div>

            </div>
            <div class="form-group">
                <label class="col-md-4 control-label required">{{ models.order.DocumentDeliveryAddressPostIndex.Name }}</label>
                <div class="col-md-8">
                    <input type="text" class="form-control" maxlength="6" v-model="order.DocumentDeliveryAddressPostIndex" />
                    <span class="text-danger">{{ errors.DocumentDeliveryAddressPostIndex }}</span>
                </div>
            </div>
            <!-- Получатель товара -->
            <div class="alert alert-info text-left">
                Получатель товара - лицо, которые будет получать товар. Может отличаться от Заказчика. <br />
                Например, заказчик "ООО Лютик" в городе Москва, а получатель товара Иванов Иван Иванович в городе Санкт-Петербург.
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="checkbox" id="productReceiverIsOrderer" v-model="order.ProductReceiverIsOrderer" />
                    <label for="productReceiverIsOrderer">{{ models.order.ProductReceiverIsOrderer.Name }}</label>
                </div>
            </div>
            <template v-if="!order.ProductReceiverIsOrderer">
                <div class="form-group">
                    <label class="col-md-3 control-label2 required">{{ models.order.ProductReceiverId.Name }}</label>
                    <div class="col-md-9">
                        <contractor-select v-model="order.ProductReceiver.ID">
                            Получатель товара не выбран.
                            <template v-slot:title>
                                Выбор получателя товара
                            </template>
                        </contractor-select>
                        <span class="text-danger">{{ errors.ProductReceiver }}</span>
                    </div>
                </div>
                <!-- Дополнительная информация о получателе документов -->
                <div class="form-group">
                    <label class="col-md-3 control-label2">{{ models.order.ProductReceiverInformation.Name }}</label>
                    <div class="col-md-9">
                        <textarea class="form-control" v-model="order.ProductReceiverInformation"></textarea>
                    </div>
                </div>
            </template>

            <!-- Адрес доставки товара -->
            <div class="alert alert-info text-left">
                При выборе адреса доставки нужно учитывать, что в случае указания улицы и дома будет осуществлена адресная доставка.
                Если указать город, то товар приедет в транспортную компанию в указанном городе.
                Адресная доставка всегда дороже, поэтому для экономии можно самостоятельно забрать груз с терминала транспортной компании.
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label required">{{ models.order.ProductDeliveryAddress.Name }}</label>
                <div class="col-md-8">
                    <address-input v-model="order.ProductDeliveryAddress" placeholder="Адрес доставки товаров" :request-history="requestHistory"></address-input>
                    <span class="text-danger">{{ errors.ProductDeliveryAddress }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 control-label required">{{ models.order.ProductDeliveryAddressBuildingNumber.Name }}</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" maxlength="4" v-model="order.ProductDeliveryAddressBuildingNumber" />
                    <span class="text-danger">{{ errors.ProductDeliveryAddressBuildingNumber }}</span>
                </div>
                <label class="col-md-2 control-label">{{ models.order.ProductDeliveryAddressFlat.Name }}</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" maxlength="4" v-model="order.ProductDeliveryAddressFlat" @input="order.DocumentDeliveryAddressFlat = order.ProductDeliveryAddressFlat" />
                </div>
            </div>
        </template>

        <template v-else>
            <!-- Адрес доставки для покупателя - физического лица -->
            <!-- Способ доставки  -->
            <div class="form-group">
                <label class="col-md-4 control-label2 required">Способ доставки:</label>
                <div class="col-md-8">
                    <radio-button v-model="inSelfIntake" name="inSelfIntake" :val="true">
                        Самозабор со склада
                    </radio-button>
                    <radio-button v-model="inSelfIntake" name="inSelfIntake_1" :val="false">
                        Транспортная компания
                    </radio-button>
                </div>
            </div>
            <div class="form-group">
                <label for="ProductDeliveryAddress" class="col-md-4 control-label required">Откуда:</label>
                <div class="col-md-8">
                    <div class="bm-radio-button-selection">
                        <div class="price-delivery-options">
                            <span>
                                <input id="ShippingAddress_chita" type="radio" value="Чита" v-model="ShippingAddressModel">
                                <label for="ShippingAddress_chita">
                                    г. Чита
                                </label>
                            </span>
                            <span>
                                <input id="ShippingAddress_moskov" type="radio" value="Москва" v-model="ShippingAddressModel">
                                <label for="ShippingAddress_moskov">
                                    г. Москва
                                </label>
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="ProductDeliveryAddress" class="col-md-4 control-label required">{{ models.order.ProductDeliveryAddress.Name }}</label>
                <div class="col-md-8">
                    <address-input :is-read-only="inSelfIntake" :value="order.ProductDeliveryAddress" v-model="order.ProductDeliveryAddress" placeholder="Введите адрес доставки" @input="order.DocumentDeliveryAddress = $event" :request-history="requestHistory"></address-input>
                    <span class="text-danger">{{ errors.ProductDeliveryAddress }}</span>
                </div>
            </div>
            <div class="form-group" style="display: none;">
                <label class="col-md-4 control-label">{{ models.order.ProductDeliveryAddressBuildingNumber.Name }}</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" maxlength="4" v-model="order.ProductDeliveryAddressBuildingNumber" @input="order.DocumentDeliveryAddressBuildingNumber = order.ProductDeliveryAddressBuildingNumber" />
                    <span class="text-danger">{{ errors.ProductDeliveryAddressBuildingNumber }}</span>
                </div>
                <label class="col-md-2 control-label">{{ models.order.ProductDeliveryAddressFlat.Name }}</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" maxlength="4" v-model="order.ProductDeliveryAddressFlat" @input="order.DocumentDeliveryAddressFlat = order.ProductDeliveryAddressFlat" />
                </div>
                <!--<label class="col-md-2 control-label">{{ models.order.DocumentDeliveryAddressPostIndex.Name }}</label>
                <div class="col-md-2">
                    <input type="text" class="form-control" maxlength="6" v-model="order.DocumentDeliveryAddressPostIndex" />
                    <span class="text-danger">{{ errors.DocumentDeliveryAddressPostIndex }}</span>
                </div>
                                -->
            </div>
        </template>

        <!-- Дополнительные опции   -->
        <div class="form-group" style="display:none">
            <label class="col-md-4 control-label2 required">Куда доставить?</label>
            <div class="col-md-8">
                <radio-button v-model="order.TargetedDelivery" name="targetedDelivery" :val="false">
                    <span v-if="inSelfIntake">
                        Самозабор со склада
                    </span>
                    <span v-else>
                        Доставить до терминала транспортной компании
                    </span>

                </radio-button>
                <!-- <radio-button v-model="order.TargetedDelivery" name="targetedDelivery" :val="true">Доставить до дома</radio-button>-->
            </div>
        </div>

        <!-- Выбор транспортной компаний -->
        <div class="form-group">
            <label class="col-md-4 control-label2 required">
                <span v-if="inSelfIntake">
                    Доставка:
                </span>
                <span v-else>
                    {{ models.order.DeliveryOrder.Name }}
                </span>

            </label>
            <div class="col-md-8">
                <delivery-select v-model="order.DeliveryOrder" :order="order" :address="order.ProductDeliveryAddress" :products="order.Products" :in-self-intake="inSelfIntake" :shipping-address="ShippingAddressModel">
                    Транспортная компания не выбрана.
                    <template v-slot:title>
                        Выбор транспортной компаний
                    </template>
                </delivery-select>

                <span class="text-danger">{{ errors.DeliveryOrder }}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import stepMixin from './mixins/step-mixin'
    import Model from '../mixins/model'
    import ContractorSelect from './contractor-select.vue'
    import AddressSelect from './address-select.vue'
    import AddressInput from '../elements/address-input.vue'
    import AddressCheck from '../mixins/address-check'
    import RadioButton from '../elements/radio-button.vue'
    import DeliverySelect from "./delivery-select.vue"

    export default {
        mixins: [stepMixin, Model, AddressCheck],
        components: {
            ContractorSelect,
            AddressSelect,
            AddressInput,
            RadioButton,
            DeliverySelect
        },
        props: {
            order: Object,
        },
        data: function () {
            return {
                productDeliveryAddressValid: false,
                documentDeliveryAddressValid: false,
                requestHistory: [],
                productDeliveryAddress: null,
                inSelfIntake: false,
                products: [],
                ShippingAddressModel: "Чита"
            };
        },
        watch: {
            'order.TargetedDelivery': function () {
                this.order.DeliveryOrder = null;
            },
            'order.ProductDeliveryAddress': function () {
                this.checkProductDeliveryAddress();
                this.order.DeliveryOrder = null;
                this.updateNumberAddress(this.order.ProductDeliveryAddress, (number) => {
                    this.order.ProductDeliveryAddressBuildingNumber = number;
                });
                if (this.inSelfIntake) {
                    this.updateDeliveryOrder();
                }

            },
            'order.DocumentDeliveryAddress': function () {
                this.checkDocumentDeliveryAddress();
                this.updateNumberAddress(this.order.DocumentDeliveryAddress, (number) => {
                    this.order.DocumentDeliveryAddressBuildingNumber = number;
                })
            },
            "order.Phone": function () {
                this.loadingRequestHistory();
            },
            "order.Email": function () {
                this.loadingRequestHistory();
            },
            productDeliveryAddress() {
                if (this.productDeliveryAddress === "Чита"
                    || this.productDeliveryAddress === "Москва") {
                    this.ShippingAddressModel = this.productDeliveryAddress;

                    this.order.ProductDeliveryAddress = (this.ShippingAddressModel === "Чита") ? "Россия, Забайкальский край, Чита, улица Лазо, 117А" : "Россия, Москва, Ярославское шоссе, 118к3";
                    this.updateDeliveryOrder();
                    this.inSelfIntake = true;
                } else {
                    this.inSelfIntake = false;
                }
            },
            ShippingAddressModel() {
                if (this.inSelfIntake) {
                    this.productDeliveryAddress = this.ShippingAddressModel;
                    this.order.ProductDeliveryAddress = (this.ShippingAddressModel === "Чита") ? "Россия, Забайкальский край, Чита, улица Лазо, 117А" : "Россия, Москва, Ярославское шоссе, 118к3";
                    this.updateDeliveryOrder();
                }
            },
            inSelfIntake: function () {
                if (this.inSelfIntake) {
                    if (this.productDeliveryAddress === null
                        || this.productDeliveryAddress.length === 0)
                        this.productDeliveryAddress = this.ShippingAddressModel;
                    this.updateDeliveryOrder();

                } else {
                    this.order.DeliveryOrder = null;
                    this.order.ProductDeliveryAddress = "";
                    this.productDeliveryAddress = "";
                }
            },
            'order.Products': {
                handler: function () {
                    this.getProductDelivery();
                },
                deep: true
            },
            products: {
                handler: function () {
                    if (this.inSelfIntake
                        && this.products !== null
                        && this.products !== undefined
                        && this.products.length > 0) {
                        this.updateDeliveryOrder();
                    }
                },
                deep: true
            }

        },
        methods: {
            updateDeliveryOrder() {
                let obj = this.getObjectByModel("DeliveryOrder");

                obj["NameTransportCompany"] = "InYourCity";
                obj["Country"] = "Россия";
                obj["InYourCity"] = true;
                obj["IsAddress"] = this.order.TargetedDelivery;
                obj["Lat"] = 0;
                obj["Log"] = 0;
                obj["Price"] = 0;
                obj["Region"] = "";
                obj["Time"] = 0;
                obj["TotalVolume"] = null;
                obj["TotalWeight"] = null;
                obj["TypeDelivery"] = "other";
                obj["ShippingAddress"] = this.productDeliveryAddress;
                obj["City"] = this.productDeliveryAddress;

                if (this.products.length > 0) {
                    obj["TotalVolume"] = 0;
                    obj["TotalWeight"] = 0;
                    for (let item of this.products) {
                        obj["TotalWeight"] += item.weight * item.count;
                        obj["TotalVolume"] += item.volume * item.count;
                    }
                }


                this.order.DeliveryOrder = obj;
            },
            getProductDelivery() {
                let products = this.order.Products.map(item => ({
                    GuId: item.BaseData.guid,
                    Count: item.BaseData.count
                }));
                fetch("/Delivery/GetProduct", {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(products),
                }).then((response) => {
                    return response.json();
                }).then((r) => {
                    this.products = r;

                });
            },
            updateNumberAddress(address, callback) {
                this.getAddress(this.order.ProductDeliveryAddress)
                    .then(result => {
                        if (result !== false) {
                            let premiseNumber = result?.Country?.AdministrativeArea?.Locality?.Thoroughfare?.Premise?.PremiseNumber;
                            let premiseNumberSubAdminis = result?.Country?.AdministrativeArea?.SubAdministrativeArea?.Locality?.Thoroughfare?.Premise?.PremiseNumber;
                            let premiseNumberDependen = result?.Country?.AdministrativeArea?.SubAdministrativeArea?.Locality?.DependentLocality?.Premise?.PremiseNumber;

                            if (premiseNumber !== undefined && premiseNumber !== null)
                                callback(premiseNumber);
                            else if (premiseNumberSubAdminis !== undefined && premiseNumberSubAdminis !== null)
                                callback(premiseNumberSubAdminis);
                            else if (premiseNumberDependen !== undefined && premiseNumberDependen !== null)
                                callback(premiseNumberDependen);
                        }
                    });
            },
            validate: function () {
                this.errors = {};

                let empty = (f => f === null || f.length === 0);

                if (!this.order.DocumentReceiverIsOrderer) {
                    if (empty(this.order.DocumentsReceiver.ID)) {
                        this.errors.DocumentsReceiver = 'Получатель документов не указан.';
                    }
                }

                if (this.order.OrderByIndividualFace && empty(this.order.DocumentDeliveryAddress))
                    this.order.DocumentDeliveryAddress = this.order.ProductDeliveryAddress;

                if (!this.order.OrderByIndividualFace && empty(this.order.DocumentDeliveryAddress)) {
                    this.errors.DocumentDeliveryAddress = 'Адрес доставки документов не указан.';
                } else {
                    if (!this.order.OrderByIndividualFace && !this.documentDeliveryAddressValid) {
                        this.errors.DocumentDeliveryAddress = 'Неправильно введен адрес, нужно ввести с точностью до улицы.';
                    }
                }

                if (!this.order.OrderByIndividualFace && empty(this.order.DocumentDeliveryAddressBuildingNumber)) {
                    this.errors.DocumentDeliveryAddressBuildingNumber = 'Дом не указан.';
                }

                if (!this.order.OrderByIndividualFace && empty(this.order.DocumentDeliveryAddressPostIndex)) {
                    this.errors.DocumentDeliveryAddressPostIndex = 'Индекс не указан.';
                }

                if (!this.order.ProductReceiverIsOrderer) {
                    if (this.order.ProductReceiver.ID === null || this.order.ProductReceiver.ID === 0) {
                        this.errors.ProductReceiver = 'Получатель товара не указан.';
                    }
                }

                if (empty(this.order.ProductDeliveryAddress)) {
                    this.errors.ProductDeliveryAddress = 'Адрес доставки товара не указан.'
                } else {
                    if (!this.productDeliveryAddressValid) {
                        this.errors.ProductDeliveryAddress = 'Неправильно введен адрес, нужно ввести с точностью до улицы.';
                    }
                }

                /* if (empty(this.order.ProductDeliveryAddressBuildingNumber)) {
                     this.errors.ProductDeliveryAddressBuildingNumber = 'Дом не указан.';
                 }*/

                if (empty(this.order.DeliveryOrder)) {
                    this.errors.DeliveryOrder = 'Выберите транспортную компанию.';
                }

                return Object.getOwnPropertyNames(this.errors).length <= 1;
            },
            checkProductDeliveryAddress: function () {
                this.productDeliveryAddressValid = false;
                if (this.order.ProductDeliveryAddress !== null

                    && this.order.ProductDeliveryAddress !== undefined
                    && this.order.ProductDeliveryAddress.length > 0) {
                    this.getAddress(this.order.ProductDeliveryAddress.trim())
                        .then(result => {
                            if (result !== false) {
                                this.productDeliveryAddressValid = true;
                              /*  let city = null;
                                if (city === null && typeof result?.Country?.AdministrativeArea?.SubAdministrativeArea?.Locality?.LocalityName !== "undefined")
                                    city = result.Country.AdministrativeArea.SubAdministrativeArea.Locality.LocalityName;

                                if (city === null && typeof result?.Country?.AdministrativeArea?.Locality?.LocalityName !== "undefined")
                                    city = result.Country.AdministrativeArea.Locality.LocalityName;

                                if (city === null && typeof result?.Country?.AdministrativeArea?.AdministrativeAreaName !== "undefined")
                                    city = result.Country.AdministrativeArea.AdministrativeAreaName;


                                if (city !== null)
                                    this.productDeliveryAddress = city;
                                else
                                    this.productDeliveryAddress = null*/
                            } else {
                               // this.productDeliveryAddress = null
                            }

                        });
                } /*else {
                    this.productDeliveryAddress = null
                }*/
                /*
                                this.checkAddress(this.order.ProductDeliveryAddress, 'street')
                                    .then(result => {
                                        this.productDeliveryAddressValid = result;
                                    });*/
            },
            checkDocumentDeliveryAddress: function () {
                this.documentDeliveryAddressValid = false;
                this.checkAddress(this.order.DocumentDeliveryAddress, 'street')
                    .then(result => {
                        this.documentDeliveryAddressValid = result;
                    });
            },
            loadingRequestHistory() {
                fetch("/Orders/GetLastOrdersData?phone=" + encodeURI(this.order.Phone) + "&email=" + encodeURI(this.order.Email), {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then((response) => {
                    return response.json();
                }).then((r) => {
                    this.requestHistory = r.productDeliveryAddress;
                });
            },

        },
        created: function () {
            this.productDeliveryAddressValid = true;
            this.documentDeliveryAddressValid = true;
            this.loadingRequestHistory();
            this.getProductDelivery();
        }
    }
</script>

<style scoped>
</style>