﻿<template>
    <div>
        <div class="panel-bodytable-responsive anketa-list-order">
            <!-- Юридическое лицо -->
            <template v-if="!order.OrderByIndividualFace">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Покупатель</div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <contractor-view :contractor="ordererFace"></contractor-view>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Плательщик</div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <contractor-view :contractor="payerFace"></contractor-view>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Получатель документов</div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <contractor-view :contractor="documentsReceiver"></contractor-view>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Получатель товара</div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <contractor-view :contractor="productReceiver"></contractor-view>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Адрес доставки документов</div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        {{ documentDeliveryAddress }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Доставка</div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <label>Адрес доставки:</label>
                        {{ productDeliveryAddress }}
                        <template v-if="deliveryInfo !== null">
                            <delivery-view :delivery="deliveryInfo" style="display: inline;padding: 0;"></delivery-view>
                        </template>
                    </div>
                </div>
            </template>

            <!-- Физическое лицо -->
            <template v-else>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Покупатель</div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        {{ order.OrdererFullName }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Доставка</div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        <label>Адрес доставки:</label>
                        {{ documentDeliveryAddress }}
                        <template v-if="deliveryInfo !== null">
                            <delivery-view :delivery="deliveryInfo" style="display: inline;padding:0;"></delivery-view>
                        </template>
                    </div>
                </div>
                <div class="row" v-if="order.Phone !== null && order.Phone.length > 0">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Телефон</div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        {{ order.Phone }}
                    </div>
                </div>
                <div class="row" v-if="order.Email !== null && order.Email.length > 0">
                    <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">Электронная почта</div>
                    <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                        {{ order.Email }}
                    </div>
                </div>
            </template>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    Товары заказа
                    <a href="#" class="btn btn-default btn-xs" @click="showProducts = !showProducts; $event.preventDefault();">
                        {{ (showProducts ? 'Скрыть товары' : 'Показать товары') }}
                    </a>
                </div>
            </div>
            <div class="row" v-show="showProducts">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <products-list :products="order.Products"></products-list>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import ContractorView from './contractor-view.vue'
    import AddressView from './address-view.vue'
    import ProductsList from './products-list.vue'
    import DeliveryView from './delivery/delivery-view.vue'

    export default {
        components: {
            ContractorView,
            AddressView,
            ProductsList,
            DeliveryView
        },
        props: {
            order: Object
        },
        data: function () {
            return {
                showProducts: true,
                savingInProgress: false
            };
        },
        computed: {
            ordererFace: function () {
                return this.order.OrdererFace.ID;
            },
            payerFace: function () {
                if (this.order.PayerFaceIsOrderer) return this.ordererFace;
                return this.order.PayerFace.ID;
            },
            documentsReceiver: function () {
                if (this.order.DocumentReceiverIsOrderer) return this.ordererFace;
                return this.order.DocumentsReceiver.ID;
            },
            productReceiver: function () {
                if (this.order.ProductReceiverIsOrderer) return this.ordererFace;
                return this.order.ProductReceiver.ID;
            },
            documentDeliveryAddress: function () {
                let empty = (f) => f === null || f.length === 0;

                let address = this.order.DocumentDeliveryAddress;
                if (!empty(this.order.DocumentDeliveryAddressBuildingNumber)) address += ', дом ' + this.order.DocumentDeliveryAddressBuildingNumber;
                if (!empty(this.order.DocumentDeliveryAddressFlat)) address += ', кв. ' + this.order.DocumentDeliveryAddressFlat;
                if (!empty(this.order.DocumentDeliveryAddressPostIndex)) address += ', ' + this.order.DocumentDeliveryAddressPostIndex;

                return address;
            },
            productDeliveryAddress: function () {
                let empty = (f) => f === null || f.length === 0;

                let address = this.order.ProductDeliveryAddress;
                if (!empty(this.order.ProductDeliveryAddressBuildingNumber)) address += ', дом ' + this.order.ProductDeliveryAddressBuildingNumber;
                if (!empty(this.order.ProductDeliveryAddressFlat)) address += ', кв. ' + this.order.ProductDeliveryAddressFlat;

                return address;
            },
            deliveryInfo: function () {
                let empty = (f) => f === null || f.length === 0;
                let deliveryInfo = null;
                if (!empty(this.order.DeliveryOrder)) {
                    deliveryInfo = this.order.DeliveryOrder;
                } else if (!empty(this.order.DeliveryInformation)) {
                    if (typeof this.order.DeliveryInformation === "string")
                        deliveryInfo = JSON.parse(this.order.DeliveryInformation)
                    else
                        deliveryInfo = this.order.DeliveryInformation
                }

                return deliveryInfo;
            } 
        }
    }
</script>

<style scoped>
</style>