﻿<template>
    <div class="row">
        <div class="col-md-12">
            <div v-if="!userIsLoggedIn" class="alert alert-success">
                Уже регистрировались на сайте? <a href="/Account/Login?ReturnUrl=/Cart">Войдите</a> и Вам не придется заполнять форму снова, а заказ сохранится в личном кабинете.
            </div>
            <br />
            <div class="panel panel-default">
                <radio-button name="orderByIndividualFace" id="orderer-individual-face" v-model="order.OrderByIndividualFace" :val="true">Физическое лицо</radio-button>
                <div v-show="order.OrderByIndividualFace">

                    <div class="form-group" v-if="!currentPhoneConfirmed && !currentEmailConfirmed">
                        <div class="col-md-offset-3 col-md-9">
                            <button class="btn btn-primary" @click="openLoginForm">Подтвердить контакты</button>
                        </div>
                    </div>
                    <template v-else>
                        <div class="form-group">
                            <label for="Phone" class="col-md-3 control-label">{{ models.order.Phone.Name }}</label>
                            <div class="col-md-6">
                                <text-input x-class="form-control" v-model="order.Phone" :readonly="currentPhoneConfirmed"></text-input>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="Email" class="col-md-3 control-label">{{ models.order.Email.Name }}</label>
                            <div class="col-md-6">
                                <text-input x-class="form-control" v-model="order.Email" :readonly="currentEmailConfirmed"></text-input>
                            </div>
                        </div>              
                    </template>
                    
                    <div class="form-group">
                        <div class="col-md-offset-3 col-md-6">
                            <span class="text-danger">{{ validation.hasConfirmedContacts.error }}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <radio-button name="orderByIndividualFace" id="orderer-entity-face" v-model="order.OrderByIndividualFace" :val="false">Юридическое лицо</radio-button>
                <div v-show="!order.OrderByIndividualFace && !userIsLoggedIn">
                    Чтобы оформить заказ как юридическое лицо, Вам необходимо зарегистрироваться, затем вы сможете указать Ваши данные.             
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="checkbox" id="PersonalDataProcessing" v-model="order.PersonalDataProcessing" />
                    <label for="PersonalDataProcessing">
                        Согласен на обработку персональных данных. Политика персональных данных
                        <a href="https://batutmaster.ru/politika-bezopasnosti-personalnykh-dannykh" target="_blank">здесь</a>.
                    </label>
                    <br />
                    <span class="text-danger">{{ validation.order.PersonalDataProcessing.error }}</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-9">
                    <input type="checkbox" id="ConsentToNewsletter" v-model="order.ConsentToNewsletter" />
                    <label for="ConsentToNewsletter">{{ models.order.ConsentToNewsletter.Name }}</label>
                </div>
            </div>
        </div>

        <modal-dialog ref="loginForm" :small="true" x-style="min-width: 333px;">
            <template v-slot:title>Подтверждение контактов</template>
            <account-login @contact-confirmed="onContactConfirmed" :captcha-modal="false"></account-login>
        </modal-dialog>
    </div>
</template>

<script>
    import stepMixin from './mixins/step-mixin'
    import Model from '../mixins/model'
    import ValidationModel from '../mixins/validation'

    import RadioButton from '../elements/radio-button.vue'
    import ModalDialog from '../modal-dialog.vue'
    import AccountLogin from '../login/account-login.vue'
    import TextInput from '../elements/text-input.vue'

    import fetch from 'isomorphic-fetch'

    import { setTimeout } from 'timers';

    export default {
        mixins: [
            stepMixin,
            Model,
            ValidationModel,
        ],
        components: {
            RadioButton,
            ModalDialog,
            AccountLogin,
            TextInput,
        },
        props: {
            order: Object,
        },
        data: function () {
            return {
                orderByIndividualFace: true,
                confirmedPhones: [],
                confirmedEmails: [],
            };
        },
        computed: {
            userIsLoggedIn: function () {
                return window.appData.user !== null;
            },
            currentPhone() {
                return this.preparePhoneNumber(this.order.Phone) ?? '';            
            },
            currentEmail() {
                return this.order.Email !== null ? this.order.Email : '';
            },
            currentPhoneConfirmed: function () {
                return this.isPhoneConfirmed(this.currentPhone);
            },
            currentEmailConfirmed: function () {
                return this.isEmailConfirmed(this.currentEmail);
            },
        },
        methods: {
            validate() {
                return this.validation.isValid();
            },
            isPhoneConfirmed(phone) {
                if (phone === null || phone.length === 0) return false;
                phone = this.preparePhoneNumber(phone);
                return this.confirmedPhones.filter(e => {
                    return this.preparePhoneNumber(e) === phone;
                }).length > 0;
            },
            isEmailConfirmed(email) {
                if (email === null || email.length === 0) return false;
                return this.confirmedEmails.filter(e => {
                    return e.toLowerCase() === email.toLowerCase();
                }).length > 0;
            },
            resetErrors() {
                this.errors = {};
            },
            phoneConfirmed(phone) {
                this.confirmedPhones.push(phone);
            },
            emailConfirmed(email) {
                this.confirmedEmails.push(email);
            },
            openLoginForm() {
                this.$refs.loginForm.openDialog();
            },
            onContactConfirmed(data) {
                this.$refs.loginForm.closeDialog();

                this.order.Phone = null;
                this.order.Email = null;

                if (data.type === 'phone') {
                    let phone = this.preparePhoneNumber(data.contact);
                    this.order.Phone = phone;
                    this.confirmedPhones.push(phone);
                }
                else if (data.type === 'email') {
                    this.order.Email = data.contact;
                    this.confirmedEmails.push(data.contact);
                }
            },
            setupValidation() { // Настраивает валидацию формы
                this.initValidation([
                    'order.Phone',
                    'order.Email',
                    'order.PersonalDataProcessing',
                    'hasConfirmedContacts',
                    'entityGeneralError',
                ], (errors) => {

                    // Проверка согласия на обработку ПД
                    errors.setError('order.PersonalDataProcessing', 'Для оформления заказа необходимо согласиться на обработку персональных данных.', !this.order.PersonalDataProcessing);

                    if (this.order.OrderByIndividualFace) {
                        // Проверка, есть ли хотя бы один подтвержденный контакт
                        errors.setError('hasConfirmedContacts', 'Нет подтвержденных контактов.', !this.currentPhoneConfirmed && !this.currentEmailConfirmed);
                    } else {
                        // Ошибка, если пользователь не авторизован и заказ от юридического лица
                        errors.setError('entityGeneralError', null, !this.userIsLoggedIn);
                    }
                });
            },
        },
        created: function () {
            this.resetErrors();

            // Загружаем данные пользователя
            fetch('/Account/GetPersonalData')
                .then(response => response.json())
                .then(response => {
                    this.confirmedPhones = response.confirmedPhones;
                    this.confirmedEmails = response.confirmedEmails;

                    this.order.Phone = response.phone;
                    this.order.Email = response.email;

                    let addIfNotEmpty = (p, x) => {
                        if (x !== null && x.length > 0) p.push(x);
                    };
                    
                    let name = [];
                    addIfNotEmpty(name, response.lastName);
                    addIfNotEmpty(name, response.firstName);
                    addIfNotEmpty(name, response.middleName);

                    this.order.OrdererFullName = name.join(' ');
                });

            this.setupValidation();
        },
    };
</script>

<style>
    .panel {
        padding: 10px;
    }
</style>