﻿<template>
    <div>
        <!--<div class="form-group">
            <label for="Country" class="col-md-3 control-label2" style="padding-top: 5px;">{{ models.order.Country.Name }}</label>
            <div class="col-md-9">
                <country-select v-model="order.Country"></country-select>
                <span class="text-danger">{{ errors.Country }}</span>
            </div>
        </div>-->

        <template v-if="!order.OrderByIndividualFace">
            <div class="form-group">
                <label class="col-md-3 control-label">{{ models.order.OrdererFaceId.Name }}</label>
                <div class="col-md-9">
                    <contractor-select v-model="order.OrdererFace.ID" :deny-individual-face="true">
                        Покупатель не выбран.
                        <template v-slot:title>
                            Выбор покупателя
                        </template>
                    </contractor-select>
                    <span class="text-danger">{{ errors.OrdererFaceId }}</span>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="form-group">
                <label for="OrdererFullName" class="col-md-3 control-label">{{ models.order.OrdererFullName.Name }}</label>
                <div class="col-md-9">
                    <div class="OrdererFullName"
                         @mouseover="hovered = true;"
                         @mouseleave="hovered = false;">
                        <input @focus="focused = true" @blur="focused = false" type="text" class="form-control" v-model="order.OrdererFullName" />
                        <template v-if="isVisibleHistory">
                            <div class="OrdererFullNameBlock">
                                <ul>
                                    <li v-for="item in requestHistory" v-on:click="fullNameChangedHistory(item);">
                                        {{ item }}
                                    </li>
                                </ul>
                            </div>
                        </template>
                    </div>
                    <span class="text-danger">{{ errors.OrdererFullName }}</span>
                </div>
            </div>
        </template>

        <div class="form-group">
            <label class="col-md-3 control-label2">{{ models.order.OrdererInformation.Name }}</label>
            <div class="col-md-9">
                <textarea class="form-control" v-model="order.OrdererInformation"></textarea>
            </div>
        </div>

        <!--<div class="form-group col-md-6">
            <div class="alert alert-info text-left">
                Покупатель - это владелец товара по договору. Заказчик может отличаться от Плательщика по договору. <br />
                Например, заказчик по Договору ИП "Иванов Иван Иванович", а плательщиком может быть физическое лицо "Сидоров Пётр Сергеевич".
            </div>
        </div>-->
    </div>
</template>

<script>
    import stepMixin from './mixins/step-mixin'
    import CountrySelect from '../country-select.vue'
    import ContractorSelect from './contractor-select.vue'
    import Model from '../mixins/model'

    export default {
        mixins: [stepMixin, Model],
        components: {
            CountrySelect,
            ContractorSelect,
        },
        props: {
            order: Object,
        },
        data: function () {
            return {
                focused: false,
                requestHistory: [],
                hovered: false,
                isStopSuggest: true
            };
        },
        watch: {
            "order.Phone": function () {
                this.loadingRequestHistory();
            },
            "order.Email": function () {
                this.loadingRequestHistory();
            }
        },
        computed: {
            isVisibleHistory() {
                return this.requestHistory.length > 0 && (this.focused || this.hovered) && (this.order.OrdererFullName === null || this.order.OrdererFullName.length === 0);
            },
            allowBuyByIndividualFace() {
                return this.$parent.allowBuyByIndividualFace;
            },
        },
        methods: {
            validate: function () {
                let valid = true;

                this.resetErrors();

                if (this.order.Country === null) {
                    this.errors.Country = 'Выберите страну.';
                    valid = false;
                }

                if (!this.order.OrderByIndividualFace) {
                    if (this.order.OrdererFace.ID === null || this.order.OrdererFace.ID === 0) {
                        this.errors.OrdererFaceId = 'Выберите покупателя.';
                        valid = false;
                    }
                } else {
                    if (this.order.OrdererFullName === null || this.order.OrdererFullName.length === 0) {
                        this.errors.OrdererFullName = 'Введите ваше ФИО.';
                        valid = false;
                    }
                    else {
                        let nameComponents = this.order.OrdererFullName.split(/\s+/).filter(e => {
                            return e.length > 0;
                        });

                        if (nameComponents.length < 2) {
                            this.errors.OrdererFullName = 'Необходимо ввести хотя бы фамилию и имя.';
                            valid = false;
                        }
                        else {
                            this.order.OrdererFullName = this.order.OrdererFullName.trim().replace(/\s{2,}/g, ' ');
                        }
                    }
                }

                return valid;
            },
            resetErrors() {
                this.errors = {};
            },
            loadingRequestHistory() {
                fetch("/Orders/GetLastOrdersData?phone=" + encodeURI(this.order.Phone) + "&email=" + encodeURI(this.order.Email), {
                    method: 'GET',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                }).then((response) => {
                    return response.json();
                }).then((r) => {
                    this.requestHistory = r.ordererFullName;
                });
            },
            fullNameChangedHistory(item) {
                this.order.OrdererFullName = item;
            }
        },
        created() {
            this.resetErrors();
            this.loadingRequestHistory();
        },
    }

</script>

<style lang="scss">
    .OrdererFullName {
        position: relative;
        .OrdererFullNameBlock

    {
        position: absolute;
        z-index: 99;
        left: 0;
        right: 0;
        top: calc(100% - 2px);
        width: 100%;
        background: white;
        font: 13px/28px Arial,sans-serif;
        box-sizing: border-box;
        border: 1px solid #e5e5e5;
        padding: 0;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        touch-action: none;
        box-shadow: 0 10px 20px -5px rgba(0,0,0,.2) !important;
        ul

    {
        margin-left: 0;
        padding-left: 0;
        li

    {
        cursor: pointer;
        list-style-type: none;
        padding: 4px 5px;
        &:hover

    {
        background: #ffeba0;
    }

    }
    }
    }
    }

    .alert {
        margin: 0 !important;
    }
</style>