﻿<template>
    <div>
        <div class="phones-list">
            <input v-for="(v, index) in phones" v-bind:key="index" name="phone" class="phone-input form-control" placeholder="Номер телефона" @input="phoneChanged" v-model="phones[index]" />
        </div>        
    </div>
</template>

<script>
    export default {
        props: {
            value: Array,
        },
        data: function () {
            return {
                phones: [],
            };
        },       
        methods: {
            phoneChanged: function () {
                let emptyFields = [];
                for (let i = 0; i < this.phones.length; i++) {
                    if (this.phones[i].trim().length === 0) {
                        emptyFields.push(i);
                    }                    
                }

                if (emptyFields.length === 0) {
                    this.phones.push('');
                } else if (emptyFields.length > 1) {
                    let index = emptyFields[emptyFields.length - 1];
                    this.phones.splice(index, 1);
                }

                let phones = this.phones.filter((e) => e !== '');
                this.$emit('input', phones);
            }
        },
        created() {
            this.phones = [];
            Object.assign(this.phones, this.value);
            if (this.phones.length === 0) this.phones.push('');
        },
    };
</script>