﻿<template>
    <div>
        <loader v-if="order.Products === null"></loader>
        <template v-if="order.Products !== null">
            <div class="anceta-cart-body">
                <div id="anketa-items"></div>
                <product v-for="(product, index) in order.Products" v-bind:key="index" :product="product"></product>
                <div class="row anceta-cart-body-table total">
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center col-anketa-image">Итого:</div>
                    <div class="col-lg-offset-6 col-md-offset-6 col-sm-offset-6 col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center anketa-div-dotted-xs">{{ totalCount }}</div>
                    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">{{ totalSum.format() }} руб.</div>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import Loader from '../loader.vue'
    import Product from './product.vue'

    const TYPE_PRODUCT = 0;
    const TYPE_PROJECT = 1;

    export default {
        components: {
            Loader,
            Product
        },
        props: {
            items: Array,
            order: Object
        },
        data: function () {
            return {
            };
        },
        computed: {
            products: function () {
                return this.items.filter(e => +e.type === TYPE_PRODUCT);
            },
            projects: function () {
                return this.projects.filter(e => +e.type === TYPE_PROJECT);
            },
            totalCount: function () {
                let count = 0;
                if (this.order.Products !== null) {
                    for (let p of this.order.Products) count += p.BaseData.count;
                }
                return count;
            },
            totalSum: function () {
                let sum = 0;
                if (this.order.Products !== null) {
                    for (let p of this.order.Products) sum += (p.BaseData.price * p.BaseData.count);
                }
                return sum;
            },
        },
        methods: {
            loadProducts() {
                // Показываем сначала проекты
                let requestBody = {
                    module: 'product',
                    action: 'anketa_product_data',
                    products: this.products,
                };

                this.order.Products = [];
                for (let site of document.sites) {
                    let url = site.url + '/wp-content/plugins/anketa/ajax.php';
                    fetch(url, {
                        method: 'POST',
                        body: JSON.stringify(requestBody),
                    }).then((response) => {
                        return response.json()
                    }).then((data) => {
                        if (data.success) {
                            this.order.Products = this.order.Products.concat(data.data);
                        }
                    });
                }                              
            }
        },
        created() {
            this.loadProducts();
        }
    };
</script>