﻿<template>
    <div class="row anketa-panel-div" style="border: none;">
        <div class="col-md-12 text-left anketa-order-product-items">
            <div class="row hidden-xs anceta-cart-body-table cap">
                <div class="col-lg-5 col-md-5 col-sm-5 div-center col-anketa-image">Товар</div>
                <div class="col-lg-2 col-md-2 col-sm-2 div-center">
                    Цена
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 div-center">
                    Кол-во
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 div-center">
                    Сумма
                </div>
            </div>
            <div class="row anceta-cart-body-table" v-for="(product, index) in products" v-bind:key="index">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 div-center col-anketa-image">
                    <div class="anketa-cart-images anketa-cart-product-image">
                        <a :href="product.ProductUrl" target="_blank">
                            <img :src="product.ProductImgUrl" onerror="document.noImage(this)" />
                        </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 div-center col-anketa-text">
                    <a :href="product.ProductUrl" target="_blank" class="anketa-cart-product-link">
                        {{ product.Name }}
                    </a>
                    <br />
                    <span class="cart-product-sku">Артикул: {{ product.Sku }}</span>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center">
                    <div class="price anketa-cart-product-price">
                        {{ product.BaseData.price.format() }} руб.
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center">
                    {{ product.BaseData.count }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center">
                    <div class="price anketa-cart-product-price">
                        {{ (product.BaseData.price * product.BaseData.count).format() }} руб.
                    </div>
                </div>
            </div>
            <div class="row anceta-cart-body-table total">
                <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12 div-center col-anketa-image">
                    Итого:
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center anketa-div-dotted-xs">
                    {{ totalCount }}
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">
                    <div class="price">
                        {{ totalPrice.format() }} руб.
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            products: Array,
        },
        computed: {
            totalCount: function () {
                let count = 0;
                if (this.products !== null) for (let p of this.products) count += p.BaseData.count;
                return count;
            },
            totalPrice: function () {
                let price = 0;
                if(this.products !== null) for (let p of this.products) price += p.BaseData.count * p.BaseData.price;
                return price;
            },
        }
    };
</script>

<style>
    .anketa-cart-product {
        .image {
            max-height: 300px;
            max-width: 300px;
        }

        .price {
            color: #77a464;
            display: inline-flex;

            &:after {
                padding-left: 5px;
                content: 'руб.';
            }
        }
    }
</style>