﻿<template>
    <div class="row anceta-cart-body-table">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 col-anketa-image">
            <div class="anketa-cart-images anketa-cart-product-image" style="display: flex;">
                <product-image-slider :product="product"></product-image-slider>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 col-anketa-text">
            <a :href="product.ProductUrl" target="_blank" class="anketa-cart-product-link">{{ product.Name }}</a>
            <br />
            Артикул: {{ product.Sku }}
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">
            <div class="price anketa-cart-product-price">
                {{ product.BaseData.price }} руб.
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center">
            <counter v-model="product.BaseData.count"></counter>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center">
            <div class="price anketa-cart-total-product-price">{{ (product.BaseData.price * product.BaseData.count).format() }} руб.</div>
        </div>
    </div>
</template>

<script>
    import Counter from '../counter.vue';
    import ProductImageSlider from '../cartwishlist/product-image-slider.vue'

    export default {
        components: {
            Counter,
            ProductImageSlider
        },
        props: {
            product: Object
        }
    }
</script>