﻿<template>
    <div>
        <!--<div class="row">
            <div class="col-md-12">
                <input type="button" class="btn btn-primary" value="Добавить контрагента" @click="newContractor" />
            </div>
        </div>-->

        <template v-if="model.length === 0">
            <span class="label label-primary">Нет созданных контрагентов.</span>
        </template>
        <template v-else>
            <table class="table">
                <thead>
                    <tr>
                        <th>Наименование</th>
                        <th>Тип</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(item, index) in model" v-bind:key="index">
                        <td>{{ getView(item) }}</td>
                        <td>{{ item.individualFace !== null ? 'Физ. лицо' : item.entityFace.legalForm.name }}</td>
                        <td>&nbsp;</td>
                        <!--<td class="text-right"><input type="button" class="btn btn-default btn-sm" value="Редактировать" @click="editContractor(item)" /></td>-->
                    </tr>
                </tbody>
            </table>
        </template>

        <div class="alert alert-info text-center">
            Контрагент - это лицо, на которое происходит оформление заказа, договора.<br />
            Контрагент используется для получения документов, товара. Вы можете создать сколько угодно Контрагентов.<br />
            Изменить данные о контрагенте можно, если не создан ни один заказ.<br />
            Если заказ уже создан, то для изменения данных нужно создавать нового контрагента.
        </div>
    </div>
</template>

<script>
    export default {
        data: function () {
            return {
                model: null,
            };
        },
        methods: {
            newContractor() {

            },
            editContractor(contractor) {

            },
            getView(contractor) {
                if (contractor.entityFace !== null) return contractor.entityFace.fullName;
                let face = contractor.individualFace;

                let components = [
                    face.lastName,
                    face.firstName,
                    face.middleName,
                ].filter(e => e !== null && e.length > 0).map(e => e.trim()).filter(e => e.length > 0);

                if (components.length === 0) return 'Имя не указано';
                else return components.join(' ');
            },
        },
        created() {
            this.model = window.model;
        },
    };
</script>