﻿@model List<anketa.Models.Database.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Администрирование</h2>

<form asp-action="Index" method="get" style="margin-bottom: 20px;">
    <div class="form-horizontal">
        <input type="text" name="search" class="form-control" placeholder="Поиск..." value="@ViewBag.search" />
    </div>
</form>

@if (Model.Count == 0)
{
    <div class="alert alert-warning">
        Заказы не найдены.
    </div>
}
else
{ 
    @foreach (var order in Model)
    {
        <p>
            <a asp-action="ViewProfile" asp-route-id="@order.Id" target="_blank">
                Заказ @order.GetOrderGuid() от @order.OrdererFace.ToString()
            </a>
            (<a asp-action="GetProfile" asp-route-id="@order.Id">скачать</a>)
        </p>
    }
}

@if (ViewBag.MaxPage > 1)
{
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li class="@(ViewBag.currentPage != 1 ? "" : "disabled")">
                <a asp-action="Index" asp-route-page="@ViewBag.previousPage" asp-route-search="@ViewBag.search" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i = 1; i <= ViewBag.MaxPage; i++)
            {
                <li>
                    <a asp-action="Index" asp-route-page="@i" asp-route-search="@ViewBag.search">@i</a>
                </li>
            }
            <li class="@(ViewBag.currentPage != ViewBag.maxPage ? "" : "disabled")">
                <a asp-action="Index" asp-route-page="@ViewBag.nextPage" asp-route-search="@ViewBag.search" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}
