﻿@model anketa.Models.Application.Forms.LoginForm
@{
    ViewData["Title"] = "Вход в панель";
}

<h2>Вход в панель</h2>

<form method="post" asp-action="Login">
    <div class="form-horizontal">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Email" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-right-only-xs">
                <input asp-for="RememberMe" />
                <label asp-for="RememberMe" class="control-label"></label>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 text-right-only-xs">
                <input type="submit" value="Войти" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>