﻿@model anketa.Models.Database.Order

@{
    ViewData["Title"] = "ViewProfile";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta lang="ru" />
    <title>MasterGroup - Личный кабинет - @ViewData["Title"]</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

    <style>
        body {
            padding: 10px;
            margin-top: 0 !important;
        }
    </style>
</head>
<body>
    <h4>Анкета клиента @Model.OrdererFace.ToString() (заказ @Model.GetOrderGuid() от @Model.OrderDate.ToShortDateString())</h4>
    <table class="table table-striped">
        <tr>
            <td colspan="2">
                <b>Данные о клиенте</b>
            </td>
        </tr>
        <tr>
            <td>
                ОПФ
            </td>
            <td>
                @(Model.OrdererFace.IsEntity() ? Model.OrdererFace.EntityFace.LegalForm.Name : "Физ. лицо")
            </td>
        </tr>
        <tr>
            <td>
                Полное наименование
            </td>
            <td>
                @Model.OrdererFace.ToString()
            </td>
        </tr>
        <tr>
            <td>
                ИНН
            </td>
            <td>
                @Model.OrdererFace.GetITIN()
            </td>
        </tr>
        <tr>
            <td>
                ОГРН
            </td>
            <td>
                @Model.OrdererFace.GetPSRN()
            </td>
        </tr>
        @if (Model.OrdererFace.IsEntity() && Model.OrdererFace.EntityFace.ActFromOrganization)
        {
            <tr>
                <td>Действует в лице</td>
                <td>
                    @Model.OrdererFace.EntityFace.ActFromOrgFace.ToString()
                </td>
            </tr>
            <tr>
                <td>Действует на основании</td>
                <td>
                    @Model.OrdererFace.EntityFace.ActOnBase.Name @Model.OrdererFace.EntityFace.ActOnBaseDocumentSerialNumber от @Model.OrdererFace.EntityFace.ActOnBaseDocumentDate.ToShortDateString()
                </td>
            </tr>
        }
        @if (Model.OrdererFace.IsEntity() && Model.OrdererFace.EntityFace.Head != null)
        {
            <tr>
                <td>Директор</td>
                <td>@Model.OrdererFace.EntityFace.Head.ToString()</td>
            </tr>
        }
        <tr>
            <td colspan="2">
                <b>Данные получателя товара</b>
            </td>
        </tr>
        <tr>
            <td>
                Получатель товара
            </td>
            <td>
                @if (Model.ProductReceiver.IsEntity())
                {
                    @Model.ProductReceiver.ToString()
                }
                else
                {
                    @Model.ProductReceiver.IndividualFace.ToString()
                    <br />
                    <span>@Model.ProductReceiver.IndividualFace.PassportSerial @Model.ProductReceiver.IndividualFace.PassportNumber</span>
                    <br />
                    <span>Выдан @Model.ProductReceiver.IndividualFace.PassportAuthority @Model.ProductReceiver.IndividualFace.PassportDate.ToShortDateString()</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                Адрес доставки товара
            </td>
            <td>
                @Model.ProductDeliveryAddress
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Данные получателя документов</b>
            </td>
        </tr>
        <tr>
            <td>
                Получатель документов
            </td>
            <td>
                @if (Model.DocumentsReceiver.IsEntity())
                {
                    @Model.DocumentsReceiver.ToString()
                }
                else
                {
                    @Model.DocumentsReceiver.IndividualFace.ToString()
                    <br />
                    <span>@Model.DocumentsReceiver.IndividualFace.PassportSerial @Model.DocumentsReceiver.IndividualFace.PassportNumber</span>
                    <br />
                    <span>Выдан @Model.DocumentsReceiver.IndividualFace.PassportAuthority @Model.DocumentsReceiver.IndividualFace.PassportDate.ToShortDateString()</span>
                }
            </td>
        </tr>
        <tr>
            <td>
                Адрес доставки документов
            </td>
            <td>
                @Model.DocumentDeliveryAddress
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <b>Контактная информация</b>
            </td>
        </tr>
        <tr>
            <td>
                Email
            </td>
            <td>
                @Model.User.Email
            </td>
        </tr>
        <tr>
            <td>
                Номер телефона
            </td>
            <td>
                @Model.User.Phone
            </td>
        </tr>
    </table>
    <br />
    <h4>Товары</h4>
    <table class="table table-striped">
       <tr>
           <th>
               Наименование
           </th>
           <th>
               Артикул
           </th>
           <th>
               Количество
           </th>
       </tr>
        @foreach (var item in Model.Products)
        {
            <tr>
                <td>
                    @item.Product.Name
                </td>
                <td>
                    @item.Product.Sku
                </td>
                <td>
                    @item.ProductCount шт.
                </td>
            </tr>
        }
    </table>
</body>
</html>