﻿@model IEnumerable<anketa.Models.Database.UserFace>

@{
    ViewData["Title"] = "Список контрагентов";
}

<script type="text/javascript">
    window.model = @Json.Serialize(Model);
</script>

<div id="app">
    <partial name="_loader" />
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/dist/contractors.min.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/dist/contractors.min.js" asp-append-version="true"></script>
    </environment>
}
