﻿﻿@{
    ViewData["Title"] = "Мастер создания контрагента";
}

<div>
    <div id="step-contragent-type" class="modal-tab">
        <div class="form-horizontal">
            <label class="step1-error text-danger hidden">Вы должны выбрать тип контрагента, чтобы продолжить.</label>
            <p>
                Выберите тип контрагента:
            </p>
            <input type="radio" class="counterparty-type" name="counterparty-type" id="counterparty-type-1" value="entity" checked /><label for="counterparty-type-1">&nbsp;Юридическое лицо (ООО, ИП, ПАО и тд.)</label>
            <br />
            <input type="radio" class="counterparty-type" name="counterparty-type" id="counterparty-type-2" value="individual" @(ViewBag.Exclude == "individual" ? "disabled" : "") /><label for="counterparty-type-2">&nbsp;Физическое лицо</label>

            <div class="row">
                <div class="col-md-12">
                    @if (ViewBag.Exclude == "individual")
                    {
                        <div class="alert alert-info">
                            Нельзя использовать физическое лицо как заказчика.
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="form-horizontal text-center anketa-button-list">
            <a href="javascript:void(0);" class="btn btn-primary wizard-face-type-select">Далее</a>
        </div>
    </div>
    <div id="step-entity-face" class="modal-tab hidden">
        <partial name="Partial/Entity" />
    </div>
    <div id="step-individual-face" class="modal-tab hidden">
        <partial name="Partial/Individual" />
    </div>
    <div id="step-saving" class="modal-tab hidden">
        <div class="lds-css ng-scope">
            <div style="width:100%;height:100%" class="lds-eclipse"><div></div></div>
        </div>
    </div>
    <div id="step-error" class="modal-tab hidden">
        Произошла ошибки при создании контрагента. Попробуйте заново.<br />
        Если ошибка повторилась, свяжитесь с нами 8-800-500-42-90.
    </div>
</div>
<script type="text/javascript">
    if (typeof Vue !== 'undefined') {
        document.appEventHandler.$on('countractors-update-country', function (country, el) {
            UpdateCountryCountractors(country, el);
        });
    }

    function UpdateCountryCountractors(country, el) {
        var check = "";
        var input = "";
        if (el == "individual") {
            check = "IsForeigner";
            input = "country-contractor-individual";

        }

        if (el == "entity") {
            check = "IsForeignFace";
            input = "country-contractor-entity";
        }

        if (country == "RU" && $('[name="' + check + '"]').is(":checked")) {
            $('[name="' + check + '"]').click();
        } else if (country != "RU" && !$('[name="' + check + '"]').is(":checked")) {
            $('[name="' + check + '"]').click();
        }

        $('#' + input).val(country);
    }

</script>

