﻿
@model anketa.Models.Database.User
@{
    ViewData["Title"] = "Личные данные";
}

<div class="clearfix" style="margin-bottom: 30px;"></div>

<script type="text/javascript">
    window.model = @Json.Serialize(Model);
</script>
<div id="app">
    <partial name="_loader" />
</div>

@Html.AntiForgeryToken()

@section Scripts {   
    <environment include="Development">
        <script src="~/dist/personal-data.min.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/dist/personal-data.min.js" asp-append-version="true"></script>
    </environment>
}