﻿@model List<anketa.Models.Database.CartWishlistItem>

@{
    ViewData["Title"] = "Корзина";
}

<script type="text/javascript">
    window.model = @Json.Serialize(Model);
</script>
<div id="app">
    <partial name="_loader" />
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/dist/cart.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/cart.min.js" asp-append-version="true"></script>
    </environment>
}

