﻿Поступила новая заявка на кредит

<br />
Почта клиента: <a href="mailto:%EMAIL%" id="email">%EMAIL%</a>
<br />

<h4>Заяка:</h4>
Коментарий к заявке: %COMMENT%
<br />
<table style='border:1px solid #54545478;margin-bottom:10px; border-collapse: collapse;border-radius: 5px;'>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">ФИО</td>
        <td style="padding:5px">%BORROWER_NAME%</td>
    </tr
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Серия паспорта</td>
        <td style="padding:5px">%PASSPORT_SERIAL%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Номер паспорта</td>
        <td style="padding:5px">%PASSPORT_NUMBER%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Сумма кредита</td>
        <td style="padding:5px">%CREDIT_SUM%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Первоначальный взнос</td>
        <td style="padding:5px">%FIRST_PAY%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Срок кредита</td>
        <td style="padding:5px">%CREDIT_PERIOD%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Email</td>
        <td style="padding:5px">%BORROWER_EMAIL%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Email</td>
        <td style="padding:5px">%BORROWER_PHONE%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">ДАТА</td>
        <td style="padding:5px">%DATE%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Товар</td>
        <td style="padding:5px">%PRODUCT%</td>
    </tr>
</table>
