﻿Вы оформили заказ на сайте <a href="https://my.batutmaster.ru/" target="_blank">my.batutmaster.ru</a>.
<br /><br />
Вам автоматически создан аккаунт для просмотра оформленных заказов.<br /><br />
Ваши учетные данные:<br />
Логин: %LOGIN%<br />
Пароль: %PASSWORD%