﻿Оформлен новый заказ %ORDER_ID%.
<br />
Чтобы скачать анкету, нажмите на <a href="%URI%" target="_blank">ссылку</a>.
<br />

Почта клиента: <a href="mailto:%EMAIL%" id="email">%EMAIL%</a>
<br />

<h4>Заказ:</h4>
Коментарий к заказу: %ORDER_DATA%
<br />
<table style='border:1px solid #54545478;margin-bottom:10px; border-collapse: collapse;border-radius: 5px;'>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Статус</td>
        <td style="padding:5px">%ORDER_STATUS%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Оплата</td>
        <td style="padding:5px">%ORDER_PAYMENT%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Способ оплаты:</td>
        <td style="padding:5px">%ORDER_PAYMENT_METHOD%</td>
    </tr>
    %SUM_FOR_CREDIT%
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Имя, Фамилия</td>
        <td style="padding:5px">%USER_NAME%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Email</td>
        <td style="padding:5px">%USER_EMAIL%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Телефон</td>
        <td style="padding:5px">%USER_PHONE%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Дата</td>
        <td style="padding:5px">%ORDER_DATE%</td>
    </tr>
    <tr style='border-bottom:1px dotted #54545478'>
        <td style="padding:5px;" bgcolor="#E6E7E8">Доставка</td>
        <td style="padding:5px">%ORDER_DELIVERY%</td>
    </tr>
</table>
<table>
    <tr>
        <td>
            Содержимое заказа:
        </td>
    </tr>
</table>
<table style='border:1px solid #54545478;margin-bottom:10px; border-collapse: collapse;border-radius: 5px;'>
    <tr bgcolor="#E6E7E8">
        <th>
        </th>
        <th width="50%">
            Наименование
        </th>
        <th>
            Цена, ₽
        </th>
        <th>
            Кол-во
        </th>
        <th>
            Сумма, ₽
        </th>
    </tr>
    %ORDER%
    <tr bgcolor="#E6E7E8" style="font-weight: bold;">
        <th colspan="4" style="text-align:left;">
            Итого:
        </th>
        <th style="text-align:center;">
            %TOTAL_PRICE% ₽
        </th>
    </tr>
</table>

