﻿<div style="max-width: 900px;width:100%">
    <table>
        <tr>
            <td>
                Добрый день!
            </td>
        <tr>
            <td>Данное письмо сформировано автоматически, отвечать на него не нужно.</td>
        </tr>
        <tr>
            <td>
                Ваш заказ № <span style="color:#217495;font-weight: bold;">%ORDER_ID%</span> на сумму %TOTAL_PRICE% ₽.
            </td>
        </tr>
    </table>

    <table style='border:1px solid #54545478;margin-bottom:10px; border-collapse: collapse;border-radius: 5px;'>
        <tr style='border-bottom:1px dotted #54545478'>
            <td style="padding:5px;" bgcolor="#E6E7E8">Статус</td>
            <td style="padding:5px">%ORDER_STATUS%</td>
        </tr>
        <tr style='border-bottom:1px dotted #54545478'>
            <td style="padding:5px;" bgcolor="#E6E7E8">Оплата</td>
            <td style="padding:5px">%ORDER_PAYMENT%</td>
        </tr>
        <tr style='border-bottom:1px dotted #54545478'>
            <td style="padding:5px;" bgcolor="#E6E7E8">Способ оплаты:</td>
            <td style="padding:5px">%ORDER_PAYMENT_METHOD%</td>
        </tr>
        %SUM_FOR_CREDIT%
        <tr style='border-bottom:1px dotted #54545478'>
            <td style="padding:5px;" bgcolor="#E6E7E8">Имя, Фамилия</td>
            <td style="padding:5px">%USER_NAME%</td>
        </tr>
        <tr style='border-bottom:1px dotted #54545478'>
            <td style="padding:5px;" bgcolor="#E6E7E8">Email</td>
            <td style="padding:5px">%USER_EMAIL%</td>
        </tr>
        <tr style='border-bottom:1px dotted #54545478'>
            <td style="padding:5px;" bgcolor="#E6E7E8">Телефон</td>
            <td style="padding:5px">%USER_PHONE%</td>
        </tr>
        <tr style='border-bottom:1px dotted #54545478'>
            <td style="padding:5px;" bgcolor="#E6E7E8">Дата</td>
            <td style="padding:5px">%ORDER_DATE%</td>
        </tr>
        <tr style='border-bottom:1px dotted #54545478'>
            <td style="padding:5px;" bgcolor="#E6E7E8">Доставка</td>
            <td style="padding:5px">%ORDER_DELIVERY%</td>
        </tr>
    </table>
    <table>
        <tr>
            <td>
                Вы заказали:
            </td>
        </tr>
    </table>
    <table style='border:1px solid #54545478;margin-bottom:10px; border-collapse: collapse;border-radius: 5px;'>
        <tr bgcolor="#E6E7E8">
            <th>
            </th>
            <th width="50%">
                Наименование
            </th>
            <th>
                Цена, ₽
            </th>
            <th>
                Кол-во
            </th>
            <th>
                Сумма, ₽
            </th>
        </tr>
        %ORDER%
        <tr bgcolor="#E6E7E8" style="font-weight: bold;">
            <th colspan="4" style="text-align:left;">
                Итого:
            </th>
            <th style="text-align:center;">
                %TOTAL_PRICE% ₽
            </th>
        </tr>
    </table>
    <table>
        <tr>
            <td style="color:#217495;font-weight: bold;font-size: 16px;">Наши специалисты свяжутся с вами в ближайшее время!</td>
        </tr>
        <tr>
            <td>
                <span>
                    Вся информация на сайте, все фотоизображения, описание, технические характеристики, другое текстовое наполнение носит исключительно информационный характер, отражает общие производственные и коммерческие условия сотрудничества, не является исчерпывающей информацией о предложении товара, не является публичной офертой, договором сотрудничества, другими обязательствами и гарантиями, связанных с работой компании. Окончательный макет, внешний вид товара согласуется с менеджерами компании и не может содержать товарные знаки и изображения, право на использование которых не передано Продавцу товара в установленном законом порядке. Фотоизображения на сайте размещены, в том числе, с целью изучения спроса на конкретный товар и могут не соответствовать действительности. Возможность изготовления, продажи товаров в точном соответствии с фотоизображениями на сайте обсуждается с менеджером компании.
                </span>
            </td>
        </tr>
        <tr>
            <td style="color:#217495;font-weight: bold;font-size: 16px;">Пожалуйста, не удаляйте переписку и не создавайте нового письма!</td>
        </tr>
        <tr>
            <td style="color:#217495;font-weight: bold;font-size: 16px;">Так будет легче установить Ваш заказ и обслужить Вас.</td>
        </tr>
    </table>
</div>