﻿Для сброса пароля от вашего аккаунта перейдите по этой ссылке:<br />
<a href="%ACT_LINK%">%ACT_LINK%</a><br /><br />

Время действия ссылки - 3 часа.<br/>
Если это письмо пришло вам по ошибке, проигнорируйте это письмо.<br/>