﻿@model anketa.Models.Database.Order
@using anketa.Misc
@inject ModelEngine ModelEngine
@{

    ViewData["Title"] = (ViewBag.SavedOrder ?? false) ? "Редактирование заказа" : "Оформление заказа";
    var orderId = 0;
    if (ViewBag.SavedOrder ?? false)
    {
        orderId = ViewBag.OrderId;
    }
}

@section Styles {
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/jquery-suggestions/css/suggestions.css" />
        <link rel="stylesheet" href="~/css/flag-icon-css/css/flag-icon.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/jquery-suggestions/css/suggestions.min.css" />
        <link rel="stylesheet" href="~/css/flag-icon-css/css/flag-icon.min.css" asp-append-version="true" />
    </environment>
}

<div class="clearfix" style="margin-top: 10px;"></div>
<h3>@ViewData["Title"]</h3>

<div id="app"></div>

@Html.AntiForgeryToken()

@section Scripts {
    <script type="text/javascript">
        window.appData.batutmasterSiteUrl = 'http://batutmaster.local/wp-content/plugins/anketa/ajax.php';
        window.orderData = {
            items: @Json.Serialize(ViewBag.CartItems),
        };
    </script>

    <environment include="Development">
        <script src="~/dist/order.min.js"></script>
    </environment>

    <environment exclude="Development">
        <script type="text/javascript">
            window.appData.batutmasterSiteUrl = 'https://batutmaster.ru/wp-content/plugins/anketa/ajax.php';
        </script>

        <script src="~/dist/order.min.js" asp-append-version="true"></script>
    </environment>
}
