﻿
@{
    ViewData["Title"] = "Список товаров заказа";
    var count = 0;
    var priceTotal = 0;

    foreach (var item in ViewBag.OrderProductItems)
    {
        count += item.ProductCount;
        priceTotal += Math.Round(item.ProductPrice * item.ProductCount, 2);
    }
}

@if (count > 0)
{

    <div class="anceta-cart-body">
        <div class="row hidden-xs anceta-cart-head-table">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">Товар</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 center">Цена</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 center">Количество</div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 center">Итого</div>
        </div>

        @foreach (var item in ViewBag.OrderProductItems)
        {

            <div class="row anceta-cart-body-table orders" id="anketa-cart-row-@item.Id">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center col-anketa-image">
                    <div class="anketa-cart-images anketa-cart-product-image">
                        <img src="@item.GetImageLink()" onerror="document.noImage(this);" />
                    </div>
                    <div class="anketa-cart-images-disable" id="anketa-cart-images-disable">
                        <i class="glyphicon glyphicon-camera" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 div-center col-anketa-text"><div class="anketa-product-warning" id="anketa-product-warning-@item.Id"></div><a href="@item.ProductUri" target="_blank" id="anketa-cart-product-link-@item.Id">@item.GetName()</a><br /><span id="cart-product-sku-@item.Id" class="cart-product-sku">Артикул: @(item.Product != null ? @item.Product.Sku : "не указан")</span></div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">
                    <div class="price" id="anketa-cart-product-price">
                        @item.ProductPrice.ToString("N") руб.
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">
                    <div class="anketa-group-input-cart-count" anketa-cart-items-id="@item.Id">
                        <input type="text" max="99" min="1" id="anketa-cart-count-@item.Id" class="form-control" value="@item.ProductCount" disabled>
                    </div>
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center"><div class="price" id="anketa-cart-product-totalprice-@item.Id">@Math.Round(item.ProductPrice * item.ProductCount, 2).ToString("N") руб.</div></div>
            </div>
        }
        <div class="row anceta-cart-body-table total">
            <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 div-center col-anketa-text">
                Итого:
            </div>

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">
                @count
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 div-center center">
                <div class="price" id="anketa-cart-total-price">@priceTotal.ToString("N") руб.</div>
                <div class="price" id="anketa-cart-total-is-note-prcice"></div>
            </div>
        </div>
    </div>

}




