﻿<template>
    <div>
        <template v-if="model.length > 0">
            <div class="anceta-cart-body">
                <div id="anketa-items">
                    <div class="row anceta-cart-head-table">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">Проект</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center">Цена</div>
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 text-center"></div>
                    </div>
                </div>
                <project v-for="item in model" v-bind:key="item.id" :project="item"></project>
            </div>
        </template>
        <template v-else>
            <div class="alert alert-warning">
                Нет созданных проектов.
            </div>
        </template>
    </div>
</template>

<script>
    import Project from './project.vue'

    export default {
        components: {
            Project,
        },
        data: function () {
            return {
                model: null,
            };
        },
        created() {
            this.model = window.model;
        },
    };
</script>