﻿<template>
    <div class="row anceta-cart-body-table">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 div-center col-anketa-text">
            <p><b>{{ project.name }}</b></p>
            <span>Номер проекта: <b>{{ project.name }}</b></span>
            <template v-if="project.sku !== null && project.sku.length > 0">
                <br />
                <span class="cart-product-sku">Артикул: <b>{{ project.sku }}</b></span>
            </template>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 div-center text-center">
            <div class="price anketa-cart-product-price">{{ project.price.format() }} руб.</div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1 div-center text-center">
            <div class="anketa-wishlist-add-cart">
                <a class="btn btn-default" @click="addToCart" :class="{ disabled: inProgress }">{{ project.inCart ? 'в корзину' : 'купить' }}</a>
            </div>
        </div>
    </div>
</template>

<script>
    import fetch from 'isomorphic-fetch'
    
    export default {
        props: {
            project: Object,
        },
        data: function () {
            return {
                inProgress: false,
            };
        },
        methods: {
            addToCart() {
                if (!this.project.inCart) {
                    // Добавление проекта в корзину
                    this.inProgress = true;

                    let requestBody = {
                        id: this.project.id,
                    };

                    fetch('/Projects/AddToCart', {
                        method: 'post',
                        body: JSON.stringify(requestBody),
                        headers: {
                            'Content-Type': 'application/json',
                        },
                    }).then(response => response.json()).then(response => {
                        this.inProgress = false;
                        this.project.inCart = true;
                    }).catch(error => {
                        this.inProgress = false;
                        alert(error);
                    });
                } else {
                    // Переход в корзину
                    document.location = '/Cart';
                }
            },
        },
    };
</script>
