﻿<template>
    <modal-dialog ref="root" @shown="onDialogShown" @hide="onDialogHide" :small="true" x-style="min-width: 333px;">
        <captcha :lazy="true" ref="captcha" @success="onSuccess"></captcha>
    </modal-dialog>
</template>

<script>
    import ModalDialog from '../../modal-dialog.vue'
    import Captcha from './captcha.vue'

    export default {
        components: {
            ModalDialog,
            Captcha,
        },
        methods: {
            openDialog() {
                this.$refs.root.openDialog();
            },
            onDialogShown() {
                this.$refs.captcha.showCaptcha();
            },
            onDialogHide() {
                this.$refs.captcha.hideCaptcha();
            },
            onSuccess(response) {
                this.$emit('success', response);
                this.$refs.root.closeDialog();
            },
        },
    };
</script>