﻿<template>
    <recaptcha v-if="!lazy || show" @success="onSuccess"></recaptcha>
</template>

<script>
    import Recaptcha from './recaptcha.vue'

    export default {
        components: {
            Recaptcha
        },
        props: {
            lazy: {
                type: Boolean,
                default: false,
            }
        },
        data: function () {
            return {
                show: false,
            }
        },
        methods: {
            onSuccess(response) {
                this.$emit('success', response);
            },
            showCaptcha() {
                this.show = true;
            },
            hideCaptcha() {
                this.show = false;
            },
        },
    };
</script>