﻿<template>
    <div style="text-align: center;">
        <template v-if="settings !== null">
            <div :id="recaptchaId" class="g-recaptcha" :data-sitekey="settings.siteKey" style="display: inline-block;"></div>
        </template>
    </div>
</template>

<script>
    import fetch from 'isomorphic-fetch'
    import md5 from 'md5'

    export default {
        data: function () {
            return {
                recaptchaId: null,
                settings: null,
            };
        },
        methods: {
            onSuccess(response) {
                this.$emit('success', response);
            },
            reset() {
                grecaptcha.reset(this.recaptchaId);
            },
        },
        created() {
            this.recaptchaId = md5(Date.now());
            this.recaptchaData = null;

            let recaptchaLoaded = () => {
                if (typeof grecaptcha !== 'undefined') {
                    grecaptcha.render(this.recaptchaId, {
                        sitekey: this.settings.siteKey,
                        theme: 'light',
                        callback: this.onSuccess,
                    });
                }
            };

            let recaptchaElementKey = 'recaptchaLoaded_' + this.recaptchaId;
            window[recaptchaElementKey] = recaptchaLoaded;
        },
        mounted() {
            fetch('/Account/CaptchaConfiguration').then(response => response.json()).then(response => {
                this.settings = response;

                let script = document.createElement('script');
                script.async = true;
                script.src = 'https://www.google.com/recaptcha/api.js?render=explicit&hl=ru&onload=recaptchaLoaded_' + this.recaptchaId;
                document.head.appendChild(script);
            });
        },
    };
</script>