﻿<template>
    <form @submit="formSubmit">
        <div class="form-vertical row">
            <template v-if="!isLoginByCode && !isLoginByPassword">
                <div class="col-md-12" :class="validation.email.classes">
                    <!-- Режим входа не выбран -->
                    <label class="control-label">Введите электронную почту</label>
                    <input type="email" class="form-control" ref="email" v-model="email" :readonly="requestInProgress" id="email" placeholder="example@mail.com" autocomplete="on" autocompletetype="email" />
                    <span class="text-danger">{{ validation.email.error }}</span>
                </div>
                <div v-if="!captchaModal" class="col-md-12" style="margin-top: 5px;">
                    <captcha @success="onCaptchaSuccess"></captcha>
                </div>
            </template>
            
            <div class="col-md-12" v-else>
                <!-- Выбран какой-то режим входа, отображаем заглушку для почты -->
                <div class="panel panel-primary email-view">
                    <span class="icon"><i class="glyphicon glyphicon-user"></i></span> {{ email }}
                </div>
            </div>

            <div class="col-md-12" :class="validation.code.classes" v-if="isLoginByCode">
                <!-- Вход по коду -->
                <label class="control-label">Код из письма</label>
                <input type="text" class="form-control" v-model="code" placeholder="Код из письма" ref="code" :readonly="requestInProgress" />
                <a href="javascript:void(0);" v-if="showResend" style="float: right;" :class="{ disabled: requestInProgress }" @click="sendCode">Отправить еще раз</a>
                <span class="text-danger">{{ validation.code.error }}</span>
            </div>

            <div class="col-md-12" :class="validation.password.classes" v-if="isLoginByPassword">
                <!-- Вход по паролю -->
                <label class="control-label">Пароль:</label>
                <input type="password" class="form-control" v-model="password" placeholder="Пароль" ref="password" :readonly="requestInProgress" />
                <span class="text-danger">{{ validation.password.error }}</span>
            </div>

            <!-- Кнопки -->
            <div class="col-md-12" style="margin-top: 15px;" v-if="isLoginByCode || !isLoginByPassword">
                <a class="btn btn-primary anketa-btn-primary" :class="{ disabled: requestInProgress }" @click="loginByCode">
                    {{ !isLoginByCode ? 'Получить код в письме' : 'Войти' }}
                </a>
            </div>
            <div class="col-md-12" style="margin-top: 5px;" v-if="!disablePasswordLogin && (isLoginByPassword || !isLoginByCode)">
                <a class="btn" :class="loginByPasswordButtonClass" @click="loginByPassword">Войти с паролем</a>
            </div>
            <div class="col-md-12" style="margin-top: 5px;" v-if="isLoginByCode || isLoginByPassword">
                <a class="btn btn-default anketa-btn-default" @click="cancel" :class="{ disabled: requestInProgress }">Отмена</a>
            </div>
        </div>

        <captcha-modal-dialog v-if="captchaModal" ref="captchaDialog" @success="onCaptchaSuccess"></captcha-modal-dialog>
    </form>
</template>

<script>

    import Popover from '../mixins/popover'  
    import HttpClient from '../mixins/httpClient.js'

    import Captcha from '../elements/captcha/captcha.vue'
    import CaptchaModalDialog from '../elements/captcha/captcha-modal-dialog.vue'
    import ClientVerificationTokens from '../mixins/clientVerificationTokens'   
    import ValidationMixin from '../mixins/validation'

    import { CONFIRMATION_CODE_INTENTS } from '../mixins/requestConfirmationCodeIntents'

    const LOGIN_BY = {
        CODE: 'code',
        PASSWORD: 'password',
    };

    let showResendTimer = null;

    export default {
        components: {
            Popover,
            Captcha,
            CaptchaModalDialog,
        },
        mixins: [
            Popover,
            HttpClient,
            ValidationMixin,
            ClientVerificationTokens,
        ],
        props: {
            disablePasswordLogin: {
                type: Boolean,
                default: false,
            },
            captchaModal: {
                type: Boolean,
                default: true,
            },
        },
        data: function () {
            return {
                email: null,
                code: null,
                password: null,
                emails: [],

                rememberMe: false,
                emailExists: false,
                requestInProgress: false,
                loginBy: null,

                accountsData: [],
                showResend: false,
            };
        },
        computed: {
            messageSendedToCurrentEmail() {
                let email = (this.email ?? '').toLowerCase();
                return this.emails.find(e => e.toLowerCase() === email) !== undefined;
            },
            loginByPasswordButtonClass() {
                return {
                    disabled: this.requestInProgress,
                    'btn-default anketa-btn-default': this.loginBy !== 'password',
                    'btn-primary anketa-btn-primary': this.loginBy === 'password',
                };
            },
            isLoginByCode: {
                get: function() {
                    return this.loginBy === 'code';
                },
                set: function (v) {
                    if (typeof v === 'boolean') this.loginBy = v ? 'code' : null;
                }
            },
            isLoginByPassword: {
                get: function () {
                    return this.loginBy === 'password';
                },
                set: function (v) {
                    if (typeof v === 'boolean') this.loginBy = v ? 'password' : null;
                },
            },
        },
        watch: {
            loginBy(v) {
                if (v === 'password' && this.disablePasswordLogin) this.loginBy = null;
            },
        },
        methods: {
            focusElement(el, tries) {
                let element = undefined;
                try {
                    eval('element = ' + el);
                } catch (e) {
                    console.log(e);
                }

                if (tries === undefined) tries = 1;
                if (element === undefined) {
                    if (tries < 25) setTimeout(this.focusElement, 200, el, tries + 1);
                    else console.log('Focus on element not successful.');
                } else {
                    element.focus();
                }
            },
            hideResend() {
                clearTimeout(showResendTimer);
                this.showResend = false;
            },
            resetPassword(e) {
                e.preventDefault();
            },
            contactConfirmed() {
                this.$emit('contact-confirmed', {
                    type: 'email',
                    contact: this.email,
                });
            },
            login() {
                if (this.loginBy === null || this.loginBy === LOGIN_BY.CODE) this.loginByCode();
                else if (this.loginBy === LOGIN_BY.PASSWORD) this.loginByPassword();
            },
            loginByCode() {
                if (this.requestInProgress || !this.validation.isValid({ include: 'email' })) return;

                if (!this.messageSendedToCurrentEmail && this.loginBy !== LOGIN_BY.CODE) {
                    // Код не был отправлен, отправляем
                    this.sendCode();

                } else if (this.messageSendedToCurrentEmail && this.loginBy !== LOGIN_BY.CODE) {
                    // Код был отправлен, но режим входа не по коду
                    // Возможно, нажали отмену, указываем, что режим входа - по коду
                    this.loginBy = LOGIN_BY.CODE;
                    this.focusElement('this.$refs.code');

                } else if (this.messageSendedToCurrentEmail && this.loginBy === LOGIN_BY.CODE) {
                    // Код на текущую электронную почту уже отправлен
                    if (!this.validation.isValid({ include: 'code' })) return;
                    this.requestInProgress = true;

                    let requestBody = {
                        email: this.email,
                        intent: CONFIRMATION_CODE_INTENTS.CONFIRM_ONLY,
                        verificationCode: this.code,
                    };

                    fetch('/Account/CheckConfirmationCode', {
                        method: 'post',
                        body: JSON.stringify(requestBody),
                        headers: this.getRequestHeaders(),
                    }).then(response => response.json()).then(response => {
                        if (response.success) {
                            // Проверка прошла успешно, оповещаем родителя
                            this.contactConfirmed();
                        }
                        else alert(response.message);
                    });
                }
            },
            onCaptchaSuccess(response) {
                this.captchaToken = response;
                if (this.captchaModal) this.sendCode();
            },
            sendCode() { // Отправка кода
                if (this.captchaToken === null) {
                    if (this.captchaModal) this.$refs.captchaDialog.openDialog();
                    return;
                };

                this.requestInProgress = true;

                let requestBody = {
                    email: this.email,
                    intent: CONFIRMATION_CODE_INTENTS.CONFIRM_ONLY,
                };

                fetch('/Account/RequestConfirmationCode', {
                    method: 'post',
                    body: JSON.stringify(requestBody),
                    headers: this.getRequestHeaders(),
                }).then(response => response.json()).then(response => {
                    this.requestInProgress = false;
                    if (response.success) {
                        if (response.data.needConfirmation) {
                            // Требуется подтверждение контакта
                            this.emails.push(this.email);
                            this.loginBy = LOGIN_BY.CODE;
                            this.focusElement('this.$refs.code');

                            this.hideResend();
                            showResendTimer = setTimeout(() => {
                                this.showResend = true;
                            }, 10000);
                        } else {
                            // Проверка прошла успешно, оповещаем родителя
                            this.contactConfirmed();
                        }
                    }
                    else alert(response.message);
                });
            },
            loginByPassword() {
                if (this.requestInProgress || !this.validation.isValid({ include: 'email' })) return;

                let getAccountStatus = (login) => {
                    let accountData = this.accountsData.find(e => e.email.toLowerCase() === login.toLowerCase());
                    return accountData !== undefined ? accountData.exists : undefined;                   
                };

                let requestBody = {
                    email: this.email,
                    password: this.loginBy === LOGIN_BY.PASSWORD ? this.password : null,
                };

                let accountStatus = getAccountStatus(this.email);
                if (accountStatus === undefined) {
                    // Нет данных по аккаунту, получаем
                    this.requestInProgress = true;

                    fetch('/Account/LoginUserByEmail', {
                        method: 'post',
                        body: JSON.stringify(requestBody),
                        headers: this.getRequestHeaders(),
                    }).then(response => response.json()).then(response => {
                        this.requestInProgress = false;
                        if (response.success) {
                            this.loginBy = LOGIN_BY.PASSWORD;
                            this.accountsData.push({ email: this.email, exists: true });
                            this.focusElement('this.$refs.password');
                        }
                        else alert(response.message);
                    });
                }
                else if (accountStatus === true) {
                    if (!this.validation.isValid({ include: 'password' })) return;

                    // Аккаунт существует
                    this.requestInProgress = true;

                    fetch('/Account/LoginUserByEmail', {
                        method: 'post',
                        body: JSON.stringify(requestBody),
                        headers: this.getRequestHeaders(),
                    }).then(response => response.json()).then(response => {
                        this.requestInProgress = false;

                        if (response.success) document.location = '/Account/AfterLoginPage';
                        else alert(response.message);
                    });
                }
            },
            cancel() {
                this.loginBy = null;
                this.hideResend();
            },
            openRegistration() {
                this.$emit('select-component', 'register');
            },
            formSubmit(event) {
                event.preventDefault();
                this.login();
            },
        },
        created() {
            this.initValidation([
                'email',
                'code',
                'password',
            ], errors => {
                let email = (this.email ?? '').trim();
                errors.setError('email', null, email.length === 0);
                errors.setError('email', null, !this.emailIsValid(email));

                errors.setError('code', null, this.code === null || this.code.length === 0);
                errors.setError('code', 'Проверьте правильность кода.', this.code === null || !this.code.match(/^\d{5}$/g));

                errors.setError('password', null, this.password === null || this.password.length === 0);
            });
        },
    };
</script>

<style lang="scss">
    .email-view {
        padding: 5px;
        .icon

    {
        background-color: rgb(130, 139, 149);
        color: white;
        top: 3px;
        position: relative;
        border-radius: 50%;
        height: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        margin-bottom: 5px;
    }
    }
</style>