﻿<template>
    <form @submit="formSubmit">
        <div class="form-vertical row">
            <template v-if="!messageSendedToCurrentPhone">
                <div class="col-md-12" :class="validation.phone.classes">
                    <!-- Сообщение еще не отправлено -->
                    <label class="control-label">Введите номер телефона</label>
                    <input type="text" class="form-control" v-model="phone" placeholder="+79000000000" autocomplete="on" autocompletetype="phone" />
                    <span class="help-block">{{ validation.phone.text }}</span>
                </div>
                <div v-if="!captchaModal" class="col-md-12">
                    <captcha @success="onCaptchaSuccess"></captcha>
                </div>
            </template>
            <div class="col-md-12" v-else>
                <!-- Сообщение уже отправлено -->
                <div class="panel panel-primary email-view">
                    {{ phone }}
                </div>
                <div :class="validation.code.classes">
                    <label class="control-label">Код из SMS</label>
                    <input type="text" class="form-control" ref="code" v-model="code" placeholder="Код из SMS" />
                    <span class="text-danger">{{ validation.code.error }}</span>
                    <span>
                        На указанный номер отправлена СМС.<br />
                        <template v-if="resendTimeout > 0">
                            Повторная отправка возможна через {{ formattedTimeout }}.
                        </template>
                        <template v-else>
                            <a href="javascript:void(0);" @click="sendCode">Отправить еще раз.</a>
                        </template>
                    </span>
                </div>
            </div>
            <div class="col-md-12" style="margin-top: 15px;">
                <a class="btn btn-primary anketa-btn-primary" v-bind:class="{ disabled: requestInProgress }" @click="submitCode">
                    {{ messageSendedToCurrentPhone ? 'Войти' : 'Получить код в SMS' }}
                </a>
            </div>
            <div class="col-md-12" v-show="messageSendedToCurrentPhone" style="margin-top: 5px;">
                <a class="btn btn-default anketa-btn-default" @click="cancel">Отмена</a>
            </div>
        </div>

        <captcha-modal-dialog v-if="captchaModal" ref="captchaDialog" @success="onCaptchaSuccess"></captcha-modal-dialog>
    </form>
</template>

<script>
    import Popover from '../mixins/popover'
    import HttpClient from '../mixins/httpClient.js'

    import Captcha from '../elements/captcha/captcha.vue'
    import CaptchaModalDialog from '../elements/captcha/captcha-modal-dialog.vue'

    import ClientVerificationTokens from '../mixins/clientVerificationTokens'
    import ValidationMixin from '../mixins/validation'

    import { CONFIRMATION_CODE_INTENTS } from '../mixins/requestConfirmationCodeIntents'

    let showResendTimer = null;

    export default {
        components: {
            Popover,
            Captcha,
            CaptchaModalDialog,
        },
        mixins: [
            Popover,
            HttpClient,
            ValidationMixin,
            ClientVerificationTokens,
        ],
        props: {
            captchaModal: {
                type: Boolean,
                default: true,
            },
        },
        data: function () {
            return {
                phones: [],
                phone: '',
                code: null,
                IAgree: true,
                dataLogin: null,
                phoneSms: false,
                rememberMe: false,
                requestInProgress: false,
                error: {},
                warnings: {},
                isMasked: true,
                county: "RU",
                resendTimeout: 0,
            };
        },
        computed: {
            messageSendedToCurrentPhone() {
                let phone = this.preparePhoneNumber(this.phone);
                return this.phones.indexOf(phone) > -1;
            },
            formattedTimeout() {
                let m = Math.floor(this.resendTimeout / 60);
                let s = this.resendTimeout - m * 60;
                m = m.toString().replace(/^(\d)$/, '0$1');
                s = s.toString().replace(/^(\d)$/, '0$1');
                return m + ':' + s;
            },
        },
        methods: {
            focusElement(el, tries) {
                let element = undefined;
                try {
                    eval('element = ' + el);
                } catch (e) {
                    console.log(e);
                }

                if (tries === undefined) tries = 1;
                if (element === undefined) {
                    if (tries < 25) setTimeout(this.focusElement, 200, el, tries + 1);
                    else console.log('Focus on element not successful.');
                } else {
                    element.focus();
                }
            },
            hideResend() {
                clearTimeout(showResendTimer);
                this.showResend = false;
            },
            contactConfirmed() {
                this.$emit('contact-confirmed', {
                    type: 'phone',
                    contact: this.preparePhoneNumber(this.phone),
                });
            },
            startResendTimeout() {
                this.resendTimeout = 120;
                let countdown = () => {
                    this.resendTimeout--;
                    if (this.resendTimeout > 0) setTimeout(countdown, 1000);
                };
                countdown();
            },
            onCaptchaSuccess(response) {
                this.captchaToken = response;
                if (this.captchaModal) this.sendCode();
            },
            sendCode() { // Отправляет код на номер телефона
                if (this.captchaToken === null) {
                    if (this.captchaModal) this.$refs.captchaDialog.openDialog();
                    return;
                };

                this.requestInProgress = true;

                let phone = this.preparePhoneNumber(this.phone);
                let requestBody = {
                    phone: phone,
                    intent: CONFIRMATION_CODE_INTENTS.CONFIRM_ONLY,
                };

                fetch('/Account/RequestConfirmationCode/', {
                    method: 'post',
                    body: JSON.stringify(requestBody),
                    headers: this.getRequestHeaders(),
                }).then(response => response.json()).then(response => {
                    this.requestInProgress = false;
                    if (response.success) {
                        if (response.data.needConfirmation) {
                            // Требуется подтверждение
                            if (this.phones.indexOf(phone) === -1) this.phones.push(phone);
                            this.focusElement('this.$refs.code');

                            // Запускаем таймер для отсчета времени, когда будет доступна повторная отправка
                            this.startResendTimeout();
                        } else {
                            // Проверка кода прошла успешно, оповещаем родителя
                            this.contactConfirmed();
                        }
                    } else {
                        alert(response.message);
                    }
                });
            },
            submitCode() {
                if (this.requestInProgress) return;

                if (this.phone.match(/^\89\d{9}$/g)) this.phone = this.phone.replace(/^8/, '+7');


                if (!this.messageSendedToCurrentPhone) {
                    // Код еще не отправлен
                    if (!this.validation.isValid({ include: 'phone' })) return;
                    this.sendCode();

                } else {
                    // Код на текущий номер телефона уже отправлен
                    if (!this.validation.isValid()) return;

                    this.requestInProgress = true;

                    let requestBody = {
                        phone: this.preparePhoneNumber(this.phone),
                        intent: CONFIRMATION_CODE_INTENTS.CONFIRM_ONLY,
                        verificationCode: this.code,
                    };

                    fetch('/Account/CheckConfirmationCode', {
                        method: 'post',
                        body: JSON.stringify(requestBody),
                        headers: this.getRequestHeaders(),
                    }).then(response => response.json()).then(response => {
                        this.requestInProgress = false;
                        if (response.success) {
                            // Проверка кода прошла успешно, оповещаем родителя
                            this.contactConfirmed();
                        } else {
                            alert(response.message);
                        }
                    });
                }
            },
            formSubmit(e) {
                e.preventDefault();
                this.submitCode();
            },
            cancel() {
                let phone = this.preparePhoneNumber(this.phone);
                let index = this.phones.indexOf(phone);
                if (index > -1) this.phones.splice(index, 1);

                this.hideResend();
            },
        },
        created() {
            this.initValidation([
                'phone',
                'code',
            ], (errors) => {
                let phone = this.preparePhoneNumber(this.phone ?? '');
                errors.setError('phone', null, phone.length === 0);

                let isRussian = phone.match(/^\+?79\d{9}$/g) !== null || phone.match(/^\89\d{9}$/g);
                    errors.setWarning('phone', 'Номер не относится к мобильным операторам РФ. Можете войти с помощью электронной почты.', phone.length > 0 && !isRussian);
                    errors.setSuccess('phone', 'Мобильный оператор РФ.', phone.length > 0 && isRussian);

                errors.setError('code', null, this.code === null || this.code.length === 0);
                errors.setError('code', 'Проверьте правильность кода.', this.code === null || !this.code.match(/^\d{5}$/g));
            });
        },
    }
</script>