﻿<template>
    <div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a class="flex-column text-right anketa-link-account text-center" v-bind:class="{ active: loginBy === 'phone' }" @click="loginBy = 'phone'">По телефону</a>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                <a class="flex-column anketa-link-account text-center" v-bind:class="{ active: loginBy === 'email' }" @click="loginBy = 'email'">По эл. почте</a>
            </div>
        </div>
        <div style="margin-top: 10px;">
            <account-login-by-phone v-if="loginBy === 'phone'" :key="keyData" :captcha-modal="captchaModal" @contact-confirmed="confirmSuccess"></account-login-by-phone>
            <account-login-by-email v-if="loginBy === 'email'" :key="keyData" :captcha-modal="captchaModal" :disable-password-login="disablePasswordLogin" @contact-confirmed="confirmSuccess"></account-login-by-email>
        </div>

        <template v-if="socialNetworks !== null && socialNetworks.length > 0">
            <div class="row">
                <div class="col-md-12">
                    <div class="anketa-social-header"><h1>ИЛИ</h1></div>
                    <ul class="anketa-social-form">
                        <li v-for="sn in socialNetworks">
                            <a :href="sn.url" @click="socialNetworkClick($event, sn.url)">
                                <img :src="'/images/social/' + sn.image" />
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </template>
    </div>
</template>

<script>
    import AccountLoginByEmail from './account-login-by-email.vue'
    import AccountLoginByPhone from './account-login-by-phone.vue'

    import fetch from 'isomorphic-fetch'
    import md5 from 'md5'

    export default {
        props: {
            disablePasswordLogin: {
                type: Boolean,
                default: true,
            },
            captchaModal: {
                type: Boolean,
                default: true,
            }
        },
        components: {
            AccountLoginByEmail,
            AccountLoginByPhone
        },
        data: function () {
            return {
                loginBy: 'phone',
                keyData: null,
                socialNetworks: null,

                formId: null,
            };
        },
        methods: {
            resetPassword(email) {
                this.$emit('reset-component', 'reset-password');
            },
            selectComponent(name) {
                this.$emit('select-component', name);
            },
            confirmSuccess(data) {
                this.$emit('contact-confirmed', data);
                this.keyData = Date.now();
            },
            loadSocialNetworks(formId) {
                fetch('/Account/SocialNetworks?formId=' + formId).then(response => response.json()).then(response => {
                    this.socialNetworks = response;
                });
            },
            socialNetworkClick(e, href) {
                e.preventDefault();
                window.open(href, 'targetWindow', 'toolbar=no,location=no,status=no,menubar=no,scrollbars=yes,resizeable=yes,width=1000,height=615');
            },
            setSocialNetworkConfirmListener() {
                // Устанавливаем прослушивание события при подтверждении контакта через соц. сеть
                document.communication.on('SocialNetworkContactConfirmed', (message) => {
                    let msg = JSON.parse(message);
                    if (msg.FormId === this.formId) {
                        // Проверяем, что это событие для данной формы
                        if (msg.Phone !== null && msg.Phone.length > 0) this.confirmSuccess({ type: 'phone', contact: msg.Phone });
                        else if (msg.Email !== null && msg.Email.length > 0) this.confirmSuccess({ type: 'email', contact: msg.Email });
                    }
                });
            },
        },
        created() {
            this.keyData = Date.now();

            this.formId = md5(Date.now());

            this.loadSocialNetworks(this.formId);
            this.setSocialNetworkConfirmListener();
        },
    };
</script>

<style lang="scss">
    .anketa-link-account {
        color: #5E5E5E;
        @media (max-width: 767px) {
            color: #3f3f3f;
        }
    }
</style>