﻿<template>
    <div>
        <div class="row">
            <div class="col-md-12 text-center">
                <h3>Авторизация</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 hidden-xs"></div>
            <div class="col-md-4">
                <hr />
                <account-login @contact-confirmed="onContactConfirmed"></account-login>
                <br />
                <a class="anketa-link-primary" @click="$refs.haveTroubles.openDialog()">Возникли сложности?</a>
                <modal-dialog ref="haveTroubles">
                    <template v-slot:title>
                        Возникли сложности?
                    </template>
                    <div style="font-size: 18px; padding: 10px;">
                        Если у Вас возникли сложности с регистрацией, то срочно свяжитесь с нами! Наши менеджеры помогут решить все вопросы!<br />
                        Связаться можно здесь: <a href="https://batutmaster.ru/kontakty" target="_blank">контакты</a>
                    </div>
                </modal-dialog>
            </div>
            <div class="col-md-4" hidden-xs></div>
        </div>        
    </div>
</template>

<script>
    import ModalDialog from '../modal-dialog.vue'
    import AccountLogin from './account-login.vue'
    import ResetPassword from './reset-password.vue'
    import Register from './register.vue'
    import UpdatePassword from './update-password.vue'

    import clientVerificationTokens from '../mixins/clientVerificationTokens'

    import fetch from 'isomorphic-fetch'

    export default {
        mixins: [
            clientVerificationTokens
        ],
        components: {
            ModalDialog,
            AccountLogin,
            ResetPassword,
            Register,
            UpdatePassword
        },
        data: function () {
            return {
                listSocial: null,
            };
        },
        methods: {
            onContactConfirmed(data) {
                // Контакт подтвержден, производим авторизацию
                let requestBody = {
                    Email: data.type === 'email' ? data.contact : null,
                    Phone: data.type === 'phone' ? data.contact : null,
                };
                
                fetch('/Account/LoginByContact', {
                    method: 'post',
                    headers: this.getRequestHeaders(),
                    body: JSON.stringify(requestBody),
                }).then(response => response.json()).then(response => {
                    if (response.success) {
                        document.location = '/Account/CrossLogin?' + document.location.search.replace(/^\?/, '');
                    } else alert(response.message);
                });
            },
        },
        created: function () {
            if ('socialNetworks' in window.appData && Object.keys(window.appData.socialNetworks).length > 0)
                this.listSocial = window.appData.socialNetworks;
        },
    };
</script>