﻿<template>
    <div class="form-vertical">
        <template v-if="!sendEmail">
            <div class="col-md-12 form-group" v-bind:class="{ 'has-error': warnings.email === true }">
                <label class="control-label">Введите электронную почту</label>
                <input type="text" class="form-control" v-model="email" />
                <span class="help-block" v-if="'email' in error">{{ error.email }}</span>
            </div>
            <div class="col-md-12 form-group" v-bind:class="{ 'has-error': warnings.password === true }">
                <label class="control-label">Пароль</label>
                <input type="password" class="form-control" v-model="password" />
                <span class="help-block" v-if="'password' in error">{{ error.password }}</span>
            </div>
            <div class="col-md-12 form-group" v-bind:class="{ 'has-error': warnings.passwordConfirmation === true }">
                <label class="control-label">Подтверждение пароля</label>
                <input type="password" class="form-control" v-model="passwordConfirmation" />
                <span class="help-block" v-if="'passwordConfirmation' in error">{{ error.passwordConfirmation }}</span>
            </div>
            <div class="col-md-12 form-group">
                <div class="col-md-12">
                    <input type="checkbox" id="IAgree" v-model="IAgree" />
                    <label for="IAgree">Я согласен на обработку персональных данных</label>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="col-md-12">
                <div class="anketa-form  anketa-alert anketa-text-primary" v-bind:style="{ position: 'relative'}">
                    <div v-bind:style="{ color: '#333'}">
                        Для подтверждения Вашего почтового адреса.
                        Вам было отправлено письмо с ссылкой активации.
                        Если письмо не пришло в течение 5 минут, проверьте папку "Спам".
                    </div>
                </div>
            </div>
        </template>

        <div class="form-group col-md-12" style="margin-top: 10px;">
            <a class="btn btn-primary anketa-btn-primary" v-bind:class="{ disabled: requestInProgress }" @click="register">Регистрация</a>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>
    import Popover from '../mixins/popover'
    import Recaptcha from '../mixins/recaptcha.js'
    import HttpClient from '../mixins/httpClient.js'
    import LoginComponentMixin from './mixins/login-component'

    export default {
        components: {
            Popover
        },
        mixins: [
            Popover,
            Recaptcha,
            HttpClient,
            LoginComponentMixin,
        ],
        data: function () {
            return {
                email: null,
                IAgree: true,
                password: null,
                passwordConfirmation: null,
                sendEmail: false,
                requestInProgress: false,
                error: {},
                warnings: {}
            };
        },
        computed: {
            requestBody: function () {
                return {
                    email: this.email,
                    phone: null,
                    Password: this.password,
                    PasswordConfirmations: this.passwordConfirmation,
                    IAgree: this.IAgree,
                    Recaptcha: null,
                    TypeLogin: 'email',
                    Code: null
                }
            }
        },
        methods: {
            getTitle() {
                return 'Регистрация';
            },
            validate() {
                this.warnings = {};
                this.error = {};
                this.email = this.email.trim();

                // Проверяем, что логин заполнен
                if (this.email === null || this.email.length === 0) {
                    this.error.email = "Email не указана";
                    this.warnings.email = true;
                }

                if (this.password === null || this.password.length === 0) {
                    this.error.password = "Пароль не указана";
                    this.warnings.password = true;
                }

                if (this.passwordConfirmation === null || this.passwordConfirmation.length === 0) {
                    this.error.passwordConfirmation = "Подтверждение пароля не указано";
                    this.warnings.passwordConfirmation = true;

                } else if (this.passwordConfirmation !== this.password) {
                    this.error.passwordConfirmation = "Пароль и потверждения не совпадают";
                    this.warnings.passwordConfirmation = true;
                }

                return Object.getOwnPropertyNames(this.warnings).length <= 1;
            },
            register() {
                this.requestInProgress = true;
                if (!this.validate()) {
                    this.requestInProgress = false;
                    return;
                }

                this.getToken((recaptcha) => {
                    this.httpClient('/Account/Register?recaptcha=' + recaptcha, this.requestBody, (response) => {
                        if (response.success === true) {
                            // Логин найден
                            this.warnings.email = false;
                            this.sendEmail = true;
                        } else {
                            this.error.email = response.data;
                            this.warnings.email = true;
                        }
                        this.requestInProgress = false;
                    });
                });


            }
        }
    }
</script>