﻿<template>
    <div class="form-vertical">
        <template v-if="!emailExists">
            <div class="col-md-12 form-group" v-bind:class="{ 'has-error': warnings.email === true }">
                <label class="control-label">Введите электронную почту</label>
                <input type="text" class="form-control" ref="email" v-model="email" />
                <span class="help-block" v-if="'email' in error">{{ error.email }}</span>
            </div>
            <div class="col-md-12">
                <div class="anketa-form  anketa-alert anketa-text-primary" v-bind:style="{ position: 'relative'}">
                    <div v-bind:style="{ color: '#333'}">
                        Укажите электронную почту , указанную при регистрации. На Ваш почтовый ящик поступит письмо с ссылкой для сброса пароля.
                    </div>
                </div>
            </div>
        </template>
        <template v-else>
            <div class="col-md-12">
                <div class="anketa-form  anketa-alert anketa-text-primary" v-bind:style="{ position: 'relative'}">
                    <div v-bind:style="{ color: '#333'}">
                        Письмо с ссылкой для сброса пароля отправлено Вам на почтовый ящик {{ email }}.
                        Если письмо не пришло в течение 5 минут, проверьте папку "Спам".
                    </div>
                </div>
            </div>
        </template>

        <div class="form-group col-md-12" style="margin-top: 10px;">
            <a class="btn btn-primary anketa-btn-primary" v-if="!emailExists" v-bind:class="{ disabled: requestInProgress }" @click="login">Сбросить пароль</a>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>

    import Popover from '../mixins/popover'
    import Recaptcha from '../mixins/recaptcha.js'
    import HttpClient from '../mixins/httpClient.js'
    import LoginComponentMixin from './mixins/login-component'

    export default {
        components: {
            Popover,
        },
        mixins: [
            Popover,
            Recaptcha,
            HttpClient,
            LoginComponentMixin,
        ],
        data: function () {
            return {
                email: null,
                emailExists: false,
                requestInProgress: false,
                error: {},
                warnings: {},
            };
        },
        computed: {
            requestBody: function () {
                return {
                    Email: this.email,
                    TypeLogin: 'email'
                }
            },
        },

        methods: {
            getTitle() {
                return 'Восстановление пароля';
            },
            validate() {
                this.warnings = {};
                this.error = {};
                // Проверяем, что логин заполнен
                if (this.email === null || this.email.length === 0) {
                    this.error.email = "Электронная почта не указана";
                    this.warnings.email = true;
                } 
                return Object.getOwnPropertyNames(this.warnings).length <= 1;
            },
            login() {
                this.requestInProgress = true;
                if (!this.validate()) {
                    this.requestInProgress = false;
                    return;
                }

                if (!this.emailExists) {
                    // Проверяем правильность логина
                    this.getToken((recaptcha) => {
                        this.httpClient('/Account/RestorePasswordRequest?recaptcha=' + recaptcha, this.requestBody, (response) => {
                            if (response.success === true) {
                                // Логин найден
                                this.warnings.email = false;
                                this.emailExists = true;
                            } else {
                                this.error.email = response.data;
                                this.warnings.email = true;
                            }
                            this.requestInProgress = false;
                        });
                    });
                }
            }
        }
    };
</script>