﻿<template>
    <div class="form-vertical">
        <template v-if="!sendEmail">
            <div class="col-md-12 form-group" v-bind:class="{ 'has-error': warnings.password === true }">
                <label class="control-label">Пароль</label>
                <input type="password" class="form-control" v-model="password" />
                <span class="help-block" v-if="'password' in error">{{ error.password }}</span>
            </div>
            <div class="col-md-12 form-group" v-bind:class="{ 'has-error': warnings.passwordConfirmation === true }">
                <label class="control-label">Подтверждение пароля</label>
                <input type="password" class="form-control" v-model="passwordConfirmation" />
                <span class="help-block" v-if="'passwordConfirmation' in error">{{ error.passwordConfirmation }}</span>
            </div>
        </template>
        <template v-else>
            <div class="col-md-12">
                <div class="anketa-form  anketa-alert anketa-text-primary" v-bind:style="{ position: 'relative'}">
                    <div v-bind:style="{ color: '#333'}">
                        Новый пароль успешно установлен.
                    </div>
                </div>
            </div>
        </template>

        <div class="form-group col-md-12" style="margin-top: 10px;">
            <a class="btn btn-primary anketa-btn-primary" v-if="!sendEmail" v-bind:class="{ disabled: requestInProgress }" @click="login">Обновить пароль</a>
        </div>
        <div class="clearfix"></div>
    </div>
</template>

<script>

    import Popover from '../mixins/popover'
    import Recaptcha from '../mixins/recaptcha.js'
    import HttpClient from '../mixins/httpClient.js'
    import LoginComponentMixin from './mixins/login-component'

    export default {
        components: {
            Popover,
        },
        mixins: [
            Popover,
            Recaptcha,
            HttpClient,
            LoginComponentMixin,
        ],
        data: function () {
            return {
                email: null,
                IAgree: true,
                password: null,
                passwordConfirmation: null,
                sendEmail: false,
                error: {},
                warnings: {},
            };
        },
        computed: {
            requestBody: function () {
                return {
                    Password: this.password,
                    PasswordCnfirm: this.passwordConfirmation,
                    Token: document.getParamsUrl('token'),
                    TypeLogin: 'email'
                }
            },
        },

        methods: {
            getTitle() {
                return 'Сброс пароля';
            },
            validate() {
                this.warnings = {};
                this.error = {};
                
                if (this.password === null || this.password.length === 0) {
                    this.error.password = "Пароль не указана";
                    this.warnings.password = true;
                }

                if (this.passwordConfirmation === null || this.passwordConfirmation.length === 0) {
                    this.error.passwordConfirmation = "Подтверждение пароля не указано";
                    this.warnings.passwordConfirmation = true;

                } else if (this.passwordConfirmation !== this.password) {
                    this.error.passwordConfirmation = "Пароль и потверждения не совпадают";
                    this.warnings.passwordConfirmation = true;
                }

                return Object.getOwnPropertyNames(this.warnings).length <= 1;
            },
            login() {
                this.requestInProgress = true;
                if (!this.validate()) {
                    this.requestInProgress = false;
                    return;
                }
                if (!this.sendEmail) {
                    this.getToken((recaptcha) => {
                        this.httpClient('/Account/RestorePassword?recaptcha=' + recaptcha, this.requestBody, (response) => {
                            if (response.success === true) {
                                this.warnings.sendEmail = false;
                                this.sendEmail = true;
                            } else {
                                this.error.passwordConfirmation = response.data;
                                this.warnings.passwordConfirmation = true;
                            }
                            this.requestInProgress = false;
                        });
                    });
                }
            }
        }
    };
</script>