﻿
@{
    ViewData["Title"] = "Доставка";
}

<div id="app">
    <partial name="_loader" />
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/dist/delivery.min.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/dist/delivery.min.js" asp-append-version="true"></script>
    </environment>
}