﻿<template>
    <span v-bind:class="{'col-md-10':(delivery !== null)}">
        <template v-if="delivery === null">
            <slot>Транспортная компания  не выбрана.</slot>
        </template>
        <template v-else>
            <table class="table">
                <tr>
                    <td> Откуда:</td>
                    <td>
                        <template v-if="delivery.ShippingAddress !== undefined && delivery.ShippingAddress !== null && delivery.ShippingAddress.length > 0">
                            {{ delivery.ShippingAddress }}
                        </template>
                        <template v-else>
                            г. Чита
                        </template>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label v-if="delivery.IsAddress">
                            Доставка до адреса
                        </label>
                        <label v-else-if="delivery.InYourCity || delivery.NameTransportCompany === 'InYourCity'">
                            Самозабор со склада
                        </label>
                        <label v-else>
                            Доставка до терминала
                        </label>
                    </td>
                </tr>
                <tr>
                    <template v-if="delivery.InYourCity || delivery.NameTransportCompany === 'InYourCity'">
                        <td colspan="2">Груз в вашем городе</td>
                    </template>
                    <template v-else>
                        <td>Транспортная компания:</td>
                        <td>
                            {{ delivery.NameTransportCompany }}
                            <template v-if="delivery.Country != null && delivery.City != null && delivery.City.length > 0 && delivery.Country.length > 0">
                                ({{ delivery.Country }},{{ delivery.City }})
                            </template>

                        </td>
                    </template>
                </tr>
                <tr v-if="delivery.Time !== undefined && delivery.Time !== null && delivery.Time.length > 0">
                    <td>Время доставки:</td>
                    <td> {{ delivery.Time }} дней</td>
                </tr>
                <tr v-if="!isNaN(parseFloat(delivery.Price))">
                    <td>Стоимость:</td>
                    <td> {{ (+delivery.Price).format() }} руб.</td>
                </tr>
                <tr v-if="!isNaN(parseFloat(delivery.TotalWeight))">
                    <td>Общий вес:</td>
                    <td> {{ parseFloat(delivery.TotalWeight).toFixed(2) }} кг.</td>
                </tr>
                <tr v-if="!isNaN(parseFloat(delivery.TotalVolume))">
                    <td>Общий объём:</td>
                    <td> {{ parseFloat(delivery.TotalVolume).toFixed(2) }} куб. м.</td>
                </tr>
            </table>
        </template>
    </span>
</template>

<script>
    export default {
        name: "delivery-view",
        props: ["delivery"]
    }
</script>

<style>
</style>