﻿<template>
    <div class="delivery-select">
        <h4>Выберите транспортную компанию:</h4>
        <div class="delivery-select-from">
            <select class="form-control" v-model="activeTK">
                <option v-for="item in tk" :value="item">ТК "{{ item }}"</option>
            </select>
        </div>
        <div class="delivery-select-from text-right">
            <a class="btn btn-success" href="javaScript:void(0)" v-on:click="chooseDelivery">Выбрать</a>
        </div>
    </div>
</template>

<script>
    export default {
        name: "delivery-select",
        data: function () {
            return {
                tk: [
                    "Деловые линии",
                    "КИТ",
                    "ПЭК",
                    "ЖелДорЭкспедиция",
                    "Энергия",
                    "GTD"
                ],
                activeTK: "Деловые линии"
            }
        },
        methods: {
            chooseDelivery() {
                let item = {
                    ResultId: null,
                    SessionId: null,
                    Distance: null,
                    TypeDelivery: "manual",
                    Name_TK: this.activeTK,
                    Price: 0,
                    Time: 10,
                    City: null,
                    PriceAir: 0,
                    Country: null,
                    Lat: 0,
                    Log: 0,
                    Region: null};

                this.$emit("updateDelivery", item);
            }
        }
    }
</script>

<style>
    .delivery-select {
        margin-top: 5px;
        padding: 5px 10px;
        border: 1px solid rgba(154, 35, 160, 1);
    }

        .delivery-select h4 {
            color: rgba(154, 35, 160, 1);
        }

    .delivery-select-from {
        margin-top: 20px;
    }
</style>