﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.main-content {
    margin-top: 30px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/** Colorize bootstrap */
.navbar-default {
    background-color: #2b74e8;
    border-color: #498ce7;
}

    .navbar-default .navbar-brand {
        color: #ecf0f1;
    }

        .navbar-default .navbar-brand:hover,
        .navbar-default .navbar-brand:focus {
            color: #fffbf3;
        }

    .navbar-default .navbar-text {
        color: #ecf0f1;
    }

    .navbar-default .navbar-nav > li > a {
        color: #ecf0f1;
    }

        .navbar-default .navbar-nav > li > a:hover,
        .navbar-default .navbar-nav > li > a:focus {
            color: #fffbf3;
        }

    .navbar-default .navbar-nav > .active > a,
    .navbar-default .navbar-nav > .active > a:hover,
    .navbar-default .navbar-nav > .active > a:focus {
        color: #fffbf3;
        background-color: #498ce7;
    }

    .navbar-default .navbar-nav > .open > a,
    .navbar-default .navbar-nav > .open > a:hover,
    .navbar-default .navbar-nav > .open > a:focus {
        color: #fffbf3;
        background-color: #498ce7;
    }

    .navbar-default .navbar-toggle {
        border-color: #498ce7;
    }

        .navbar-default .navbar-toggle:hover,
        .navbar-default .navbar-toggle:focus {
            background-color: #498ce7;
        }

        .navbar-default .navbar-toggle .icon-bar {
            background-color: #ecf0f1;
        }

    .navbar-default .navbar-collapse,
    .navbar-default .navbar-form {
        border-color: #ecf0f1;
    }

    .navbar-default .navbar-link {
        color: #ecf0f1;
    }

        .navbar-default .navbar-link:hover {
            color: #fffbf3;
        }

.count-nav span.count {
    display: inline-flex;
}

.anketa-filter-date {
    text-align: right;
}

    .anketa-filter-date div.anketa-center-div-row {
        float: none !important;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
    }

    .anketa-filter-date .anketa-div-date {
        max-width: 40%
    }

@media (max-width: 767px) {
    .anketa-filter-date {
        text-align: left;
    }

        .anketa-filter-date input {
            width: 100%
        }

        .anketa-filter-date .anketa-div-date {
            max-width: 100%
        }

        .anketa-filter-date div.anketa-center-div-row {
            text-align: left;
        }

    .anketa-btn-group {
        width: 100%;
    }

        .anketa-btn-group a {
            display: block;
            float: none;
            width: 100%;
            max-width: 100%;
            margin-top: -1px;
            margin-left: 0;
            border-radius: 0;
        }

        .anketa-btn-group > .btn:first-child:not(:last-child) {
            border-top-left-radius: 4px;
            border-top-right-radius: 4px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
        }

        .anketa-btn-group > .btn:last-child:not(:first-child) {
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-bottom-right-radius: 4px;
            border-bottom-left-radius: 4px;
        }

    .anceta-cart-body-table.orders div.anketa-cart-images img {
        height: auto !important;
    }

    .text-right-only-xs {
        text-align: right;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ecf0f1;
    }

        .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
        .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
            color: #fffbf3;
        }

    .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #fffbf3;
        background-color: #498ce7;
    }
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

    .step.active {
        opacity: 1;
    }

    /* Mark the steps that are finished and valid: */
    .step.finish {
        background-color: #4CAF50;
    }

/*********************************************/
.anketa-panel {
    padding: 10px;
}

.anketa-button-list {
    margin-top: 10px;
}

hr.middle {
    width: 80%
}

.act-on-base {
    display: none;
}

.panel-body {
    position: relative;
}
/*
.modal-body {
    padding-top: 5px;
}
    */

@media screen and (min-width: 440px) {
    .control-label2 {
        text-align: right;
    }
}

/*******************************/
/* Loader */

@keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-eclipse {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    50% {
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.lds-eclipse div {
    position: absolute;
    -webkit-animation: lds-eclipse 1s linear infinite;
    animation: lds-eclipse 1s linear infinite;
    width: 160px;
    height: 160px;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    box-shadow: 0 4px 0 0 #1d3f72;
    -webkit-transform-origin: 80px 82px;
    transform-origin: 80px 82px;
}

.lds-eclipse {
    position: relative;
    left: calc(50% - 50px);
    width: 99px !important;
    height: 99px !important;
    -webkit-transform: translate(-49.5px, -49.5px) scale(0.495) translate(49.5px, 49.5px);
    transform: translate(-49.5px, -49.5px) scale(0.495) translate(49.5px, 49.5px);
}

body {
    margin-top: 40px;
}

.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 50%;
    position: relative;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;
}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.hidden-field {
    border: none;
    outline: none;
    width: 1px;
    height: 1px;
    color: white;
}

.phones-list input.phone-input {
    margin-bottom: 5px;
}

.phone-input:last-child {
    margin-bottom: 0 !important;
}

.without-top-border tr:first-child th {
    border-top: 0;
}

.without-top-border tr:first-child td {
    border-top: 0;
}

/******************************/
/*Описания кнопки Mychat*/

.Mychat_back {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    position: fixed;
    z-index: 999;
    opacity: 1;
    background: white;
}

    /*Стили для ссылки Mychat*/
    .Mychat_back a {
        color: #ffffff !important;
        display: block;
        min-width: 220px;
        cursor: pointer;
        background: #25ab1c;
        font-weight: normal !important;
        text-align: center;
        padding: 12px 20px;
        font-size: 14px;
        letter-spacing: 0.1em;
        line-height: 0;
    }

/*кнопка Mychat для мобильной версий*/
@media all and (max-width: 450px) {
    /* .Mychat_back {
        left: 0px;
        top: 60%;
        margin-left: -90px;
        -moz-border-radius-bottomleft: 5px;
        -moz-border-radius-bottomright: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -webkit-border-bottom-right-radius: 5px;
    }

        .Mychat_back a {
         
            -moz-border-radius-bottomleft: 5px;
            -moz-border-radius-bottomright: 5px;
            -webkit-border-bottom-left-radius: 5px;
            -webkit-border-bottom-right-radius: 5px;
        }*/
    .Mychat_back {
        bottom: 12%;
        right: 10px;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        background-color: transparent;
    }

        .Mychat_back a {
            border-radius: 40px;
            height: 50px;
            font-size: 25px;
            width: 50px;
            text-align: center;
            padding: 0;
            vertical-align: middle;
            min-width: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .Mychat_back a:hover {
                text-decoration: none;
            }

        .Mychat_back .anketa-widget-mychat-text {
            display: none;
        }
}

.mychat_chat_button {
    background: green;
    color: #ffffff !important;
    cursor: pointer;
    opacity: 0.8;
    text-align: center;
    padding: 10px 20px;
}

    .mychat_chat_button:hover {
        opacity: 0.9;
    }

@media all and (min-width: 451px) {
    .Mychat_back {
        right: 0px;
        top: 35%;
        margin-right: -90px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
    }

        .Mychat_back a {
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
        }
}

.required:after {
    content: ' *'
}

.anketa-loding-btn input {
    min-width: 120px;
    border: 1px solid #0099CC;
    color: #0099CC
}

    .anketa-loding-btn input:hover {
        background-color: #0099CC;
        color: white;
    }

/*Стили корзины*/
@media all and (max-width:768px) {
    .anketa-loding-btn input {
        width: 100% !important;
    }

    .anceta-cart-body button {
        width: 100% !important;
    }

    .anketa-checkbox div.anketa-checkbox-lable {
        display: inline-block !important;
    }

    .anketa-cart-cancel-deletion {
        font-size: 14px !important;
        text-align: center !important;
        margin-bottom: 8px !important;
    }

    .anceta-cart-body-table div.anketa-cart-images {
        height: 300px !important;
    }

    .anceta-cart-body .col-anketa-image {
        width: 100% !important;
        max-width: 100% !important;
    }

    .anceta-cart-checkout a {
        width: 100% !important;
    }

    .anceta-cart-checkout div[class*=" col-"] {
        text-align: center !important;
        margin-top: 8px !important;
    }

    .anceta-cart-body-table div[class*=" col-"] {
        text-align: center !important;
        margin-top: 8px !important;
    }

    /*   .anketa-group-input-cart-count {
        max-width: 100% !important;
    }*/

    .anceta-cart-body-table {
        border-radius: 8px !important;
        -moz-border-radius: 8px !important;
        -webkit-border-radius: 8px !important;
        border: 1px solid silver !important;
        margin-bottom: 5px !important;
        margin-left: 5px !important;
        margin-right: 5px !important;
        height: auto !important;
    }


        .anceta-cart-body-table div {
            text-align: center !important;
        }
}

@media all and (min-width: 769px) {


    .anceta-cart-body {
        display: table;
    }

    .anceta-cart-body-right, .anceta-cart-body-left {
        float: none;
        display: table-cell;
        vertical-align: top;
    }


    .anceta-cart-body-right {
        border-left: 1px solid #eeeeee;
    }
}

.anceta-cart-body {
    margin: 0;
    width: 100%;
}

    .anceta-cart-body .col-anketa-image {
        max-width: 100px;
        position: relative;
    }

    .anceta-cart-body .col-anketa-text {
        text-align: left !important;
    }

        .anceta-cart-body .col-anketa-text.cart-product-sku {
            color: #c4c4c4 !important;
            font-size: 12px !important;
        }

.anceta-cart-body-right {
    margin: 0;
}

    .anceta-cart-body-right div.total-price {
        margin-bottom: 10px;
        margin-top: 10px;
        font-size: 1.1em;
        font-weight: bold;
    }

.anceta-cart-body-left {
    margin: 0;
    padding: 0;
}

.anceta-cart-head-table {
    border-bottom: 1px solid #dee2e6;
    padding: 5px;
    margin: 0;
    font-weight: bold;
}


    .anceta-cart-head-table div.center {
        text-align: center;
    }

.anceta-cart-body-table div.div-center {
    float: none !important;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.anceta-cart-body-table {
    position: relative;
    margin: 0;
    padding: 8px;
    border-top: 1px solid #dee2e6;
    min-height: 80px;
}

    .anceta-cart-body-table.disabled {
        background-color: #f5f5f5;
    }

    .anceta-cart-body-table.total {
        background-color: #dee2e62b;
        font-weight: bold;
        min-height: auto;
        padding: 0;
        border-bottom: 1px solid #dee2e6;
    }

    .anceta-cart-body-table.orders {
        min-height: 50px !important;
        padding: 1px !important;
    }

        .anceta-cart-body-table.orders .anketa-cart-images {
            height: 50px;
        }


        .anceta-cart-body-table.orders div.anketa-cart-images img {
            height: 50px;
        }


.anketa-a-disabled {
    cursor: not-allowed !important;
    color: #cccccc !important;
    text-decoration: none;
}

    .anketa-a-disabled:hover {
        text-decoration: none;
        color: #cccccc !important;
    }

.anceta-cart-body-table div.center {
    text-align: center;
}

.anceta-cart-body-table div.price {
    color: #77a464;
}

    .anceta-cart-body-table div.price.blurry-text {
        color: transparent;
        text-shadow: 0 0 3px rgba(119,164,100,0.5);
    }

.anceta-cart-body-table div.anketa-cart-images {
    position: relative;
    display: flex;
    height: 80px;
}

.anceta-cart-body-table div.anketa-cart-images-disable {
    background-color: rgba(255, 255, 255, 0.90);
    border-radius: 4px;
    cursor: not-allowed;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: gray;
}

.anceta-cart-body-table div.anketa-cart-images img {
    height: auto;
    width: 100%;
}

.anceta-cart-body div.loding {
    height: 16px;
    width: 16px;
    margin: 0 auto;
}

    .anceta-cart-body div.loding div.icon {
        border-radius: 50%;
        height: 16px;
        width: 16px;
        -webkit-animation: lds-eclipse 1s linear infinite;
        animation: lds-eclipse 1s linear infinite;
        box-shadow: 0.9pt 0 0 #1d3f72
    }

.anketa-product-warning {
    color: #d43f3a;
    cursor: pointer;
    font-weight: bold;
}

.anceta-cart-checkout div.row {
    padding-top: 8px;
    padding-bottom: 8px;
}

.anketa-cart-cancel-deletion {
    font-size: 12px;
    text-align: right;
}

    .anketa-cart-cancel-deletion a {
        cursor: pointer;
        display: none;
    }

.anketa-new-request {
    max-height: 30px;
}

.anceta-cart-checkout {
    font-weight: bold;
}

.anketa-row-not-price {
    background-color: rgba(252,248,227,.5);
}

.anketa-menu-text div.icon {
    display: none;
}

.anketa-checkbox div.anketa-checkbox-container {
    display: inline-block;
}

.anketa-checkbox div.anketa-checkbox-lable {
    display: none;
    vertical-align: middle;
}

.anketa-checkbox div.anketa-checkbox-input {
    display: inline-block;
    vertical-align: middle;
}

.anketa-checkbox input {
    display: none;
}

@media all and (min-width: 769px) and (max-width:995px) {
    .anketa-menu-text div.text {
        display: none;
    }

    .anketa-menu-text div.icon {
        display: block;
    }
}

@media all and (min-width: 769px) {

    .anketa-order-cart-item {
        border: 1px solid #dee2e6;
    }
}

.anketa-order-cart-item {
    margin-bottom: 20px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
}

.order-cart-item-click {
    cursor: pointer;
}

    .order-cart-item-click.active {
        background-color: #337ab7 !important;
        border-color: #337ab7 !important;
        color: white !important;
    }

        .order-cart-item-click.active a {
            color: #c7ddef !important
        }

        .order-cart-item-click.active div.price {
            color: white !important;
        }

        .order-cart-item-click.active span.cart-product-sku {
            color: white !important
        }

    .order-cart-item-click:hover {
        background-color: #f5f5f5
    }

.anketa-social-oath {
    cursor: pointer;
    text-decoration: none;
}

    .anketa-social-oath:hover {
        cursor: pointer;
        text-decoration: none;
    }

.anketa-label-border-top, .anketa-label-text {
    padding-right: 10px !important;
    padding-left: 10px !important;
    display: inline-block;
    vertical-align: middle;
    float: none !important;
    text-align: center;
}

.anketa-label-border-top {
    width: calc(50% - 25px);
    border-top: 1px solid #80808033;
}

.anketa-label-text {
    width: 50px;
    font-weight: bold;
    color: #333333;
}

.anketa-label-social {
    text-align: center;
}

.anketa-label-social-text {
    color: #333333;
}

.anketa-label-social-uri {
    margin-top: 5px;
    padding: 10px;
    border-radius: 30px;
    background-color: #2b74e80d;
}

.anketa-dlivery-option-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.anketa-dlivery-option {
    margin-top: 5px;
    border-radius: 3px;
    white-space: nowrap;
    font-size: 0.75em;
    font-weight: 700;
    color: rgb(255, 255, 255) !important;
    text-shadow: 0 -1px rgba(0, 0, 0, .1);
    padding: 2px 8px;
    background: #5cb85c;
    display: inline-block;
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
    cursor: pointer;
}

.anketa-dlivery-option-tooltip {
    max-height: 0;
    transition: max-height 0.40s ease-out;
    overflow: hidden;
}

.anketa-dlivery-option:hover .anketa-dlivery-option-tooltip {
    max-height: 100px;
    transition: max-height 0.50s ease-in;
}

.anketa-list-order .row {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    /*  border-top: 1px solid #ddd;*/
    line-height: 1.42857143;
    vertical-align: top;
    margin: 0;
}


.anketa-list-order .anketa-order-label {
    font-weight: bold;
}
/*_____________*/

/*Checkbox*/
.anketa-checkbox-div {
    display: inline-flex;
}

    .anketa-checkbox-div input[type="checkbox"] {
        display: none;
    }

    .anketa-checkbox-div label i {
        border: 1px solid #9e9e9e;
        color: white;
        width: 20px;
        height: 20px;
        font-size: 12px;
        cursor: pointer;
        border-radius: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: background-color .55s all;
    }

    .anketa-checkbox-div span {
        display: none;
    }

    .anketa-checkbox-div label i:hover {
        color: #9e9e9e;
        border: 1px solid #0099CC
    }

        .anketa-checkbox-div label i:hover + span {
            color: #9e9e9e !important;
        }

    .anketa-checkbox-div label span:hover {
        color: #dee2e6
    }

        .anketa-checkbox-div label span:hover ~ i {
            color: #dee2e6;
            border: 1px solid #0099CC
        }

    .anketa-checkbox-div label i {
        line-height: 0 !important;
    }

    .anketa-checkbox-div input[type="checkbox"]:checked + label i {
        border: 1px solid #0099CC !important;
        background-color: #0099CC;
        color: white !important;
    }

    .anketa-checkbox-div input[type="checkbox"]:checked + label span {
        color: #0099CC;
    }

    .anketa-checkbox-div label i {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .anketa-checkbox-div span {
        color: #9e9e9e;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        cursor: pointer;
        margin-left: 5px;
        font-weight: bold;
        font-size: 14px;
    }

        .anketa-checkbox-div span:hover {
            color: #0099CC !important;
        }

        .anketa-checkbox-div span.hidden-mv {
            display: none;
        }

.anketa-total-label {
    display: none;
}


.anketa-box-shadow {
    box-shadow: 0 0 0 0 rgb(0, 153, 204);
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-animation: pulsing 1s infinite;
    animation: pulsing 1s infinite;
}

@-webkit-keyframes pulsing {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgb(0, 153, 204);
    }

    70% {
        -webkit-box-shadow: 1px 1px 10px 1px rgb(0, 153, 204);
        border-color: rgb(0, 153, 204);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgb(0, 153, 204);
    }
}

@keyframes pulsing {
    0% {
        -moz-box-shadow: 0 0 0 0 rgb(0, 153, 204);
        box-shadow: 0 0 0 0 rgb(0, 153, 204);
    }

    70% {
        -moz-box-shadow: 1px 1px 10px 1px rgb(0, 153, 204);
        box-shadow: 1px 1px 10px 1px rgb(0, 153, 204);
        border-color: rgb(0, 153, 204);
    }

    100% {
        -moz-box-shadow: 0 0 0 0 rgb(0, 153, 204);
        box-shadow: 0 0 0 0 rgb(0, 153, 204);
    }
}

.anketa-wishlist-add-cart a {
    min-width: 90px;
}

@media all and (max-width: 768px) {
    .anketa-dlivery-option-container {
        align-items: center;
        justify-content: center;
    }

    .anketa-total-label, .anketa-total-value {
        display: inline-flex;
        padding: 4px 1px;
    }

    .anketa-wishlist-add-cart a {
        width: 100%;
    }

    .anketa-total-label {
        width: 45%;
        color: #7b7b7b;
        font-weight: 500;
    }

    .anketa-total-value {
        width: 50%;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .anketa-checkbox-div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .anketa-div-dotted-xs {
        border-bottom: 1px dotted #cfcfcf;
    }

    .anketa-checkbox-div span.hidden-mv {
        display: inline-flex;
    }

    .anceta-cart-body-table.total {
        font-size: 18px;
    }

    .anketa-modal .anketa-modal-content {
        width: 80%;
    }
}
/*________*/

/* Input Count*/
.anketa-group-input-cart-count {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

    .anketa-group-input-cart-count a, .anketa-group-input-cart-count input, .anketa-group-input-cart-count span {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    .anketa-group-input-cart-count span {
        color: #286090;
    }

    .anketa-group-input-cart-count a {
        color: #fff;
        cursor: pointer;
        background-color: transparent;
        color: #6f7071;
        border: 1px solid;
        border-color: #b0b5b9;
        padding: 10px;
        margin: 0;
        font-size: 14px;
        align-items: center;
        justify-content: center;
        display: flex;
        margin-left: 5px;
        margin-right: 5px;
        width: 28px;
        height: 28px;
        border-radius: 100%;
        box-shadow: 0 1px 5px rgba(0,0,0,.25);
        transition: box-shadow .15s ease-in-out,border-color .15s ease-in-out,color .15s ease-in-out;
    }


        .anketa-group-input-cart-count a i {
            top: 0 !important;
        }

            .anketa-group-input-cart-count a i.glyphicon-plus {
                left: .6pt;
            }

            .anketa-group-input-cart-count a i.glyphicon-minus {
                right: .1pt;
            }

        .anketa-group-input-cart-count a:hover {
            border-color: #0099CC;
            color: #0099CC;
            text-decoration: none;
        }

    .anketa-group-input-cart-count input {
        transition: border-color .15s ease-in-out,color .15s ease-in-out;
        outline: 0;
        max-width: 50px;
        min-width: 40px;
        height: 28px;
        text-align: center;
        font-size: 18px;
        box-shadow: none;
        border: none;
        border-bottom: 1px solid #b0b5b9;
        border-radius: 0;
        padding: 3px;
        box-sizing: content-box;
        background-color: transparent;
        color: #333;
    }

        .anketa-group-input-cart-count input:focus:not([readonly]) {
            border-bottom: 1px solid #0099CC;
            color: #0099CC;
            background-color: transparent;
            box-shadow: none;
        }

        .anketa-group-input-cart-count input::-webkit-outer-spin-button,
        .anketa-group-input-cart-count input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

    .anketa-group-input-cart-count:nth-child(even) {
        margin-left: 3px;
        margin-right: 3px;
    }
/*____________*/
/* MODAL*/
.anketa-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    -webkit-transition: all 3s ease-in-out;
    -moz-transition: all 3s ease-in-out;
    -ms-transition: all 3s ease-in-out;
    -o-transition: all 3s ease-in-out;
    transition: all .3s ease;
    opacity: 0;
}

    .anketa-modal.anketa-modal-active {
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 1;
    }

    .anketa-modal .anketa-modal-content {
        background-color: white;
        position: relative;
        min-width: 300px;
        width: 350px;
        border-radius: 5px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        transition: all .3s ease;
        min-height: 45px;
        padding: 10px;
        margin: 0;
        -webkit-transition: all .9s ease-in-out;
        -moz-transition: all .9s ease-in-out;
        -ms-transition: all .9s ease-in-out;
        -o-transition: all .9s ease-in-out;
        transition: all .9s ease-in-out;
    }

        .anketa-modal .anketa-modal-content .anketa-modal-info {
            margin-top: 20px;
            color: black;
        }

            .anketa-modal .anketa-modal-content .anketa-modal-info div {
                position: relative;
                padding: .75rem 1.25rem;
                margin-bottom: 1rem;
                border: 1px solid transparent;
                border-radius: .25rem;
            }

            .anketa-modal .anketa-modal-content .anketa-modal-info .success {
                background-color: #d4edda;
                border-color: #c3e6cb;
            }

            .anketa-modal .anketa-modal-content .anketa-modal-info .info {
                background-color: #cce5ff;
                border-color: #b8daff;
            }

        .anketa-modal .anketa-modal-content .anketa-modal-close {
            position: absolute;
            right: 4px;
            top: 4px;
            cursor: pointer;
            font-size: 16px;
            z-index: 2;
            -webkit-transition: color .25s ease-in-out;
            -moz-transition: color .25s ease-in-out;
            -ms-transition: color .25s ease-in-out;
            -o-transition: color .25s ease-in-out;
            transition: color .25s ease-in-out;
            color: dimgray
        }

            .anketa-modal .anketa-modal-content .anketa-modal-close:hover {
                color: #d43f3a;
            }

.anketa-modal-content-loding {
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: rgba(255,255,255,1);
}

    .anketa-modal-content-loding .loding-content {
        padding: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .anketa-modal-content-loding .loding-message, .anketa-modal-content-loding .loding-btn {
        width: 100%;
    }

.anketa-cartadd-content {
    margin-top: 5px;
    border-top: .05em solid #dee2e6;
}

.anketa-cartadd-btn-content {
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .anketa-cartadd-btn-content a {
        display: inline-flex;
        align-items: center;
        width: 50%;
        justify-content: center;
    }

    .anketa-cartadd-btn-content a {
        margin: 2px;
    }
/*______*/
/**
Multiprice
*/
.bm-product-price {
    color: rgb(136, 167, 46);
    font-size: 14px;
    font-weight: 700;
}

.bm-radio-button-selection input[type="radio"] {
    display: none;
}

.bm-radio-button-selection label {
    border: 2px solid lightgray;
    padding: 5px;
    margin-right: 5px;
    min-width: 50px;
    cursor: pointer;
    text-align: center;
}

.bm-radio-button-selection input[type="radio"]:checked + label {
    border: 2px solid #286090;
}

.bm-radio-button-selection label:hover {
    border: 2px solid #286090;
}

@media only screen and (max-width: 600px) {
    .bm-radio-button-selection label:hover {
        border: 2px solid lightgray;
    }

    .multiprice-days-for-shipping {
        display: table;
        margin-bottom: 5px;
    }
}
/*_______*/
/*LODING*/
div.anketa-loding-sm {
    height: 50px;
    width: 50px;
    margin: 0 auto;
}

    div.anketa-loding-sm .icon {
        border-radius: 50%;
        height: 50px;
        width: 50px;
        -webkit-animation: lds-eclipse 1s linear infinite;
        animation: lds-eclipse 1s linear infinite;
        box-shadow: 0.9pt 0 0 #1d3f72
    }

div.anketa-loding-xs {
    height: 25px;
    width: 25px;
    margin: 0 auto;
}

    div.anketa-loding-xs .icon {
        border-radius: 50%;
        height: 25px;
        width: 25px;
        -webkit-animation: lds-eclipse 1s linear infinite;
        animation: lds-eclipse 1s linear infinite;
        box-shadow: 0.9pt 0 0 #1d3f72
    }

/*_____*/
.anketa-cartwishlist-item-update {
    position: absolute;
    right: 2px;
    top: 2px;
    display: inline-grid;
    align-items: center;
    justify-content: center;
    z-index: 9;
}

    .anketa-cartwishlist-item-update div.btn-item-update {
        cursor: pointer;
        display: inline-grid;
        align-items: center;
        font-size: 21px;
        padding: 3px;
        height: 33px;
        width: 33px;
        border-radius: 5px;
        color: #6f7071;
        border: 1px solid #b0b5b9;
        background-color: white;
        justify-content: center;
        -webkit-transition: all .25s ease-in-out;
        -moz-transition: all .25s ease-in-out;
        -ms-transition: all .25s ease-in-out;
        -o-transition: all .25s ease-in-out;
        transition: all .25s ease-in-out;
    }

        .anketa-cartwishlist-item-update div.btn-item-update.delete {
            margin-bottom: 2px;
        }

        .anketa-cartwishlist-item-update div.btn-item-update:hover {
            color: #0099CC;
            border: 1px solid #0099CC;
        }

        .anketa-cartwishlist-item-update div.btn-item-update.delete:hover {
            color: #bd2130 !important;
            border: 1px solid #bd2130 !important;
        }

        .anketa-cartwishlist-item-update div.btn-item-update.active {
            color: #0099CC;
            border: 1px solid #0099CC;
        }

.anketa-menu-text {
    display: flex;
}

.count-nav {
    display: flex;
    justify-content: space-between;
}

.anketa-menu-text div {
    display: inline-flex;
}

    .anketa-menu-text div.count {
        margin-top: -5px;
    }


    li span.count span {
        min-width: 10px;
        font-size: 12px;
        font-weight: bold;
        color: #f6f6f6;
        line-height: 1;
        vertical-align: baseline;
        white-space: nowrap;
        text-align: center;
        background: #2b74e8;
        -webkit-border-radius: 50%;
        -webkit-background-clip: padding-box;
        -moz-border-radius: 50%;
        -moz-background-clip: padding;
        border-radius: 50%;
        background-clip: padding-box;
        padding: 5px 8px;
    }



.anketa-order-product-items {
    border: 1px solid #ddd;
    padding: 0;
    border-radius: 8px
}

    .anketa-order-product-items div.row {
        border: none !important;
        border-top: 1px solid #ddd !important;
    }

        .anketa-order-product-items div.row:first-child {
            border: none !important;
        }

        .anketa-order-product-items div.row div.anketa-cart-images a {
            height: 100% !important;
            max-width: 300px;
            max-height: 300px;
            width: auto !important;
        }

        .anketa-order-product-items div.row div.col-anketa-text {
            text-align: left;
        }

    .anketa-order-product-items .anceta-cart-body-table.cap {
        min-height: 30px;
        color: #333;
        font-weight: bold;
    }

.anketa-panel-div {
    transition: max-height 0.90s ease-in;
    overflow: hidden;
}

    .anketa-panel-div.hidden {
        max-height: 0;
        transition: max-height 0.90s ease-out;
        position: relative;
    }

@media only screen and (max-width: 768px) {
    .anketa-order-product-items div.row div.anketa-cart-images a {
        width: 100% !important;
    }

    .anketa-order-product-items {
        border: none;
    }

        .anketa-order-product-items div.row {
            border: 1px solid #ddd !important;
        }

            .anketa-order-product-items div.row:last-child {
                margin-bottom: 0 !important;
                margin-top: -1px !important;
                border-top-left-radius: 0 !important;
                border-top-right-radius: 0 !important;
            }

            .anketa-order-product-items div.row:nth-last-child(2) {
                margin-bottom: 0 !important;
                border-bottom: none !important;
                border-bottom-left-radius: 0 !important;
                border-bottom-right-radius: 0 !important;
            }

            .anketa-order-product-items div.row:first-child {
                border: 1px solid #ddd !important;
            }

    .anketa-group-input-country-modal-background .anketa-group-input-country-modal {
        min-width: 200px !important;
        width: 90% !important;
    }
}


.anketa-group-input-country {
    position: relative;
}

    .anketa-group-input-country input.phone {
        padding-left: 30px;
        color: #333;
    }

    .anketa-group-input-country .anketa-group-input-country-icon {
        position: absolute;
        left: 0;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        bottom: 0;
        right: 0;
        cursor: pointer;
    }

        .anketa-group-input-country .anketa-group-input-country-icon.left {
            left: auto;
            right: 5px;
            width: auto;
        }

.anketa-group-input-country-modal-background {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
}

    .anketa-group-input-country-modal-background.active {
        display: flex;
    }

    .anketa-group-input-country-modal-background .anketa-group-input-country-modal {
        position: relative;
        min-width: 500px
    }

        .anketa-group-input-country-modal-background .anketa-group-input-country-modal .anketa-group-input-country-modal-header {
            background-color: #ffffff !important;
            padding: 10px 15px;
        }

.anketa-group-input-country-modal {
    position: absolute;
    z-index: 99999;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    display: none;
    border: 1px solid #9E9E9E;
    min-width: 200px;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

    .anketa-group-input-country-modal.active {
        max-height: 1000px;
        display: block;
    }

        .anketa-group-input-country-modal.active .anketa-group-input-country-modal-body {
            overflow: auto;
            height: calc(100% - 31px);
        }

.anketa-group-input-country-modal-header {
    position: relative;
    padding: 5px 10px;
    color: #333;
    background-color: #dee2e6;
    font-size: 16px;
    font-weight: bold;
}

.anketa-group-input-country-modal-close {
    position: absolute;
    right: 4px;
    top: 4px;
    color: dimgray;
    cursor: pointer;
}

    .anketa-group-input-country-modal-close:hover {
        color: #d43f3a;
    }

.anketa-group-input-country-item {
    padding: 5px 15px;
    cursor: pointer;
    border-top: 1px solid rgba(51, 122, 183, 0.5);
}

    .anketa-group-input-country-item i {
        margin-right: 5px;
    }

    .anketa-group-input-country-item.active {
        background-color: rgba(51, 122, 183, 0.25) !important;
    }

    .anketa-group-input-country-item:hover {
        background-color: rgba(51, 122, 183, 0.15);
    }

.lds-block {
    width: 100%;
    height: 100%;
}

.anketa-group-input-country-modal-result {
    text-align: center;
    display: flex;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    max-width: 500px;
}

    .anketa-group-input-country-modal-result > :not(:last-child) {
        margin-right: .25rem;
    }


    .anketa-group-input-country-modal-result.danger {
        color: #dc3545;
    }

    .anketa-group-input-country-modal-result.success {
        color: #28a745;
    }

    .anketa-group-input-country-modal-result div {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .anketa-group-input-country-modal-result div.icon {
            border-radius: 50%;
            display: inline-flex;
            background-color: white;
            border: 1px solid;
            padding: 5px;
            height: 50px;
            width: 50px;
            font-size: 30px;
        }


        .anketa-group-input-country-modal-result div.middle {
            width: 90%;
            margin: 5px auto;
            border-top: 1px solid;
            opacity: 0.4;
        }

.middle-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .middle-flex .middle {
        border-color: rgba(51, 122, 183, 0.5) !important;
        margin: 0 !important;
        width: 95% !important;
    }

.form-group.personal-group {
    margin-left: 10px;
    margin-right: 10px;
}

.get-code-span {
    cursor: pointer;
    margin-left: 3px;
    color: #337ab7;
}

/*Account*/
.anketa-block-account {
    max-width: 400px;
    margin: 0 auto;
    color: #333;
}

.anketa-form {
    margin-bottom: 10px;
}

.anketa-control {
    border-color: #2b74e8 !important;
    border-width: 2px;
}

    .anketa-control:focus:not([readonly]) {
        border-color: #0069d9 !important;
    }

.anketa-block-account-header {
    text-align: center;
    padding: 5px 10px;
    border-bottom: 1px solid #e7e7e7;
    margin-bottom: 15px;
}

    .anketa-block-account-header h3 {
        margin-top: 5px;
    }

.anketa-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.anketa-inlin-flex {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 2px;
}

    .anketa-inlin-flex.left {
        justify-content: flex-start !important;
    }

    .anketa-inlin-flex.right {
        justify-content: flex-end !important;
    }

    .anketa-inlin-flex.col-6 {
        width: 50%;
    }

.anketa-social-header {
    position: relative;
    text-align: center;
}

    .anketa-social-header h2 {
        text-align: center;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 14px;
    }

    .anketa-social-header h1 {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 14px;
        font-weight: bold;
        text-transform: uppercase;
    }

    .anketa-social-header h1::before, .anketa-social-header h1::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid #2b74e8;
    }

    .anketa-social-header h1:before {
        margin-right: .25em;
    }

    .anketa-social-header h1:after {
        margin-left: .25em;
    }

ul.anketa-social-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}

    ul.anketa-social-form li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

        ul.anketa-social-form li img {
            height: 50px;
            width: 50px;
        }

.anketa-link-primary {
    color: #007bff !important;
    font-weight: 300;
    cursor: pointer;
    text-decoration: none;
}

    .anketa-link-primary:hover {
        color: #2b74e8 !important;
        text-decoration: none;
    }

.anketa-link-primary-dashed {
    color: #0069d9 !important;
    border-bottom: 1px dashed rgba(0, 105, 217,.2);
    font-weight: 600;
    font-size: 14px;
    line-height: 22px;
    text-decoration: none !important;
    cursor: pointer;
}

    .anketa-link-primary-dashed:hover {
        border-color: rgba(0, 105, 217,1);
    }

.anketa-btn-primary {
    width: 100%;
    color: white !important;
    background-color: #2b74e8 !important;
    border-color: #2b74e8 !important;
}

    .anketa-btn-primary:hover {
        color: white !important;
        background-color: #0069d9 !important;
        border-color: #0069d9 !important;
    }

.anketa-btn-default {
    width: 100%;
    color: #212529 !important;
    background-color: #f8f9fa !important;
    border-color: #dae0e5 !important;
}

    .anketa-btn-default:hover {
        background-color: #dae0e5 !important;
    }

.anketa-radio-group {
    height: 30px;
    position: relative;
}

    .anketa-radio-group input[type="radio"] {
        display: none;
    }

        .anketa-radio-group input[type="radio"] + label {
            position: relative;
            padding: 0 0 0 24px;
            cursor: pointer;
            margin: 0;
        }

            .anketa-radio-group input[type="radio"] + label:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #CDD1DA;
                border-radius: 50%;
                background: #FFF;
            }

            .anketa-radio-group input[type="radio"] + label:after {
                content: '';
                position: absolute;
                top: 3px;
                left: 3px;
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: #2b74e8;
                box-shadow: inset 0 1px 1px rgba(0,0,0,.5);
                opacity: 0;
                transition: .2s;
            }

        .anketa-radio-group input[type="radio"]:checked + label:after {
            opacity: 1 !important;
        }

        .anketa-radio-group input[type="radio"]:hover + label:after {
            opacity: 0.1;
        }

        .anketa-radio-group input[type="radio"]:focus + label:before {
            box-shadow: 0 0 1px 3px rgba(43, 116, 232,.3);
        }

.float-left {
    float: left;
    padding: 5px;
}

.alert {
    margin-top: 5px;
}

.anketa-checkbox-group {
    margin-bottom: 3px;
}

    .anketa-checkbox-group.inlin-flex {
        margin: 0 !important;
        display: inline-flex;
        width: 18px;
        height: 18px;
    }

    .anketa-checkbox-group input[type="checkbox"] {
        display: none;
    }

        .anketa-checkbox-group input[type="checkbox"] + label {
            position: relative;
            padding: 0 0 0 24px;
            cursor: pointer;
            margin: 0;
        }

            .anketa-checkbox-group input[type="checkbox"] + label:before {
                content: '\e013';
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: center;
                top: 0;
                color: transparent;
                left: 0;
                width: 18px;
                height: 18px;
                border: 1px solid #CDD1DA;
                border-radius: 3px;
                font-size: 0;
                background: #FFF;
                transition: .2s;
                font-weight: normal;
                font-family: 'Glyphicons Halflings';
            }

        .anketa-checkbox-group input[type="checkbox"]:hover + label:before {
            border-color: #2b74e8;
        }

        .anketa-checkbox-group input[type="checkbox"]:checked + label:before {
            border-color: #2b74e8;
            color: white;
            background-color: #2b74e8;
            font-size: 12px;
        }

    .anketa-checkbox-group.lighter input[type="checkbox"]:checked + label:before {
        border-color: #2b74e8 !important;
        color: #2b74e8 !important;
        background-color: transparent !important;
        font-size: 12px !important;
    }

.anketa-link-account {
    margin-right: 8px;
    color: #5E5E5E;
    font-weight: lighter;
    text-decoration: unset;
    transition: .2s;
    cursor: pointer;
}

    .anketa-link-account:hover {
        color: #333;
        text-decoration: unset;
    }

    .anketa-link-account.active {
        color: #333;
        text-decoration: none;
        font-weight: bold;
        border-bottom: 2px solid #2b74e8;
    }

.anketa-input-group {
    position: relative;
}

    .anketa-input-group .icon-input {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .anketa-input-group .icon-input.left {
            top: 0;
            left: auto;
            right: 5px;
            bottom: 0;
        }

        .anketa-input-group .icon-input.right {
            top: 0;
            left: 3px;
            right: auto;
            bottom: 0;
        }

.anketa-alert {
    text-align: center;
    position: relative;
    padding: 8px 15px;
    border-radius: 5px;
    border: 1px solid;
}

    .anketa-alert .anketa-alert-html {
        text-align: left;
    }

    .anketa-alert div.close {
        cursor: pointer;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 3px;
        left: auto;
        right: 3px;
        bottom: auto;
        font-size: 15px
    }

        .anketa-alert div.close i {
            font-weight: lighter;
        }
/*END Account*/
span.login {
    padding: 10px 12px;
    border: 1px solid #2b74e8;
    border-radius: 3px;
    background-color: rgba(43, 116, 232, 0.025);
}

    span.login span.close-span {
        cursor: pointer;
        margin-left: 5px;
    }

    span.login span.icon {
        background-color: rgb(130, 139, 149);
        color: white;
        top: 3px;
        position: relative;
        border-radius: 50%;
        height: 25px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 25px;
    }

        span.login span.icon i {
            top: 0;
            left: .4pt;
        }

    span.login spam.close i {
        font-weight: lighter;
    }

.anketa-text-primary {
    color: #2b74e8;
}

span.loding-btn .icon {
    border-radius: 50%;
    height: 20px;
    width: 20px;
    -webkit-animation: lds-eclipse 1s linear infinite;
    animation: lds-eclipse 1s linear infinite;
    box-shadow: 0.9pt 0 0 #1d3f72
}

div.anketa-aleft-info {
    position: absolute;
    background: white;
    left: 5px;
    right: 5px;
    padding: 8px;
    border: 1px solid;
    border-radius: 5px;
    bottom: -1px;
}

div.anketa-form-login {
    margin-bottom: 25px;
}

/*MENU*/
.navbar-anketa {
    background-color: #f6f6f6;
    border-color: rgba(124, 124, 124, 0.3);
}

    .navbar-anketa a, .navbar-anketa li {
        color: #1f1f1f;
    }

    .navbar-anketa .navbar-header {
        position: relative
    }


    .navbar-anketa .navbar-icon-menu, .navbar-anketa .open-dropdown-menu {
        display: none;
    }


@media (max-width: 767px) {
    .navbar-anketa .open-dropdown-menu {
        display: inline-flex !important;
    }

    .navbar-anketa .dropdown-menu > li > a:hover, .navbar-anketa .dropdown-menu > li > a:focus, .navbar-anketa .nav > li > a:hover, .navbar-anketa .nav > li > a:focus {
        background-color: transparent !important;
        color: #1f1f1f !important;
    }

    .navbar-anketa, .navbar-anketa li, .navbar-anketa li a {
        font-size: 16pt;
    }

        .navbar-anketa .nav > li {
            position: static;
        }

        .navbar-anketa .dropup, .navbar-anketa .dropdown {
            position: static;
        }

        .navbar-anketa .dropdown-menu {
            position: absolute !important;
            background-color: white !important;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 100;
        }

            .navbar-anketa .dropdown-menu li {
            }

        .navbar-anketa .nav .open > a, .navbar-anketa .nav .open > a:hover, .navbar-anketa .nav .open > a:focus {
            background-color: transparent !important;
        }

        .navbar-anketa .dropdown-menu > .active > a, .navbar-anketa .dropdown-menu > .active > a:hover, .navbar-anketa .dropdown-menu > .active > a:focus {
            background-color: transparent !important;
            color: #1f1f1f;
        }

        .navbar-anketa .navbar-icon-menu {
            display: inline-flex;
            margin-left: 10px;
        }

    a.dropdown-toggle::after {
        opacity: .25;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        content: "\e258";
        font-size: 14px;
        margin-left: 10px;
    }


    .navbar-anketa .dropdown-menu {
        padding: 0;
        display: block;
        left: 130%;
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        transition: 0.5s;
    }

        .navbar-anketa .dropdown-menu.active {
            left: 0;
        }

        .navbar-anketa .dropdown-menu li {
            padding-left: 20px
        }

            .navbar-anketa .dropdown-menu li a, .navbar-anketa .navbar-nav > li > a {
                padding: 10px 15px 10px 5px !important;
                display: inline-flex;
                width: 100%;
                text-align: left;
                align-items: center;
                justify-content: flex-start;
            }

    .navbar-anketa .navbar-collapse {
        -webkit-transition-duration: 0.5s;
        -moz-transition-duration: 0.5s;
        -o-transition-duration: 0.5s;
        transition-duration: 0.5s;
        transition: 0.5s;
    }

    .navbar-anketa .navbar-nav {
        margin: 0;
    }

    .navbar-anketa .navbar-collapse {
        max-height: 100vh !important;
        position: absolute;
        background-color: transparent;
        display: block;
        left: 120%;
        overflow: hidden;
        overflow: hidden;
        white-space: nowrap;
        word-wrap: normal;
        text-overflow: clip;
        z-index: 2000;
        height: 100vh;
        right: 0;
    }

        .navbar-anketa .navbar-collapse .navbar-collapse-container {
            background-color: white;
            height: 100%;
        }

        .navbar-anketa .navbar-collapse li {
            border-bottom: 1px solid #999;
        }

    .navbar-anketa .close-menu::before {
        opacity: .25;
        font-family: 'Glyphicons Halflings';
        font-style: normal;
        content: "\e257";
    }

    .navbar-anketa .close-menu {
        cursor: pointer;
        display: flex !important;
        align-items: center;
        justify-content: flex-start;
        padding: 27px 20px;
        display: flex;
        background-color: rgba(43, 116, 232, .1);
        color: #000;
        border: none !important;
        border-bottom: 1px solid rgba(124, 124, 124, 0.3) !important;
        font-size: 18pt;
    }

    .navbar-anketa .navbar-collapse.active {
        left: 0;
    }

    .navbar-anketa .navbar li, .navbar-anketa .navbar li:hover {
        background-color: #f5fafb !important;
    }
}


@media (min-width: 768px) {
    .personal-name-user .personal-name-user-input {
        margin-right: 5px
    }

    .personal-name-user .form-group {
        margin-bottom: 0;
    }

    .not-padding-md {
        padding: 0;
    }

        .not-padding-md.left-padding {
            padding-left: 5px;
        }

    .row-border-top {
        border-top: 1px solid #dee2e6;
    }

    .navbar-anketa .navbar-nav li.active a::after {
        display: table;
        content: " ";
        height: 1.5pt;
        position: static;
        background-color: #2b74e8 !important;
        width: 90%;
        border-radius: 2px;
        margin: 0 auto;
        margin-bottom: -1.5pt;
    }

    .navbar-anketa .navbar-nav li.active a.count-nav::after {
        content: none !important;
    }

    .navbar-anketa .navbar-nav li.active a.count-nav .text-count-nav {
        position: relative;
    }

        .navbar-anketa .navbar-nav li.active a.count-nav .text-count-nav::after {
            content: " ";
            bottom: 0;
            height: 1.5pt;
            left: 0;
            position: absolute;
            background-color: #2b74e8 !important;
            width: 100%;
            border-radius: 2px;
            margin: 0 auto;
            margin-bottom: -1.5pt;
        }

    .navbar-anketa .nav > li > a:hover {
        background-color: transparent !important;
    }

    .navbar-anketa li:hover {
        background-color: #e8e8e8;
    }

    .navbar-anketa .dropdown-menu li:hover > a::after {
        background-color: transparent !important;
        height: 0 !important;
        margin: 0;
    }
}


.navbar-anketa .navbar-container {
    float: left;
    transition: all 0.2s;
}

.navbar-anketa .menu-icon {
    position: relative;
    width: 30px;
    height: 5px;
    border-radius: 3px;
    background-color: #1f1f1f;
}

.navbar-anketa .menu-icon-block {
    height: 100%;
    padding: 5px;
    display: flex;
    position: absolute;
    right: 5px;
    align-items: center;
    justify-content: center;
}

.navbar-anketa .menu-icon-wrapper {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-anketa .menu-icon::before {
    position: absolute;
    left: 0;
    top: -10px;
    content: '';
    width: 100%;
    border-radius: 3px;
    height: 5px;
    background-color: #1f1f1f;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.navbar-anketa .menu-icon::after {
    position: absolute;
    left: 0;
    top: 10px;
    content: '';
    border-radius: 3px;
    width: 100%;
    height: 5px;
    background-color: #1f1f1f;
    transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.navbar-anketa .menu-icon.menu-icon-active {
    background-color: transparent;
}

    .navbar-anketa .menu-icon.menu-icon-active::before {
        transform: rotate(45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

    .navbar-anketa .menu-icon.menu-icon-active::after {
        transform: rotate(-45deg);
        top: 0;
        transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
    }

/*END MENU*/
.font-weight-bold {
    font-weight: bold;
}

.group-radio-personal-data {
    height: auto;
    margin: 0;
    margin-right: 5px;
}

.pesonal-data-flex-start {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 34px;
}

.block-alert {
    color: #000000;
    background-color: #e2e3e552;
    border-color: #d6d8db;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.justify-content-end {
    justify-content: flex-end;
}

.invisible-anketa {
    max-height: 0;
    padding: 0;
    border: 0;
}

ul.order-step-list {
    margin-left: 0;
    padding-left: 0;
    display: flex;
    justify-content: space-between;
}

    ul.order-step-list li {
        list-style-type: none;
    }

        ul.order-step-list li a.step-list-link {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

            ul.order-step-list li a.step-list-link span {
                align-items: center;
                justify-content: center;
                display: flex;
            }

.badge-primary {
    color: #fff;
    background-color: #007bff;
}

.badge-pill {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.badge-custom {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
}

.text-success-custom {
    color: #28a745 !important;
}

.anketa-cart-product-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

.alert.alert-info {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.create-order {
    position: relative;
}

    .create-order .save-oder-loading {
        position: absolute;
        left: 0;
        right: 0;
        background-color: rgba(255,255,255,.8);
        bottom: 0;
        z-index: 2;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

.btn-group-cart {
    margin-top: 20px;
}

@media (max-width: 768px) {
    .btn-group-cart > :not(:first-child) {
        margin-top: 5px;
    }
}

.popover-vue {
    position: absolute;
    top: 0;
    right: 103%;
    z-index: 1060;
    max-width: 276px;
    padding: 5px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: left;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    word-wrap: normal;
    white-space: normal;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    line-break: auto;
}

.del-btn-popover {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2px;
    min-width: 80px
}

    .del-btn-popover .btn-group-popover {
        display: flex;
        align-items: center;
        justify-content: center;
    }

        .del-btn-popover .btn-group-popover > :not(:first-child) {
            margin-left: .25rem;
        }

input[type="checkbox"] + label {
    display: contents !important;
}

.modal-center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}