﻿<template>
    <div>
        <order-list-filter :filter="filter" @update-list="updateOrders"></order-list-filter>
        <!-- Фильтр -->
        <template v-if="orders === null">
            <loader></loader>
        </template>
        <template v-else>
            <div class="alert alert-info">
                Для оформления нового заказа, добавьте в корзину. Далее нажмите "Оформить заказ" в Корзине.
            </div>

            <template v-if="orders.length > 0">
                <div class="panel panel-default" v-for="item in list">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-7">
                                Заказ {{ item.Guid }} от {{ formatDate(item.OrderDate) }}
                            </div>
                            <div class="col-md-5 text-right">
                                <span class="label label-primary">{{ item.Status.View }}</span>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <order-info :order="item"></order-info>
                    </div>
                </div>
            </template>
            <template v-else>
                <div class="alert alert-warning">Заказы не найдены.</div>
            </template>
        </template>
    </div>
</template>

<script>
    import Loader from '../../loader.vue'
    import OrderInfo from '../order-info.vue'
    import OrderListFilter from './order-list-filter.vue'

    import fetch from 'isomorphic-fetch'

    export default {
        components: {
            Loader,
            OrderInfo,
            OrderListFilter,
        },
        data: function () {
            return {
                filter: {
                    status: 'all',
                    search: null,
                    fromDate: null,
                    toDate: null,
                },
                orders: null,
            };
        },
        computed: {
            list: function () {
                let getUrl = function (prefix, url) {
                    let site = document.sites.find(e => e.prefix === prefix);
                    if (site !== undefined) {
                        return site.url.replace(/\/$/g, '') + '/' + url.replace(/^\//g, '');
                    }
                    console.error('Не найден сайт для префикса ' + prefix);
                    return '#';
                };

                return this.orders.map(e => {
                    let data = e.Order;
                    if (e.Products !== null) {
                        data.Products = e.Products.map(p => {
                            p.BaseData = {
                                price: p.ProductPrice,
                                count: p.ProductCount,
                            };
                            if (p.Product !== null) {
                                p.Sku = p.Product.Sku;
                                p.Name = p.Product.Name;
                                p.ProductImgUrl = getUrl(p.Product.Site, '/wp-admin/admin-ajax.php?action=get-image&guid=' + p.Product.Guid);
                                p.ProductUrl = getUrl(p.Product.Site, '/?mgproduct=' + p.Product.Guid);
                            }
                            else if (p.Project != null) {
                                p.Sku = 'Н\Д';
                                p.Name = p.Project.ProjectNumber;
                                p.ProductImgUrl = '/images/no-image.png';
                                p.ProductUrl = '#';
                            }
                            return p;
                        });
                    } else {
                        e.Products = [];
                    }
                    return data;
                });
            }
        },
        methods: {
            getFilter() {
                let filter = {
                    status: this.filter.status,
                    search: this.filter.search,
                };
                if (this.filter.fromDate !== null) filter.fromDate = this.filter.fromDate;
                if (this.filter.toDate !== null) filter.toDate = this.filter.toDate;
                return filter;
            },
            formatDate(date) {
                var formatter = new Intl.DateTimeFormat("ru");
                return formatter.format(new Date(date));
            },
            updateOrders() {
                this.orders = null;

                fetch('/Orders/List', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(this.getFilter()),
                })
                    .then(response => response.json())
                    .then(response => {
                        this.orders = response;
                    })
                    .catch(error => console.error(error));
            },
        },
        created: function () {
            this.updateOrders();
        },
    };
</script>

<style>

    @media all and (max-width: 770px) {
        .panel-body {
            padding: 1px 3px !important;
        }
    }
</style>
