﻿<template>
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="order-list-form-radio">
                    <template v-for="item in statusList">
                        <label :for="item.name" v-bind:class="{ active: (filter.status === item.name) }">
                            <input type="radio" :id="item.name" :value="item.name" v-model="filter.status" />
                            {{ item.label }}
                        </label>
                    </template>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-md-7">
                <div class="form-group">
                    <input class="form-control" placeholder="Название товара" type="text" v-model="filter.search" />
                </div>
            </div>
            <div class="col-md-5 anketa-filter-date">
                <div class="row">
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 anketa-center-div-row">
                        <label for="FromDate">От</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 anketa-center-div-row anketa-div-date">
                        <input placeholder="От" class="form-control" type="date" v-model="filter.fromDate" name="FromDate" value="">
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 anketa-center-div-row">
                        <label for="ToDate">До</label>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 anketa-center-div-row anketa-div-date">
                        <input placeholder="До" class="form-control" type="date" v-model="filter.toDate" name="ToDate" value="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    let reloadTimeout = null;
    export default {
        props: {
            filter: Object,
        },
        computed: {
            statusList: function () {
                return [
                    { name: "all", label: "Все заказы" },
                    { name: "opened", label: "Открытые" },
                    { name: "closed", label: "Завершенные" },
                    { name: "cancelled", label: "Отменённые" }
                ];
            }
        },
        watch: {
            filter: {
                handler: function() {
                    clearTimeout(reloadTimeout);
                    reloadTimeout = setTimeout(() => {
                        this.$emit('update-list');
                    }, 500);
                },
                deep: true,
            },
        },
    };
</script>

<style lang="scss" scoped>
    .order-list-form-radio {
        display: flex;
    }

        .order-list-form-radio input[type='radio'] {
            visibility: hidden;
            display: none
        }

        .order-list-form-radio label {
            display: inline-block;
            padding: 6px 12px;
            border-color: #ccc;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            text-align: center;
            -ms-touch-action: manipulation;
            cursor: pointer;
            -moz-user-select: none;
            -ms-user-select: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid #ccc;
        }

            .order-list-form-radio label.active {
                border-color: #2b74e8;
                border-color: #2b74e8;
                -webkit-box-shadow: inset 0 3px 5px rgba(43, 116, 232, 0.25);
                box-shadow: inset 0 3px 5px rgba(43, 116, 232, 0.25);
            }

            .order-list-form-radio label:nth-child(1) {
                border-top-left-radius: 4px;
                border-bottom-left-radius: 4px;
            }


            .order-list-form-radio label:last-child {
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
            }

    @media all and (max-width: 770px) {
        .order-list-form-radio {
            flex-direction: column;
            justify-content: space-between;
        }

            .order-list-form-radio label:nth-child(1) {
                border-radius: unset;
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
            }

            .order-list-form-radio label:last-child {
                border-radius: unset;
                border-bottom-left-radius: 4px;
                border-bottom-right-radius: 4px;
            }
    }
</style>