﻿<template>
    <div>
        <order-list-filter :filter-form="filterForm" v-on:updateFilterForm="updateOrdelList"></order-list-filter>
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    Для оформления нового заказа, добавьте в корзину. Далее нажмите "Оформить заказ" в Корзине.
                </div>
            </div>
        </div>
        <div class="oder-form">
            <div v-if="updateList" class="order-list-update">
                <div class="lds-css ng-scope">
                    <div style="width:100%;height:100%" class="lds-eclipse"><div></div></div>
                </div>
            </div>
            <template v-if="Array.isArray(orderList)">
                <template v-if="orderList.length > 0">
                    <div class="panel panel-default" v-for="item in orderList">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-md-7">
                                    <a :href="'#'+getUriPanel(item.Order)" data-toggle="collapse" :data-target="'#'+getUriPanel(item.Order)">
                                        <i class="glyphicon glyphicon-chevron-up" style="margin-right: 5px;" aria-hidden="true"></i>Заказ
                                        {{ item.Order.Guid }} от {{ dateFormat(item.Order.OrderDate) }}
                                    </a>
                                </div>
                                <div class="col-md-5 text-right">
                                    <span class="label label-primary">{{ item.Order.Status.View }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body panel-collapse collapse in" :id="getUriPanel(item.Order)">
                            <order-info :order="getOrderList(item)"></order-info>
                        </div>
                    </div>
                </template>
                <template v-else>
                    <div class="alert alert-warning"> Заказы не найдены...</div>
                </template>
            </template>
        </div>

    </div>
</template>

<script>
    import OrderListFilter from './order-list-filter.vue'
    import OrderInfo from './../order-info.vue'
    export default {
        data: function () {
            return {
                filterForm: {
                    Status: 'opened',
                    Search: null,
                    FromDate: null,

                    ToDate: null
                },
                updateList: false,
                orderList: null
            }
        },
        components: {
            OrderListFilter,
            OrderInfo
        },
        methods: {
            getOrderList: function (item) {
                let order = item.Order;
                for (let index in order['Products']) {
                    order['Products'][index]['BaseData'] = {
                        price: order['Products'][index]['ProductPrice'],
                        count: order['Products'][index]['ProductCount'],
                    }
                    order['Products'][index]['Sku'] = order['Products'][index]['Product']['Sku'];
                    order['Products'][index]['Name'] = order['Products'][index]['Product']['Name'];
                    order['Products'][index]['ProductImgUrl'] = document.sites[0].url.trim() + '/wp-admin/admin-ajax.php?action=get-image&guid=' + order['Products'][index]['Product']['Guid'];
                    order['Products'][index]['ProductUrl'] = document.sites[0].url.trim() + '/?mgproduct=' + order['Products'][index]['Product']['Guid'];
                }
                return order;
            },
            getUriPanel: function (order) {
                return ('order-body-' + order.Id);
            },
            dateFormat: function (date) {
                date = new Date();

                var formatter = new Intl.DateTimeFormat("ru");
                return (formatter.format(date))

       
            },
            updateOrdelList: function () {
                this.updateList = true;
                var formData = new FormData();

                for (var key in this.filterForm) {
                    let value = this.filterForm[key] ?? "";
                    formData.append(key, value);
                }
                fetch('/Orders/List', {
                    method: 'POST',
                    body: formData
                }).then((response) => response.json())
                    .then((data) => {
                        this.updateList = false;
                        this.orderList = data;
                    })
                    .catch(error => console.error(error));
            }
        },
        created: function () {
            this.updateOrdelList();
            this.$on("updateFilterForm");
        }
    }
</script>

<style scoped>
    .oder-form {
        position: relative;
        min-height: 100px;
    }

    .label-primary {
        background-color: #2b74e8 !important;
    }

    .order-list-update {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background-color: rgba(255, 255, 255, .8);
    }
</style>