﻿
@{
    ViewData["Title"] = "Мои проекты";
}

<div class="alert alert-info text-center">
    В данном разделе находятся Ваши индивидуальные проекты.<br />
    Если Вы когда-либо заказывали расчёт стоимости товара под заказ с изменениями, то информация по данному товару будет отображаться здесь.
</div>

<script type="text/javascript">
    window.model = @Json.Serialize(Model);
</script>

<div id="app">
    <partial name="_loader" />
</div>

@section Scripts {
    <environment include="Development">
        <script src="~/dist/projects.min.js"></script>
    </environment>

    <environment exclude="Development">
        <script src="~/dist/projects.min.js" asp-append-version="true"></script>
    </environment>
}
