﻿@model anketa.Models.Database.CreditApplication
@{
    ViewData["Title"] = "Оформление кредитной заявки";
}
<div class="hidden-lg hidden-md hidden-xs" style="margin-top: 70px;"></div>
<form asp-action="Index" asp-route-credit="@ViewBag.IsCredit" asp-route-period="@ViewBag.Period" method="post">
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label asp-for="BorrowerLastName" class="control-label"></label>
                        <input asp-for="BorrowerLastName" class="form-control" />
                        <span asp-validation-for="BorrowerLastName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label asp-for="BorrowerFirstName" class="control-label"></label>
                        <input asp-for="BorrowerFirstName" class="form-control" />
                        <span asp-validation-for="BorrowerFirstName" class="text-danger"></span>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                        <label asp-for="BorrowerMiddleName" class="control-label"></label>
                        <input asp-for="BorrowerMiddleName" class="form-control" />
                        <span asp-validation-for="BorrowerMiddleName" class="text-danger"></span>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-lg-offset-2 col-md-offset-2 col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-6 col-sm-6 col-sm-12 col-xs-12">
                        <label asp-for="PassportSerial" class="control-label"></label>
                        <input asp-for="PassportSerial" class="form-control" />
                        <span asp-validation-for="PassportSerial" class="text-danger"></span>
                    </div>
                    <div class="col-lg-6 col-sm-6 col-sm-12 col-xs-12">
                        <label asp-for="PassportNumber" class="control-label"></label>
                        <input asp-for="PassportNumber" class="form-control" />
                        <span asp-validation-for="PassportNumber" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="BorrowerEmail" class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12"></label>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <input asp-for="BorrowerEmail" class="form-control" />
                <span asp-validation-for="BorrowerEmail" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="BorrowerPhone" class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12"></label>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <input asp-for="BorrowerPhone" class="form-control " />
                <span asp-validation-for="BorrowerPhone" class="text-danger"></span>
            </div>
        </div>
    </div>
    <hr class="middle" />
    <div class="form-horizontal">
        <div class="form-group">
            <label asp-for="FirstPay" class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12"></label>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                        <div id="first-pay" style="margin: 8px;"></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                        <input asp-for="FirstPay" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="FirstPay" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="form-horizontal" id="credit-period-container">
        <div class="form-group">
            <label asp-for="CreditPeriod" class="control-label col-lg-2 col-md-2 col-sm-12 col-xs-12"></label>
            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-10 col-md-10 col-sm-9 col-xs-9">
                        <div id="credit-period" style="margin: 8px;"></div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3">
                        <input asp-for="CreditPeriod" class="form-control" />
                    </div>
                </div>
                <span asp-validation-for="CreditPeriod" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="clearfix" style="margin-top: 50px;"></div>
    <div class="row">
        <div class="form-horizontal col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="Sum" class="control-label col-lg-7 col-md-7 col-sm-12 col-xs-12">Стоимость покупки</label>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <input class="form-control" id="Sum" value="@(ViewBag.Sum.ToString() + " руб.")" readonly />
                </div>
            </div>
        </div>
        <div class="form-horizontal col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="FirstPaySum" class="control-label col-lg-7 col-md-7 col-sm-12 col-xs-12">Первонач. платеж</label>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <input class="form-control" id="FirstPaySum" value="0" readonly />
                </div>
            </div>
        </div>
        <div class="form-horizontal col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <div class="form-group">
                <label for="AverageMonthlyPayment" class="control-label col-lg-7 col-md-7 col-sm-12 col-xs-12">Средний ежемесяч. платеж</label>
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
                    <input class="form-control" id="AverageMonthlyPayment" value="0" readonly />
                </div>
            </div>
        </div>
    </div>

    <input asp-for="CreditSum" type="hidden" value="@ViewBag.Sum" />
    @foreach(var product in ViewBag.Products)
    {
        <input asp-for="ProductsViews" type="hidden" value="@product" />
    }

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
            <div class="form-horizontal"><div class="form-group"></div></div>
            <input type="submit" class="btn btn-primary" value="Отправить заявку" />
        </div>
    </div>
    <div class="alert alert-info">
        Отправляя заявку, Вы подтверждаете свое согласие на обработку персональных данных в соответствии с Федеральным законом ФЗ "О персональных данных" в целях предложения мне услуг сайтом или его партнерами.
    </div>
</form>

<script type="text/javascript">
    (function () {
        if (typeof window.app === 'undefined') window.app = {};
        window.app.credit = {
            isCredit: @Json.Serialize(ViewBag.IsCredit == 1),
            period: @(ViewBag.Period ?? 12),
        };
    })();   
</script>

@section Scripts {
    <environment include="Development">
        <script type="text/javascript" src="~/lib/nouislider/distribute/nouislider.js"></script>
        <script type="text/javascript" src="~/js/credit.js"></script>
        <link rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.css" />
    </environment>

    <environment exclude="Development">
        <script type="text/javascript" src="~/lib/nouislider/distribute/nouislider.min.js"></script>
        <script type="text/javascript" src="~/js/credit.min.js" asp-append-version="true"></script>
        <link rel="stylesheet" href="~/lib/nouislider/distribute/nouislider.min.css" />
    </environment>
}
