﻿
@{
    ViewData["Title"] = "Заявка зарегистрирована";
}

<h3>@ViewData["Title"]</h3>
<div class="clearfix" style="margin-top: 50px;"></div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
        <div class="alert alert-info">
            Ваша заявка зарегистрирована и наши менеджеры уже обрабатывают её.
        </div>
    </div>
</div>

