﻿@*
Код для обновления даты модификации заказов из форм редактирования контрагентов, адресов.
Нужен, чтобы не выгрузить заказ во время редактирования.
*@

<input type="text" class="hidden-field" id="mg-order-update" />
@if (ViewBag.SavedOrders != null)
{
    <script type="text/javascript">
        !function(o){var e=function(){if(o("#mg-order-update").is(":visible")){[@string.Join(", ", ViewBag.SavedOrders)].forEach(function(e,i,t){o.get('@Url.Action("EditingNow", "Orders")/'+e)}),setTimeout(e,3e4)}};setTimeout(e,1e3)}(jQuery);
    </script>
}