﻿<div class="Mychat_back">
    <a href="https://batutmaster.ru/mychat?group_name=sales" target="_blank">
    <span class="glyphicon glyphicon-comment" aria-hidden="true"></span><span class="anketa-widget-mychat-text">Консультант Онлайн</span></a></div>