﻿<template>
    <form ref="form" @submit="save">
        <div class="form-horizontal">
            <div class="form-group">
                <label v-asp asp-for="Phone" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <input type="text" class="form-control" v-model="model.phone" readonly />
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-default" @click="$refs.phoneSet.openDialog()">Указать другой номер</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label v-asp asp-for="Email" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <div class="row">
                        <div class="col-md-4" style="margin-bottom: 5px;">
                            <input type="text" class="form-control" v-model="model.email" readonly />
                        </div>
                        <div class="col-md-4">
                            <button class="btn btn-default" @click="$refs.emailSet.openDialog()">Указать другую почту</button>
                        </div>

                    </div>                  
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <span class="text-danger">{{ validation.contacts.error }}</span>
                </div>
            </div>

            <hr class="middle" />

            <!-- ФИО -->
            <div class="form-group">
                <div class="col-md-10 col-md-offset-2">
                    <div class="personal-name-user">
                        <div class="col-md-4">
                            <div class="form-group" :class="validation.model.lastName.classes">
                                <label v-asp asp-for="LastName" class="control-label"></label>
                                <div class="personal-name-user-input">
                                    <input v-asp asp-for="LastName" class="form-control" v-model="model.lastName" />
                                    <span class="text-danger">{{ validation.model.lastName.error }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group" :class="validation.model.firstName.classes">
                                <label v-asp asp-for="FirstName" class="control-label"></label>
                                <div class="personal-name-user-input">
                                    <input v-asp asp-for="FirstName" class="form-control" v-model="model.firstName" />
                                    <span class="text-danger">{{ validation.model.firstName.error }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label v-asp asp-for="MiddleName" class="control-label"></label>
                                <div>
                                    <input v-asp asp-for="MiddleName" class="form-control" v-model="model.middleName" />
                                    <span v-asp asp-validation-for="MiddleName" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Дата рождения -->
            <div class="form-group">
                <label v-asp asp-for="BirthdayDate" class="control-label col-md-2"></label> 
                <div class="col-md-10">
                    <input v-asp asp-for="BirthdayDate" type="date" class="form-control" v-model="model.birthdayDate" placeholder="ГГГГ-ММ-ДД"/>
                    <span v-asp asp-validation-for="BirthdayDate" class="text-danger"></span>
                </div>
            </div>

            <!-- Пол -->
            <!--<div class="form-group">
                <label v-asp asp-for="Sex" class="control-label2 col-md-2"></label>
                <div class="col-md-10 sex-group">
                    <radio-button id="sex1" name="Sex" v-model="model.sex" :val="true">Мужской</radio-button>&nbsp;
                    <radio-button id="sex2" name="Sex" v-model="model.sex" :val="false">Женский</radio-button>
                </div>
            </div>-->

            <!-- Пароль -->
            <div class="form-group">
                <label v-asp asp-for="Password" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <button class="btn btn-default" @click="openChangePasswordDialog">Сменить пароль</button>
                </div>                
            </div>

            <!-- Чекбоксы -->
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <!--<checkbox id="PersonalDataProcessing" v-model="model.personalDataProcessing">
                        Согласен на обработку персональных данных. Политика персональных данных
                        <a href="https://batutmaster.ru/politika-bezopasnosti-personalnykh-dannykh" target="_blank">здесь</a>.
                    </checkbox>-->
                    <checkbox id="consentToNewsletter" v-model="model.consentToNewsletter">
                        Даю согласие на получение рекламных материалов посредством смс, email или телефонных звонков.
                    </checkbox>
                </div>
                <div class="col-md-offset-2 col-md-10" style="margin-top: 5px;">
                    <span v-asp asp-validation-for="PersonalDataProcessing" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-8">
                    Нажимая кнопку "Сохранить", Вы соглашаетесь на обработку персональных данных.<br />
                    Политика персональных данных <a href="https://batutmaster.ru/politika-bezopasnosti-personalnykh-dannykh" target="_blank">здесь</a>.
                </div>
                <div class="col-md-4 text-right">
                    <input type="submit" class="btn btn-primary" value="Сохранить" />
                </div>
            </div>
        </div>

        <!-- Диалог смены пароля -->
        <modal-dialog ref="changePasswordDialog">
            <template v-slot:title>Смена пароля</template>
            <div class="form-horizontal">
                <div class="form-group" :class="validation.password.classes">
                    <label class="control-label col-md-3">Новый пароль:</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" v-model="password" />
                        <span class="text-danger">{{ validation.password.error }}</span>
                    </div>
                </div>
                <div class="form-group" :class="validation.passwordConfirm.classes">
                    <label class="control-label col-md-3">Подтверждение пароля:</label>
                    <div class="col-md-9">
                        <input type="password" class="form-control" v-model="passwordConfirm" />
                        <span class="text-danger">{{ validation.passwordConfirm.error }}</span>
                    </div>
                </div>
            </div>
            <template v-slot:footer>
                <button class="btn btn-danger" @click="$refs.changePasswordDialog.closeDialog()">Отмена</button>
                <button class="btn btn-primary" @click="changePassword" :class="{ disabled: !validation.isValid() }">Сменить пароль</button>
            </template>
        </modal-dialog>

        <!-- Диалог указания номера -->
        <modal-dialog ref="phoneSet" :small="true" x-style="min-width: 333px;">
            <account-login-by-phone :captcha-modal="false" @contact-confirmed="contactConfirmSuccess"></account-login-by-phone>
        </modal-dialog>

        <!-- Диалог указания почты -->
        <modal-dialog ref="emailSet" :small="true" x-style="min-width: 333px;">
            <account-login-by-email :captcha-modal="false" :disable-password-login="true" @contact-confirmed="contactConfirmSuccess"></account-login-by-email>
        </modal-dialog>

        <loader :fullscreen="true" v-show="savingInProgress"></loader>
    </form>
</template>

<script>
    import ModelMixin from '../../mixins/model'
    import Razor from '../../mixins/razor'
    import ValidationMixin from '../../mixins/validation'
    import AntiForgeryTokenMixin from '../../mixins/antiForgeryToken'

    import RadioButton from '../../elements/radio-button.vue'
    import Checkbox from '../../elements/checkbox.vue'
    import PhoneInput from '../../elements/phone-input.vue'
    import PhoneConfirmation from '../../phone-confirmation.vue'
    import EmailInput from '../../elements/email-input.vue'
    import EmailConfirmation from '../../email-confirmation.vue'
    import ModalDialog from '../../modal-dialog.vue'

    import AccountLoginByPhone from '../../login/account-login-by-phone.vue'
    import AccountLoginByEmail from '../../login/account-login-by-email.vue'

    import Loader from '../../loader.vue'

    import fetch from 'isomorphic-fetch'

    export default {
        mixins: [ModelMixin, Razor, ValidationMixin, AntiForgeryTokenMixin],
        components: {
            RadioButton,
            Checkbox,
            PhoneInput,
            PhoneConfirmation,
            EmailInput,
            EmailConfirmation,
            Loader,
            ModalDialog,
            AccountLoginByPhone,
            AccountLoginByEmail,
        },
        data: function () {
            return {
                model: null,
                confirmedContactsLoaded: false,
                confirmedPhones: [],
                confirmedEmails: [],
                savingInProgress: false,
                password: null,
                passwordConfirm: null,
            };
        },
        computed: {
            currentPhoneConfirmed: function () {
                return this.model.phone === null || this.model.phone.length === 0 || this.isPhoneConfirmed(this.model.phone);
            },
            currentEmailConfirmed: function () {
                return this.model.email === null || this.model.email.length === 0 || this.isEmailConfirmed(this.model.email);
            },    
        },
        methods: {
            isPhoneConfirmed(phone) {
                if (!this.confirmedContactsLoaded) return true;
                let p = phone.replace(/[^\d+]/g, '');
                let confirmed = this.confirmedPhones.filter(e => {
                    return e.replace(/[^\d+]/g, '') === p;
                });
                return confirmed.length > 0;
            },
            isEmailConfirmed(email) {
                if (!this.confirmedContactsLoaded) return true;
                let confirmed = this.confirmedEmails.filter(e => {
                    return e.toLowerCase() === email.toLowerCase();
                });
                return confirmed.length > 0;
            },
            phoneConfirmed(phone) {
                this.confirmedPhones.push(phone);
            },
            emailConfirmed(email) {
                this.confirmedEmails.push(email);
            },
            save(event) {
                event.preventDefault();

                let validationCheck = {
                    exclude: ['password', 'passwordConfirm'],
                };

                if (this.validation.isValid(validationCheck)) {
                    this.savingInProgress = true;
                    fetch('/Cabinet/PersonalData', {
                        method: 'post',
                        body: JSON.stringify(this.model),
                        headers: this.buildHeadersWithVerificationToken({
                            'Content-Type': 'application/json',
                        }),
                    }).then(response => response.json()).then(response => {
                        this.savingInProgress = false;
                    });
                } else {
                    alert('Проверьте введенные данные.');
                }
            },
            openChangePasswordDialog() {
                this.password = null;
                this.passwordConfirm = null;
                this.$refs.changePasswordDialog.openDialog();
            },
            changePassword() {
                if (this.validation.isValid({ include: ['password', 'passwordConfirm'] })) {
                    this.savingInProgress = true;
                    fetch('/Account/ChangePassword', {
                        method: 'post',
                        headers: this.buildHeadersWithVerificationToken({
                            'Content-Type': 'application/json',
                        }),
                        body: JSON.stringify({
                            password: this.password,
                            passwordConfirm: this.passwordConfirm,
                        }),
                    }).then(response => response.json()).then(response => {
                        this.savingInProgress = false;
                        if (response.success) {
                            this.$refs.changePasswordDialog.closeDialog();
                        }
                        alert(response.message);
                    });
                }
            },
            contactConfirmSuccess(contact) {
                if (contact.type === 'phone') {
                    this.confirmedPhones.push(contact.contact);
                    this.model.phone = contact.contact;
                    this.$refs.phoneSet.closeDialog();
                }
                else if (contact.type === 'email') {
                    this.confirmedEmails.push(contact.contact);
                    this.model.email = contact.contact;
                    this.$refs.emailSet.closeDialog();
                }
            },
        },
        created() {
            this.setAspModel(this.models.user);
            this.model = window.model;

            // Инициализируем систему валидации
            this.initValidation([
                'model.firstName',
                'model.lastName',
                'model.phone',
                'model.email',
                'password',
                'passwordConfirm',
                'contacts',
            ], (errors) => {
                let passwordLen = this.password === null ? 0 : this.password.length;
                let passwordConfirmLen = this.passwordConfirm === null ? 0 : this.passwordConfirm.length;

                let empty = (x) => x === null || x.length === 0;

                errors.setError('password', 'Пароль не указан.', passwordLen === 0);
                errors.setError('password', 'Пароль содержит пробелы.', passwordLen > 0 && this.password.match(/\s/g) !== null);
                errors.setError('password', 'Пароль должен состоять минимум из 6 символов.', passwordLen < 6);
                errors.setError('passwordConfirm', 'Подтверждение пароля не указано.', passwordConfirmLen === 0);
                errors.setError('passwordConfirm', 'Пароли не совпадают.', passwordLen > 0 && this.password != this.passwordConfirm);

                errors.setError('model.firstName', 'Имя не указано.', empty(this.model.firstName));
                errors.setError('model.lastName', 'Фамилия не указана.', empty(this.model.lastName));

                errors.setError('model.phone', 'Телефон не подтвержден.', !this.currentPhoneConfirmed);
                errors.setError('model.email', 'Почта не подтверждена.', !this.currentEmailConfirmed);

                let phoneIsSet = !empty(this.model.phone) && this.currentPhoneConfirmed;
                let emailIsSet = !empty(this.model.email) && this.currentEmailConfirmed;
                errors.setError('contacts', 'Не указано ни одного подтвержденного контакта', !phoneIsSet && !emailIsSet);
            },
            {
                'model.firstName, model.lastName': {
                    classes: {
                        success: null,
                    }
                }
            });

            // Обновляем формат даты
            if (this.model.birthdayDate !== null && this.model.birthdayDate.length >= 10) {
                this.model.birthdayDate = this.model.birthdayDate.substr(0, 10);
            }

            // Получаем подтвержденные контакты
            fetch('/Account/GetPersonalData').then(response => response.json()).then(response => {
                this.confirmedContactsLoaded = true;
                this.confirmedPhones = response.confirmedPhones;
                this.confirmedEmails = response.confirmedEmails;
            });
        },
    };
</script>

<style>
    .sex-group div {
        display: inline-block;
    }
</style>